﻿@using FPModels.Models;
@model DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Content/js/UserDashboard.js"></script>
    <!--Begin::Section-->
<div class="m-content">
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Top Products-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                App Trends
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlTrend" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>
                      
                    </div>
                </div>
                <div class="m-portlet__body">
                    
                    <!--begin::Widget5-->
                    <div class="m-widget4">
                        <div class="m-widget4__chart m-portlet-fit--sides m--margin-top-10 m--margin-top-20" style="height:180px">
                            @*<canvas id="m_chart_trends_stats"></canvas>*@
                            <div id="m_chart_trends_stats" style="height:180px;"></div>
                        </div>
                        <div class="m-widget4__item"  style="padding:40px 0 10px">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="/content/images/app-download.png" alt="app-download">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    App Downloads
                                </span><br>
                                <span class="m-widget4__sub">
                                    Usage
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number @(Model.TrendModel.AppDownload>=0?"m--font-success":"m--font-danger")" id="spanAppDownload">
                                    @Model.TrendModel.AppDownload
                                </span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="/content/images/share.png" alt="share">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    Shares
                                </span><br>
                                <span class="m-widget4__sub">
                                    Reach
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number @(Model.TrendModel.Share>=0?"m--font-success":"m--font-danger")" id="spanShare">
                                    @Model.TrendModel.Share
                                </span>
                            </span>
                        </div>
                        <div class="m-widget4__item">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="/content/images/donate.png" alt="donate">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    Donations
                                </span><br>
                                <span class="m-widget4__sub">
                                  
                                     Supporters
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number @(Model.TrendModel.Donation>=0?"m--font-success":"m--font-danger")" id="spanPctDonation">
                                    %@Model.TrendModel.Donation
                                </span>
                            </span>
                        </div>
                    </div>

                    <!--end::Widget 5-->
                </div>
            </div>

            <!--end:: Widgets/Top Products-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Activity-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                                Activity
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlActivity" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>                      
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget17">
                        <div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-danger">
                            <div class="m-widget17__chart" style="height:250px;">
                                <canvas id="m_chart_activities"></canvas>
                            </div>
                        </div>
                        <div class="m-widget17__stats">
                            <div class="m-widget17__items m-widget17__items-col1">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <img src="/content/images/new.png" alt="new">
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        New Downloads
                                    </span>
                                    <span class="m-widget17__desc" id="spanNewDownloads">
                                        @Model.ActivityModel.NewDownload
                                    </span>
                                </div>
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <img src="/content/images/news-icon.png" alt="headline">
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        News
                                    </span>
                                    <span class="m-widget17__desc" id="spanExclusiveHeadlines">
                                        @Model.ActivityModel.ExclusiveHeadline
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget17__items m-widget17__items-col2">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <img src="~/Content/images/user.png" alt="user">
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        Active Users
                                    </span>
                                    <span class="m-widget17__desc" id="spanActiveUsers">
                                        @Model.ActivityModel.ActiveUser
                                    </span>
                                </div>
                                @*<div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <img src="/content/images/news-icon.png" alt="news-icon">
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        News
                                    </span>
                                    <span class="m-widget17__desc" id="spanNews">
                                        @Model.ActivityModel.News
                                    </span>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Activity-->
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                            @*<button type="button" class="btn btn-sm m-btn--pill  btn-brand">Exclusive Headlines</button>*@
                            <span style="background-color: #053367;
    color: #fff;
    padding: 8px 10px;
    border-radius: 23px;">News</span>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height: 256px;  background: #204279;">
                            @*<img src="/content/images/news-img.jpg" alt="news-img">*@
                            <img src="/@Model.HeadlineModel.ImagePath" 
                                  onerror="this.onerror=null;this.src='/content/images/newsHeadline.png';"
                                  alt="Exclusive Headline">
                            <h3 class="m-widget19__title m--font-light">
                                @*@Model.HeadlineModel.PostTime*@
                                Most Recent Post
                                <span class="dash_headline_date">@Model.HeadlineModel.PostTime</span>
                                @*IMost Recent post January 14, 2019 | 11:00 AM*@
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">
                                    <img class="m-widget19__img"
                                         src="/@Model.HeadlineModel.ProfilePic"
                                         onerror="this.onerror=null;this.src='/upload/ProfilePics/user-profile.png';"
                                         alt="Author">
                                </div>
                                <div class="m-widget19__info">
                                    <span class="m-widget19__username">
                                        @Model.HeadlineModel.UserName
                                    </span><br>
                                    <span class="m-widget19__time">
                                        @Model.HeadlineModel.UserTitle
                                        @*UX/UI Designer, Google*@
                                    </span>
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
                                        @Model.HeadlineModel.Share
                                    </span>
                                    <span class="m-widget19__comment">
                                        Shares
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                                @if (!String.IsNullOrEmpty(Model.HeadlineModel.Content))
                                {
                                    if (Model.HeadlineModel.Content.Length > 200)
                                    {
                                      <p>@Model.HeadlineModel.Content.Substring(0,200)...</p>
                                    }
                                    else
                                    {
                                      <p>@Model.HeadlineModel.Content</p>
                                    }
                                }


                            </div>
                        </div>
                        <div class="m-widget19__action" style="position: absolute; bottom: 55px;">
                            <a href="@Url.Action("readmore","headline",new {hid=Model.HeadlineModel.HeadlineId })" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Blog-->
        </div>
    </div>

    <!--End::Section-->
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-8">
            <div class="m-portlet m-portlet--mobile m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Top 3 Trending Articles
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget4_tab1_content" role="tab">
                                    This Month
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab2_content" role="tab">
                                    Last Month
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget4_tab3_content" role="tab">
                                    All Time
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget4_tab1_content">
                            <!--begin: Datatable -->
                            <div id="m_widget4_tab1_content_print">
                                <table class="table table-responsive table-striped- table-hover trending-table" id="m_table_1" style="min-height:292px;">
                                    <thead>
                                        <tr>                                            
                                            <th width="38%">Title</th>
                                            <th width="15%">Date</th>
                                            <th width="15%">Shares</th>
                                            <th width="15%">Views</th>
                                            <th width="18%">Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model._TrendArticle != null && Model._TrendArticle.Where(x => x.DurationType == "This Month").Count() > 0)
                                        {
                                            foreach (var item in Model._TrendArticle.Where(x => x.DurationType == "This Month"))
                                            {
                                                <tr>
                                                    @*<td>
                                                        <div class="m-widget2__checkbox">
                                                            <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                                <input type="checkbox">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>*@

                                                    <td>
                                                        <a href="@Url.Action("readmore", "news", new { nid = item.NewsId  })">
                                                            @item.Title
                                                        </a>
                                                    </td>
                                                    <td>@item.PuplishDate</td>
                                                    <td>@item.Share</td>
                                                    <td>@item.Viewer</td>
                                                    <td class="author-name">@item.UserName</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <span class="nodata">No data found</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right generate-report-btn">
                                <button type="button" class="btn btn-success m-btn--pill GenerateReportclick" db="this">Generate Report</button>
                            </div>
                            <!--end: Datatable -->
                        </div>
                        <div class="tab-pane" id="m_widget4_tab2_content">
                            <div id="m_widget4_tab2_content_print"> 
                                <table class="table table-responsive table-striped- table-hover trending-table" id="m_table_1" style="min-height:292px;">
                                    <thead>
                                        <tr>
                                            <th width="38%">Title</th>
                                            <th width="15%">Date</th>
                                            <th width="15%">Shares</th>
                                            <th width="15%">Views</th>
                                            <th width="18%">Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model._TrendArticle != null && Model._TrendArticle.Where(x => x.DurationType == "Last Month").Count() > 0)
                                        {
                                            foreach (var item in Model._TrendArticle.Where(x => x.DurationType == "Last Month"))
                                            {
                                                <tr>
                                                    @*<td>
                                <div class="m-widget2__checkbox">
                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                            </td>*@

                                                    <td>
                                                        <a href="@Url.Action("readmore", "news", new { nid = item.NewsId  })">
                                                            @item.Title
                                                        </a>
                                                    </td>
                                                    <td>@item.PuplishDate</td>
                                                    <td>@item.Share</td>
                                                    <td>@item.Viewer</td>
                                                    <td class="author-name">@item.UserName</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <span class="nodata">No data found</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                               
                            </div>
                            <div class="text-right generate-report-btn">
                                <button type="button" class="btn btn-success m-btn--pill GenerateReportclick" db="last">Generate Report</button>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_widget4_tab3_content">
                            <div id="m_widget4_tab3_content_print">
                                <table class="table table-responsive table-striped- table-hover trending-table" id="m_table_1" style="min-height:292px;">
                                    <thead>
                                        <tr>                                           
                                            <th width="38%">Title</th>
                                            <th width="15%">Date</th>
                                            <th width="15%">Shares</th>
                                            <th width="15%">Views</th>
                                            <th width="18%">Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model._TrendArticle != null && Model._TrendArticle.Where(x => x.DurationType == "All Time").Count() > 0)
                                        {
                                            foreach (var item in Model._TrendArticle.Where(x => x.DurationType == "All Time"))
                                            {
                                                <tr>
                                                    @*<td>
                                                        <div class="m-widget2__checkbox">
                                                            <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                                                <input type="checkbox">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </td>*@

                                                    <td>
                                                        <a href="@Url.Action("readmore", "news", new { nid = item.NewsId })">
                                                            @item.Title
                                                        </a>
                                                    </td>
                                                    <td>@item.PuplishDate</td>
                                                    <td>@item.Share</td>
                                                    <td>@item.Viewer</td>
                                                    <td class="author-name">@item.UserName</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <span class="nodata">No data found</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right generate-report-btn">
                                <button type="button" class="btn btn-success m-btn--pill GenerateReportclick" db="all">Generate Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">

            <!--begin:: Widgets/Audit Log-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " style="min-height: 245px">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                @if (Model.PageAccessModel.involvement)
                                {
                                    <a href="@Url.Action("index", "involvements")" style="text-decoration:underline; color:#666674;">
                                        Total Volunteers
                                    </a>
                                }
                                else
                                {
                                    <a style="color:#666674;">
                                        Total Volunteers
                                    </a>
                                }
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools" style="position:relative; z-index:9;">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlVolunteer" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Widget5-->
                    <div class="m-widget20">
                        <div class="m-widget20__number m--font-success" id="spanVolunteer">@Model.VolunteerModel.Volunteer</div>
                        <div class="m-widget20__chart" style="height:160px;">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                    </div>
                                </div>
                            </div>
                            <canvas id="m_chart_bandwidth2" width="325" height="160" class="chartjs-render-monitor" style="display: block; width: 325px; height: 160px;"></canvas>

                        </div>
                    </div>

                    <!--end::Widget 5-->
                </div>
                @*<div class="text-right generate-report-btn" style="position: absolute; right: 35px; margin: 0px; top: 4px;">
                    <a href="/involvements/index" class="btn btn-success m-btn--pill" style="z-index:999;padding: 12px 12px;">View Details</a>
                </div>*@
            </div>

            <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " style="min-height: 245px">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                @if (Model.PageAccessModel.Donation)
                                {
                                    <a href="@Url.Action("index", "donation")" style="text-decoration:underline; color:#666674;">
                                        Total Donations
                                    </a>
                                }
                                else
                                {
                                    <a style="color:#666674;">
                                        Total Donations
                                    </a>
                                }
                                </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools" style="position:relative; z-index:9;">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlDonation" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Widget5-->
                    <div class="m-widget20">
                        <div class="m-widget20__number m--font-danger" id="spanDonation">$@Model.DonationModel.Donation</div>
                        <div class="m-widget20__chart" style="height:160px;">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                    </div>
                                </div>
                            </div>
                            <canvas id="m_chart_bandwidth1" width="325" height="160" class="chartjs-render-monitor" style="display: block; width: 325px; height: 160px;"></canvas>
                        </div>
                    </div>

                    <!--end::Widget 5-->
                </div>
                @*<div class="text-right generate-report-btn" style="position: absolute; right: 35px; margin: 0px; top: 4px;">
                    <a href="/donation/index" class="btn btn-success m-btn--pill" style="z-index:999;  padding: 12px 12px;">View Details</a>
                </div>*@
            </div>

            <!--end:: Widgets/Audit Log-->
        </div>
    </div>

    <!--End::Section-->
    <div class="row">
        <div class="col-xl-6">

            <!--begin:: Widgets/Finance Summary-->
            <div class="m-portlet m-portlet--full-height m-portlet--fit ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                In-App Messages Summary
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlAppMessage" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="m-widget12 m-widget12--chart-bottom m--margin-top-10">
                                <div class="m-widget12__item">
                                    <span class="m-widget12__text1">
                                        <span class="sent-new">Sent New</span> <br>
                                        <span class="sent-value" id="spanAppNewSent">
                                            @Model.AppSummaryModel.NewSent
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget12__item">
                                    <span class="m-widget12__text1">
                                        Opened<br>
                                        <span id="spanAppOpened">@Model.AppSummaryModel.Opened</span>
                                    </span>
                                    <span class="m-widget12__text2">
                                        Unopened<br>
                                        <span id="spanAppUnopened">@Model.AppSummaryModel.Unopened</span>
                                    </span>
                                </div>
                                <div class="m-widget12__item">
                                    <span class="m-widget12__text1">
                                        Shares<br>
                                        <span id="spanAppShare">@Model.AppSummaryModel.Share</span>
                                    </span>
                                    <div class="m-widget12__text2">
                                        <div class="m-widget12__desc">Success Rate</div>
                                        <br>
                                        <div class="m-widget12__progress">
                                            <div class="m-widget12__progress-sm progress m-progress--sm">
                                                <div class="m-widget12__progress-bar progress-bar bg-brand"
                                                     id="divAppSummaryPB"
                                                     role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                                     style="width:@Model.AppSummaryModel.SuccessRate%">

                                                </div>
                                            </div>
                                            <span class="m-widget12__stats" id="spanAppSummaryPBText">
                                                @Model.AppSummaryModel.SuccessRate%
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane">
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Finance Summary-->
        </div>
        <div class="col-xl-6">
            <div class="m-portlet  m-portlet--full-height ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Users
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select id="ddlFollower" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget16">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="m-widget16__head">
                                    <div class="m-widget16__item">
                                        <span class="m-widget16__sceduled">
                                            Total
                                        </span>
                                        <span class="m-widget16__amount m--align-right" id="spanTotalFollower">
                                            @Model.FollowerModel.TotalFollower
                                        </span>
                                    </div>
                                </div>
                                <div class="m-widget16__body">
                                    <!--begin::widget item-->
                                    <div class="m-widget16__item">
                                        <span class="m-widget16__date">
                                            Active
                                        </span>
                                        <span class="m-widget16__price m--align-right m--font-success" id="spanActiveFollower">
                                            @Model.FollowerModel.ActiveFollower
                                        </span>
                                    </div>

                                    <!--end::widget item-->
                                    <!--begin::widget item-->
                                    <div class="m-widget16__item">
                                        <span class="m-widget16__date">
                                            Inactive
                                        </span>
                                        <span class="m-widget16__price m--align-right m--font-danger" id="spanInactiveFollower">
                                            @Model.FollowerModel.InactiveFollower
                                        </span>
                                    </div>

                                    <!--end::widget item-->
                                    <!--begin::widget item-->
                                    <div class="m-widget16__item">
                                        <span class="m-widget16__date">
                                            iOS
                                        </span>
                                        <span class="m-widget16__price m--align-right m--font-danger" id="spanIOSFollower">
                                            @Model.FollowerModel.IOSText
                                        </span>
                                    </div>

                                    <!--end::widget item-->
                                    <!--begin::widget item-->
                                    <div class="m-widget16__item">
                                        <span class="m-widget16__date">
                                            Android
                                        </span>
                                        <span class="m-widget16__price m--align-right m--font-brand" id="spanAndroidFollower">
                                            @Model.FollowerModel.AndroidText
                                        </span>
                                    </div>

                                    <!--end::widget item-->
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="m-widget16__stats">
                                    <div class="m-widget16__visual">
                                        <div id="m_chart_support_tickets2" class="m-widget16__chart" style="height: 180px">
                                          
                                        </div>
                                    </div>
                                    <div class="m-widget16__legends">
                                        <div class="m-widget16__legend">
                                            <span class="m-widget16__legend-bullet m--bg-danger"></span>
                                            <span class="m-widget16__legend-text">iOS</span>
                                        </div>
                                        <div class="m-widget16__legend">
                                            <span class="m-widget16__legend-bullet m--bg-brand"></span>
                                            <span class="m-widget16__legend-text">Android</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end:: section-->
    @*<script src="~/Content/js/dashboard.js" type="text/javascript"></script>*@

</div>

