﻿@using FPModels.Models
@model DonationCompaign
@{
    ViewBag.Title = "Campaign Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detail", "donationcompaign", FormMethod.Post))
{
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Campaign Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">
                    <li>
                        @Html.HiddenFor(m => m.EncryptedCampaignId)
                        <label>Title</label>
                        <p>
                            @Model.CampaignTitle
                        </p>
                    </li>
                    <li>
                        <label>Description</label>
                        <p>
                            @Model.CampaignDesc
                        </p>
                    </li>
                    <li>
                        <label>Start Date</label>
                        <p>@Model.StartDate</p>
                    </li>
                    <li>
                        <label>End Date</label>
                        <p>@Model.EndDate</p>
                    </li>

                    <li>
                        <label>Status</label>
                        <p>@Model.Status</p>
                    </li>
                    <li>
                        <label>URL For In-App Sharing </label>
                           <p>@Model.CampaignUrl 
                                <a href="@Model.CampaignUrl" class="copy_text"><i class="far fa-copy" style="font-size:18px;margin-left:5px;color:#666674;"></i></a>
                            </p>
                       
                    </li>
                    <li>
                        <label>URL For Web Sharing</label>
                        <p>@Model.CampaignWebUrl  <a href="@Model.CampaignWebUrl" class="copy_text1"><i class="far fa-copy" style="font-size:18px;margin-left:5px;color:#666674;"></i></a></p>
                     </li>


                </ul>
                <div class="m-form__actions form-buttons">
                    @if (FPBAL.Business.MenuAccess.Allow("edit"))
                    {


                        
                        <a href="@Url.Action("createoredit", "donationcompaign", new { cid = Model.EncryptedCampaignId })" class="btn btn-primary">Edit</a>

                        @*if (Model.Status != "Archived")
            {
                <a href="/donationcompaign/archive?id=@Model.EncryptedCampaignId" class="btn btn-secondary">
                    Archive
                </a>
            }*@
                    }
                    @if (FPBAL.Business.MenuAccess.Allow("delete") && (Model.Status != "Published"))
                    {
                        if (Model.CampaignId > 1)
                        { 
                        <a href="/donationcompaign/delete?id=@Model.EncryptedCampaignId" class="btn btn-secondary">
                            Delete
                        </a>
                        }
                    }
                    <a href="/donationcompaign/index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>

}
<style>
    .btn-success {
        color: #fff;
        background-color: #F75175 !important;
        border-color: #F75175 !important;
    }
</style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $(".copy_text").click(function (e) {
            e.preventDefault();
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(this).attr('href')).select();
            document.execCommand("copy");
            $temp.remove();
         
            Swal.fire({
                title: "Success!",
                html: "Donation link copied",
                confirmButtonText: "OK",
                confirmButtonColor: "#F75175"
            })
        })
        $(".copy_text1").click(function (e) {
            e.preventDefault();
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(this).attr('href')).select();
            document.execCommand("copy");
            $temp.remove();

            Swal.fire({
                title: "Success!",
                html: "Donation link copied",
                confirmButtonText: "OK",
                confirmButtonColor: "#F75175"
            })
        })
    </script>
