﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>Privacy Policy- SCC WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }

        .cont_wrapper {
            box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }


                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="/dashboard/index">
                <img alt="logo" src="~/Content/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        <div class="subhead_title">
            <h3>Privacy Policy</h3>
        </div>
        <div class="privacy_cont_wrap">
            <p>
                This privacy notice discloses the privacy practices for the Sikh Chamber of Commerce (SCC). This privacy notice applies solely to information collected by this website. It will notify you of the following:
            </p>

            <ul>
                <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
                <li>What choices are available to you regarding the use of your data.</li>
                <li>The security procedures in place to protect the misuse of your information.</li>
                <li>How you can correct any inaccuracies in the information.</li>
            </ul>

            <p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Information Collection, Use, and Sharing </p>

            <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
            <p>In order to use this application, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.</p>
            <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
            <p>In order to invite the contacts to download the app, a user must first sync his contacts with the app. This information is used to share app's URL with your contacts. The application does not upload or store the contacts on the server.</p>



            <p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Your Access to and Control Over Information </p>

            <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
            <ul>
                <li>See what data we have about you, if any.</li>
                <li>Change/correct any data we have about you.</li>
                <li>Have us delete any data we have about you.</li>
                <li>Express any concern you have about our use of your data.</li>
            </ul>

            <p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;"> Security </p>

            <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
            <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

            <p>This application contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>


        </div>
    </div>
    <footer class="privacy_footer">
        <div class="copyright-wrap">
            <p class="footer_copyright">
                <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
            </p>
        </div>
    </footer>
</body>

</html>
