﻿@using FPModels.Models
@model InAppMessageModel
@if (Model != null)
{
    @*@using (Html.BeginForm("createoredit", "InAppMessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {*@
    <div class="m-content payment-form-wrapper">
        <div class="row">

            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Headline & Content
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.HiddenFor(m => m.MessageId)
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @maxlength = 200, @required = "required", @placeholder = "Write Title" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Title, "", new { })</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Content<req>*</req></label>
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Content, "", new { })</span>
                                <span class="m-form__help pull-right"></span>
                                <label class="m-form__help">We recommend you not to enter any donation campaign link in content.</label>
                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Time<req>*</req></label>
                                <div class="m-radio-list">
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio" })Now
                                        <span class="Published" onclick="Selection('Published');return false"></span>
                                    </label>

                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.PublishDate, new { @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                        <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                        <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                    </label>
                                </div>

                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                @*<span class="m-form__help">Please select one option</span>*@
                            </div>

                            <div class="m-form__group form-group">
                                <label for="">Add Button</label>
                                <div class="m-radio-list">
                                    @*@Html.HiddenFor(m => m.IsDonate, new { @id = "IsDonate", @style = "display:none;" })*@
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.IsDonate, "False", new { @id = "IsDonateNo", @class = "radio", @checked = true })None
                                        <span class="IsDonateNo" onclick="Selection('IsDonateNo');return false"></span>
                                    </label>

                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.IsDonate, "True", new { @id = "IsDonateYes", @class = "radio" })Donate Now
                                        <span class="IsDonateYes" onclick="Selection('IsDonateYes');return false"></span>
                                    </label>

                                </div>
                                <br />
                                <label for="">Donation URL</label>
                                @Html.TextBoxFor(m => m.URL, new { @class = "form-control m-input", @maxlength = "100", @id = "DonateURL", @style = "display: block;", @placeholder = "Write here" })
                                <span id="DonationURL" class="m-form__help field-validation-error"></span>
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.IsDonate, "", new { })</span>
                                <label for="">Use In-App sharing URL only.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Select radius for making this event visible for specific app users (optional)</label>
                                <div class="select-arrow">
                                    @Html.DropDownListFor(m => m.SelectedRadius, Model.Radius, new { @class = "form-control m-input", @id = "ddlRadius" })
                                </div>
                                @Html.ValidationMessageFor(m => m.SelectedRadius, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Country<req>*</req></label>
                                <div class="select-arrow">
                                    @Html.HiddenFor(m => m.StateName)
                                    @Html.HiddenFor(m => m.CountryName)
                                    @Html.DropDownListFor(m => m.CountryId, Model._CountryList, new { @id = "CountryId", @class = "form-control m-input country", @Value = "231" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control m-input", @id = "AddressLine1", @placeholder = "Address Line1", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 2</label>
                                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control m-input", @id = "AddressLine2", @placeholder = "Address Line2", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">City<req>*</req></label>
                                        @Html.TextBoxFor(m => m.CityName, new { @class = "form-control m-input AlphabetOnly", @id = "CityName", @placeholder = "City Name", @maxlength = "100" })
                                        @Html.ValidationMessageFor(m => m.CityName, "", new { @class = "m-form__help" })
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">State<req>*</req></label>
                                        <div class="select-arrow">
                                            @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @id = "StateId", @class = "form-control m-input state" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "m-form__help" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control m-input numbersOnly", @id = "ZipCode", @placeholder = "Zip", @maxlength = "6" })
                                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "m-form__help" })
                            </div>


                            @*<div class="form-group m-form__group">
                                    <label for="exampleSelect1">Select city for sending this message to specific app users (optional)</label>
                                    @Html.TextBoxFor(m => m.CityName, new { @class = "form-control m-input", @id = "txtEventCity" })


                                    <span class="m-form__help">@Html.ValidationMessageFor(m => m.CityName, "", new { @class = "m-form__help" })</span>
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">Select radius for sending this message to specific app users (optional)</label>
                                    @Html.DropDownListFor(m => m.SelectedRadius, Model.Radius, new { @class = "form-control m-input", @id = "ddlRadius" })


                                    <span class="m-form__help">@Html.ValidationMessageFor(m => m.SelectedRadius, "", new { @class = "m-form__help" })</span>
                                </div>*@
                            <div class="m-form__actions form-buttons">
                                @if (Model.MessageId == null)
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-primary">Publish</button>
                                }
                                else
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-primary">Update</button>
                                }
                                <a href="~/inappmessage/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Published").prop("checked", true);
        CheckSelection(@Model.Status);
    });
    $('#ddlRadius').change(function () {
        debugger;
        if ($('#ddlRadius').val() != "") {
            $("#AddressLine1").prop("required", "required");
            $("#CityName").prop("required", "required");
            // $("#ddlRadius").prop("required", "required");
            $("#CountryId").prop("required", "required");
            $("#StateId").prop("required", "required");
            $("#ZipCode").prop("required", "required");

            $("#CityName-error").show();
            $("#AddressLine1-error").show();
            $("#ZipCode-error").show();
            //$("#ddlRadius-error").show();


            return false;
        }
        else
            {
            $("#AddressLine1").prop("required", false);
            $("#CityName").prop("required", false);
            //$("#ddlRadius").prop("required", false);
            $("#CountryId").prop("required", false);
            $("#StateId").prop("required", false);
            $("#ZipCode").prop("required", false);
            $("#AddressLine1-error").hide();
            $("#CityName-error").hide();
            $("#ZipCode-error").hide();
            //$("#ddlRadius-error").hide();
            return true;
        }
    });
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {

        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);

        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $('#icon').css('display', 'none');
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
        else if ($('#' + id).val() == "Drafted") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
    }
    $('#btnSubmit').click(function () {
      

        if ($('#IsDonateYes').prop("checked") == true)  {
            
            if ($('#DonateURL').val() == "") {
                // $('#DonateURL').css('display', 'block');
                $('#DonateURL').prop('required', 'required');
                $("#DonationURL").text('Please enter Donation URL');
                return false;
            }
            else {
                return true;
            }
        }
        else if ($('#IsDonateYes').prop("checked") == false) {
            

            //$('#DonateURL').css('display', 'none');
            $('#DonateURL').prop('required', false);
            $("#DonationURL").text('');
            $('#DonateURL').val('');
        }
        else {
            return true;
        }
    });
    


</script>
