﻿@model FPModels.Models.BusinessModel

@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Headline&Content
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            @*<div class="form-group m-form__group">
                                    @Html.HiddenFor(m => m.UserId)
                                    @Html.HiddenFor(m => m.EncryptedUserId)
                                    <label for="exampleInputEmail1">Business Logo</label>
                                    @Html.TextBoxFor(m => m.LogoPath, new { @class = "form-control m-input numbersOnly", @placeholder = "Business Name", @maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.LogoPath, "", new { @class = "m-form__help" })
                                </div>*@
                  
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Business Name<req>*</req></label>
                                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control m-input", @placeholder = "Business Name", @maxlength = "50", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "m-form__help" })
                                    </div>

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Business Type</label>
                                        @Html.TextBoxFor(m => m.BusinessType, new { @class = "form-control m-input", @placeholder = "Business Type", @maxlength = "30" })
                                        @Html.ValidationMessageFor(m => m.BusinessType, "", new { @class = "m-form__help" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Category<req>*</req></label>
                                @Html.DropDownListFor(m => m.CategoryId, Model._CategoryList, new { @class = "form-control country input_img_desc m-input" })
                                @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Description<req>*</req></label>
                                @Html.TextBoxFor(m => m.BusinessDescription, new { @class = "form-control m-input", @placeholder = "Takeaway and dine-in cafe!" })
                                @Html.ValidationMessageFor(m => m.BusinessDescription, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Company</label>
                                @Html.TextBoxFor(m => m.Company, new { @class = "form-control m-input", @placeholder = "Company" })
                                @Html.ValidationMessageFor(m => m.Company, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-6">

                                        <label for="exampleInputEmail1">Street Line 1<req>*</req></label>
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control m-input", @placeholder = "Street Line 1", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "m-form__help" })

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Street Line 2</label>
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control m-input", @placeholder = "Street Line 2" })
                                        @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "m-form__help" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-6">

                                        <label for="exampleInputEmail1">City</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control m-input", @placeholder = "City", @maxlength = "50" })
                                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "m-form__help" })
                                    </div>

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">State<req>*</req></label>
                                        @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @class = "form-control country input_img_desc m-input" })
                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "m-form__help" })
                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="exampleInputEmail1">Country<req>*</req></label>
                                        @Html.DropDownListFor(m => m.CountryId, Model._CountryList, new { @class = "form-control country input_img_desc m-input" })
                                        @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "m-form__help" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Zip Code</label>
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control m-input", @placeholder = "Zip Code", @maxlength = "15" })
                                        @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "m-form__help" })

                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">Cellphone</label>
                                        <div class="add_delivery_time_edit row">
                                            <div class="col-md-5">
                                                @Html.DropDownListFor(m => m.ISDCode, Model._ISDCodeList, new { @class = "form-control Isd" })
                                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.ISDCode)</span>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(m => m.BusinessPhone, new { @class = "form-control m-input USMobileFormat", @placeholder = "Mobile", @maxlength = "12" })
                                                @Html.ValidationMessageFor(m => m.BusinessPhone, "", new { @class = "m-form__help" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">

                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Business Email</label>
                                @Html.TextBoxFor(m => m.BusinessEmail, new { @class = "form-control m-input", @placeholder = "Business Email", @maxlength = "60" })
                                @Html.ValidationMessageFor(m => m.BusinessEmail, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Business Websites<req>*</req></label>
                                @Html.TextBoxFor(m => m.BusinessWebsite, new { @class = "form-control m-input", @placeholder = "Business Website", @maxlength = "50", @required = "required" })
                                @Html.ValidationMessageFor(m => m.BusinessWebsite, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Established Year</label>
                                @Html.TextBoxFor(m => m.EstablishedYear, new { @class = "form-control m-input", @placeholder = "Established Year", @maxlength = "20" })
                                @Html.ValidationMessageFor(m => m.EstablishedYear, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control m-input", @placeholder = "Name", @maxlength = "60" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Title</label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @placeholder = "Title", @maxlength = "60" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputEmail1">Cellphone</label>
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.ISDCode, Model._ISDCodeList, new { @class = "form-control Isd" })
                                        <span class="m-form__help">@Html.ValidationMessageFor(m => m.ISDCode)</span>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control m-input USMobileFormat", @placeholder = "Mobile", @maxlength = "12" })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "m-form__help" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email", @maxlength = "60" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "m-form__help" })
                            </div>

                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Business Logo</label>
                                <div class="upload-btn-wrapper cropBoxDynamic" cTotalImg="1" cWidth="100" cHeight="100">
                                    <button type="button" class="btn">
                                        Upload
                                    </button>
                                </div>
                                <div class="upload_img_wrap" id="upload1d">
                                    @*Test=@Model.LogoPath*@
                                    @Html.HiddenFor(m => Model.LogoPath)
                                    @Html.HiddenFor(m => Model.ImageBase64, new { @id = "hfIB_0" })
                                    <img id="cross_0"
                                         class="cross @(String.IsNullOrEmpty(Model.LogoPath) ? "hide" : "show")"
                                         src='~/Content/images/close.png'
                                         db="#img_0" data="#hfIB_0" hfPath="#hfPath_0" />
                                    <img id="img_0"
                                         src="/@(String.IsNullOrEmpty(Model.LogoPath) ? "/content/images/blank.png" : Model.LogoPath)"
                                         data-animation="#file"
                                         onerror="this.onerror=null;this.src = '../content/images/no-image.png';"
                                         alt="Add Image"
                                         style="width:70px;height:60px;" />

                                    @Html.ValidationMessageFor(m => m.LogoPath, "", new { @class = "m-form__help" })
                                </div>

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Status<req></req></label>
                                @Html.DropDownListFor(m => m.StatusId, Model._StatusList, new { @class = "form-control country input_img_desc m-input" })
                                @Html.ValidationMessageFor(m => m.StatusId, "", new { @class = "m-form__help" })

                            </div>

                            <div class="m-form__actions form-buttons">
                                @if (Model.EncryptedUserId == null)
                                {
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                }
                                else
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        <a href="/refervendor/delete?lid=@Model.EncryptedBusinessId"
                                           class="btn btn-secondary"
                                           id="@Model.EncryptedBusinessId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>
                                    }
                                    <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                }
                                @Html.ActionLink("Cancel", "index", "Business", new { @id = "Cancel_", @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        //debugger;
        if ($('#Status').val() == "Active") {
            $('#StatusId').val('Active');

        }
        else {
            $('#StatusId').val('InActive');
        }
    });
      $("body").on("click", ".cross", function (e) {
        $(this).removeClass("show").addClass("hide");
          $("#img_0").attr("src", "");
        $("#hfPath_0").val('');
          $("hfPath_0").val('');
          $('#@Html.IdFor(m=>m.LogoPath)').val("");
         $('#img_0').hide();
    });
    $('#StatusId').change(function () {
        var status = $('#StatusId option:selected').text();
        $('#Status').val(status);
        $('#Status').val();
    });
     function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
          var href = '/refervendor/delete?lid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
</script>