﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Order confirmation </title>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    @*<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
  body { margin: 0; padding: 0; background: #e1e1e1; }
  div, p, a, li, td { -webkit-text-size-adjust: none; }
  .ReadMsgBody { width: 100%; background-color: #ffffff; }
  .ExternalClass { width: 100%; background-color: #ffffff; }
  body { width: 100%; height: 100%; background-color: #f2f3f8; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }
  html { width: 100%; }
  p { padding: 0 !important; margin-top: 0 !important; margin-right: 0 !important; margin-bottom: 0 !important; margin-left: 0 !important; }
  .visibleMobile { display: none; }
  .hiddenMobile { display: block; }

  @media only screen and (max-width: 600px) {
  body { width: auto !important; }
  table[class=fullTable] { width: 96% !important; clear: both; }
  table[class=fullPadding] { width: 85% !important; clear: both; }
  table[class=col] { width: 45% !important; }
  .erase { display: none; }
  }

  @media only screen and (max-width: 420px) {
  table[class=fullTable] { width: 100% !important; clear: both; }
  table[class=fullPadding] { width: 85% !important; clear: both; }
  table[class=col] { width: 100% !important; clear: both; }
  table[class=col] td { text-align: left !important; }
  .erase { display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; }
  .visibleMobile { display: block !important; }
  .hiddenMobile { display: none !important; }
  }
    </style>*@
    <title>View</title>
</head>
<body>


    <table cellpadding="0" cellspacing="0" style="width: 600px; margin:auto; border: 2px solid #e5e7f1;">
        <tbody>
            <tr>
                <td>
                    <!-- Header -->
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">

                        <tr>
                            <td>
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                                    <tr>
                                        <td>
                                            <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding" style="padding: 35px 0 35px;">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="left"> <img src="images/logo.png" width="148" height="92" alt="logo" border="0" /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col" style="text-align: right;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                            Date: <b>06/25/2019</b>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                            Time: <b>03:57 AM</b>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background: #f2f3f8; height: 20px;"></td>
                                    </tr>
                                </table>
                                <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                                    <tr>
                                        <td>
                                            <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size: 14px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: left;">
                                                                            Thank you for your contribution in support of Josh Gottheimer!
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background: #f2f3f8; height: 20px;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- /Header -->
                    <!-- Information -->
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding" style="background: #21427a;">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table width="300" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="background: #fff; padding: 35px 0px 35px 60px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                                    <strong>DONOR DETAIL</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="100%" height="10"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                                    Name: <b>Morgan Smith</b>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                                    Email: <b>morgan@kepleredge.com</b>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                                    Mobile: <b>+1 (917) 069-1234</b>
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-right: 10px;">
                                                                                    Address: </br><b>
                                                                                        42-49 Colden Street,</br>
                                                                                        Suite 11B, </br>
                                                                                        Flushing, NY 11355
                                                                                    </b>
                                                                                </td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="300" border="0" cellpadding="0" cellspacing="0" align="right" class="col" style=" padding: 23px 0 10px 40px; min-height: 255px; max-height: 320px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 1; ">
                                                                                    <strong>CONTRIBUTION DETAIL</strong>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 15px; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 20px; ">
                                                                                    Contribution ID: <b>90031</b>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 34px; font-weight: 600; color: #fff; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                                                                    $100.00
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 13px; color: #fff; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top;">
                                                                                    One-time contribution
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f2f3f8; height: 20px;"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                <strong>PAYMENT INFO</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                Transaction ID: <b>90031</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                Method: <b>Visa XXXX4242</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                <strong>STATUS</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 22px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                <b>Refunded</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                <strong>PAYMENT SUMMARY</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" height="10"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                Contribution Amount
                                                            </td>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                <b>$100.00</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" style="height: 2px; border-bottom: 2px solid #f2f3f8; padding: 3px 0;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                Total Charged
                                                            </td>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                <b>$100.00</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 20px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                                You can make more donations through the app download
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                <a href="#"><img src="images/playstore.png" alt="playstore" style="width: 110px;"></a>
                                                                <a href="#"><img src="images/appstore.png" alt="appstore" style="width: 110px;"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                                <a href="mailto:support@josh4congress.com;" style="color: #000;">support@josh4congress.com</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                                <a href="#" style="color: #3c3c3c; font-weight: 600;">Privacy Policy</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Terms & Conditions</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Donation Policy</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                                Designed & Developed by <a href="keplerbase.com"><img src="images/kepler-logo.png" alt="foot-logo" style="width: 20%;vertical-align: bottom; margin-left: 2px;"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>


