﻿@using FPModels.Models
@model DonationModel
@*<form class="m-form m-form--fit m-form--label-align-right ">
*@

<div id="dvPrintTransaction">

    <!-- BEGIN: Brand -->
    <div class="m-stack__item m-brand  m-brand--skin-dark LOGO_Div" style="box-shadow: none !important; padding: 0 !important;">
        <div class="m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-stack__item--middle m-brand__logo" style=" padding-left: 30px; height: auto !important;">
                <a class="m-brand__logo-wrapper">
                    <img alt="logo" src="/content/images/josh-logo.png">
                </a>
            </div>
        </div>
        <!-- END: Topbar -->
    </div>

    <br />
    <div class="m-portlet__body modal-body new_Print" style="display:none;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding" style="padding: 35px 0 35px;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"> <img src="~/Content/images/josh-logo.png" width="148" height="92" alt="logo" border="0" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col" style="text-align: right;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                Date: <b>@Model.TransactionDate</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                Time: <b>@Model.TransactionTime</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>
                    <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 14px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: left;">
                                                                Thank you for your contribution in support of Josh Gottheimer!
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- /Header -->
        <!-- Information -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">
            <tbody>
                <tr>
                    <td>
                        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding" style="background: #21427a;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="background: #fff; padding: 35px 0px 35px 60px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                        <strong>DONOR DETAIL</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="100%" height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                        Name: <b>@Model.CardHolderName</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                        Email:
                                                                        @if (Model.Email == "")
                                                                        {
                                                                            <b>-</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            <b>@Model.Email</b>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                                        Mobile:
                                                                        @if (Model.MobileNumber == "")
                                                                        {
                                                                            <b>-</b>
                                                                        }
                                                                        else
                                                                        {
                                                                            <b>
                                                                                @Model.ISDCode @Model.MobileNumber
                                                                            </b>
                                                                        }
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-right: 10px;">
                                                                         Address: </br>
                                                                        <b>
                                                                            @Model.AddressLine1,
                                                                            </br>
                                                                            @Model.AddressLine2,
                                                                            </br>
                                                                            @Model.cityName, @Model.StateName, @Model.CountryName, @Model.zipcode                                                                        </b>
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="right" class="col" style=" padding: 23px 0 10px 40px; min-height: 255px; max-height: 320px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 1; ">
                                                                        <strong>CONTRIBUTION DETAIL</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 15px; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 20px; ">
                                                                        Contribution ID: <b>@Model.PaymentId</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 34px; font-weight: 600; color: #fff; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                                                        $@Model.Amount
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size: 13px; color: #fff; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top;">
                                                                        One-time contribution
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="background: #f2f3f8; height: 20px;"></td>
                </tr>
            </tbody>
        </table>
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
            <tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="240" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>PAYMENT INFO</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Transaction ID: <b>@Model.TransactionId</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Method: <b>Visa @Model.CardNumber</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>STATUS</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 22px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>@Model.Status</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 20px;"></td>
            </tr>
        </table>
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
            <tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>PAYMENT SUMMARY</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Contribution Amount
                                                </td>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>$100.00</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="height: 2px; border-bottom: 2px solid #f2f3f8; padding: 3px 0;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Total Charged
                                                </td>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>@Model.Amount</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 20px;"></td>
            </tr>
        </table>
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
            <tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 20px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                    You can make more donations through the app download
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <a href="#"><img src="/content/images/playstore.png" alt="playstore" style="width: 110px;"></a>
                                                    <a href="#"><img src="/content/images/appstore.png" alt="appstore" style="width: 110px;"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 20px;"></td>
            </tr>
        </table>
        <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
            <tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                    <a href="mailto:support@josh4congress.com;" style="color: #000;">support@josh4congress.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                    <a href="#" style="color: #3c3c3c; font-weight: 600;">Privacy Policy</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Terms & Conditions</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Donation Policy</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                    Designed & Developed by <a href="keplerbase.com"><img src="images/kepler-logo.png" alt="foot-logo" style="width: 20%;vertical-align: bottom; margin-left: 2px;"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 20px;"></td>
            </tr>
        </table>
    </div>
    <div class="m-portlet__body modal-body old_Print">

        <table class="table table-striped- table-pagger receipt_table_wrapper" cols="6" id="m_table_1">
            <tr>
                <th>Donor Name</th>
                <td>@Model.CardHolderName</td>
            </tr>
            <tr>
                <th>Contribution ID</th>
                <td>@Model.PaymentId</td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>@Model.TransactionId</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>@Model.TransactionDate</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>@Model.TransactionTime</td>
            </tr>
            <tr>

                <th>Card</th>
                <td>@Model.CardNumber</td>
            </tr>
            <tr>
                <th>Amount($)</th>
                <td>@Model.Amount</td>
            <tr>
            <tr>
                <th>Status</th>
                <td>@Model.Status</td>
            </tr>

        </table>
    </div>

    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
        <div class="copyright-wrap">
            <span class="m-footer__copyright">
                Designed &amp; Developed by <a href="http://keplerbase.com/" class="m-link"><img src="/content/images/kepler-logo.png" alt="foot-logo"></a>
            </span>
        </div>

    </div>

    @*<footer class="m-grid__item m-footer " style="margin: 0 25px;">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="copyright-wrap">
                        <span class="m-footer__copyright">
                            Designed &amp; Developed by <a href="#" class="m-link"><img src="/content/images/logo_final1.png" alt="foot-logo"></a>
                        </span>
                    </div>

                </div>
            </div>
        </footer>*@
</div>
<script>

    function printDivv(divid) {
        debugger
        var html = '<link href="/Content/bootstrap.css" rel="stylesheet"/>';
        //$('link').each(function () { // find all <link tags that have
        //    if ($(this).attr('rel').indexOf('stylesheet') != -1) { // rel="stylesheet"
        //        html += '<link rel="stylesheet" href="' + $(this).attr("href") + '" />';
        //    }
        //});
        // var contents = '<div style="padding-top:40px;">';
        $('.new_Print').show();
        $('.LOGO_Div').hide();
        $('.old_Print').hide();
       
        var contents = document.getElementById(divid).innerHTML;
        var frame1 = document.createElement('iframe');
        //var d1 = document.getElementById('header').style.display = 'none';
        //var d2 = document.getElementById('pagging1');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        //frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('<html><head><title></title>');
        frameDoc.document.write('</head><body>');
        //frameDoc.document.write('<img src="/content/images/logo-blue.png"><div style="margin-bottom:20px;"></div>');

        frameDoc.document.write(html);
        frameDoc.document.write("<br />");
        frameDoc.document.write("<br />");
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
            $('.new_Print').hide();
            $('.LOGO_Div').show();
            $('.old_Print').show();
            //document.body.removeAttribute(d2);
            //document.body.removeChild(d2);
        }, 500);
        return false;
    }

</script>
