﻿@using FPModels.Models
@model DonationModel

@{
    Layout = null;
}

<div id="dvPrintTransaction">

    <!-- Header -->
    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                    <tr>
                        <td>
                            <table width="680" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding" style="padding: 35px 0 35px;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col">
                                                <tbody>
                                                    <tr>
                                                        <td align="left"> <img src="/content/images/josh-logo.png" width="148" height="92" alt="logo" border="0" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            @*<table width="220" border="0" cellpadding="0" cellspacing="0" align="right" class="col" style="text-align: right;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                Date: <b>@Model.TransactionDate</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top;">
                                                                Time: <b>@Model.TransactionTime</b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #f2f3f8; height: 20px;"></td>
                    </tr>
                </table>
                @*<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
                        <tr>
                            <td>
                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="480" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 14px; color: #5b5b5b; font-family: 'Open Sans', sans-serif; line-height: 18px; vertical-align: top; text-align: left;">
                                                                Thank you for your contribution in support of Josh Gottheimer!
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f2f3f8; height: 20px;"></td>
                        </tr>
                    </table>*@
            </td>
        </tr>
    </table>
    <!-- /Header -->
    <!-- Information -->
    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable">
        <tbody>
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="680" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                                        <tbody>
                                            <tr>
                                                <td width="350" style="background-color:darkblue;">
                                                    <table width="350" border="0" cellpadding="0" cellspacing="0" align="left" class="col col-sm-6" style="background: #fff; padding: 35px 0px 35px 60px;margin-top:22px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                                    <strong>DONOR DETAIL</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="100%" height="10"></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:5px;font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 24px; vertical-align: top; padding-top: 5px;">
                                                                    Name: <b>@Model.CardHolderName</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:5px;font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 24px; vertical-align: top; padding-top: 5px;">
                                                                    Email:
                                                                    @if (Model.Email == "")
                                                                    {
                                                                        <b>-</b>
                                                                    }
                                                                    else
                                                                    {
                                                                        <b>@Model.Email</b>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:10px;font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 24px; vertical-align: top; padding-top: 5px;">
                                                                    Mobile:
                                                                    @if (Model.MobileNumber == "")
                                                                    {
                                                                        <b>-</b>
                                                                    }
                                                                    else
                                                                    {
                                                                        <b>
                                                                            @Model.ISDCode @Model.MobileNumber
                                                                        </b>
                                                                    }
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding-top:10px;font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 24px; vertical-align: top; padding-top: 5px; padding-right: 10px;">
                                                                    Address: <br />
                                                                    @Model.AddressLine1<br />
                                                                    @Model.AddressLine2,<br />                                                                    
                                                                    @Model.cityName, @Model.StateName, @Model.CountryName, @Model.zipcode
                                                                    <br />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                               
                                                    <table width="300" border="0" cellpadding="0" cellspacing="0" align="right"  style="display: inline-flex; padding: 23px 0 10px 20px; min-height: 210px;  background: #21427a; max-height: 250px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #fff; line-height: 1; ">
                                                                    <strong>CONTRIBUTION DETAIL</strong><br /><br />
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding-top:5px;background: #21427a;font-size: 34px; font-weight: 600; color: #fff; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                                                    <span style="font-size:20px;">Donation Amount($)</span><br />
                                                                    @Model.Amount1 <br />
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding-top:10px;font-size: 34px; font-weight: 600; color: #fff; letter-spacing: -1px; font-family: 'Open Sans', sans-serif; line-height: 1;">
                                                                    <span style="font-size:20px;">Refund Amount($)</span><br />
                                                                    @((String.IsNullOrEmpty(Model.RefundAmount) || Model.RefundAmount=="0") ? "":"-")
                                                                    @Model.RefundAmount <br />
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="padding-top:10px;font-size: 15px;font-family: 'Open Sans', sans-serif; color: #fff; background: #21427a;line-height: 20px; ">
                                                                    Contribution ID<br /> <b>#@Model.PaymentId</b>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 40px;"></td>
            </tr>
        </tbody>
    </table>
    @*<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
            <tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="240" border="0" cellpadding="0" cellspacing="0" align="left" class="col col-sm-6" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>PAYMENT INFO</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Transaction ID: <b>@Model.TransactionId</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Method: <b>Visa @Model.CardNumber</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="220" border="0" cellpadding="0" cellspacing="0" align="left" class="col col-sm-6" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>STATUS</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 22px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>@Model.Status</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="background: #f2f3f8; height: 20px;"></td>
            </tr>
        </table>*@
    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
        @*<tr>
                <td>
                    <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0;">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                                                    <strong>PAYMENT SUMMARY</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Contribution Amount
                                                </td>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>$@Model.Amount</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="height: 2px; border-bottom: 2px solid #f2f3f8; padding: 3px 0;"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    Total Charged
                                                </td>
                                                <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                    <b>$@Model.Amount</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>*@
        <tr>
            <td style="font-size: 17px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 1; vertical-align: top; ">
                <p>
                    <strong>PAYMENT SUMMARY</strong>
                    @if (!String.IsNullOrEmpty(Model.FromDate) && !String.IsNullOrEmpty(Model.ToDate))
                    {
                    <span>(From @Model.FromDate - To - @Model.ToDate)</span>
                    }
                </p><br />
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-striped- table-hover table-pagger" cols="8" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Contribution ID</th>
                            <th>Transaction ID</th>
                            @*<th><a href="#">Recurring Type</a></th>*@
                            <th><a href="#">Date</a></th>
                            <th><a href="#">Time</a></th>
                            <th><a href="#">Card</a></th>
                            <th><a href="#">Amount($)</a></th>
                            <th><a href="#">Status</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model._DonorDetail != null && Model._DonorDetail.Count > 0)
                        {
                            foreach (var item in Model._DonorDetail)
                            {
                                <tr>
                                    <td>@item.PaymentId</td>
                                    <td>@item.TransactionId</td>
                                    <td>@item.TransactionDate</td>
                                    <td>@item.Time</td>
                                    <td>@item.CardNumber</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background: #f2f3f8; height: 20px;"></td>
        </tr>
    </table>
    @*<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
        <tr>
            <td>
                <table width="480" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                    <tbody>
                        <tr>
                            <td>
                                <table width="580" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 20px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                You can make more donations through the app download
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 13px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px;">
                                                <a href="#"><img src="/content/images/google-play-btn.png" alt="playstore" style="width: 110px;"></a>
                                                <a href="#"><img src="/content/images/app-store-btn.png" alt="appstore" style="width: 110px;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background: #f2f3f8; height: 20px;"></td>
        </tr>
    </table>*@
    @*<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="fullTable" bgcolor="#ffffff" style="border-radius:0;">
        <tr>
            <td>
                <table width="580" border="0" cellpadding="0" cellspacing="0" align="center" class="fullPadding">
                    <tbody>
                        <tr>
                            <td>
                                <table width="580" border="0" cellpadding="0" cellspacing="0" align="left" class="col" style="padding: 25px 0; text-align: center;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 16px; font-family: 'Open Sans', sans-serif; color: #000; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                <a href="mailto:support@josh4congress.com;" style="color: #000;">support@josh4congress.com</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                <a href="#" style="color: #3c3c3c; font-weight: 600;">Privacy Policy</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Terms & Conditions</a> | <a href="#" style="color: #3c3c3c; font-weight: 600;">Donation Policy</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3c3c3c; line-height: 20px; vertical-align: top; padding-top: 5px; padding-bottom: 10px; font-weight: 500;">
                                                Designed & Developed by <a href="keplerbase.com"><img src="/content/images/kepler-logo.png" alt="foot-logo" style="width: 20%;vertical-align: bottom; margin-left: 2px;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background: #f2f3f8; height: 20px;"></td>
        </tr>
    </table>*@
</div>