﻿@using FPModels.Models
@model RecurringTypeModel
@{
    ViewBag.Title = "RecurringType";
}

@using (Html.BeginForm("AddDonationType", "donation", FormMethod.Post, new
{
    @id = "myForm",@*@class= "modal-dialog"*@ }))
{
    if (Model != null)
    {
        <form class="m-form m-form--fit m-form--label-align-right ">
            <div class="m-portlet__body">
                <div class="form-group m-form__group">
                    @Html.HiddenFor(m => m.RecurringTypeId)
                    <label for="exampleInputEmail1">Duration</label>
                    @Html.TextBoxFor(m => m.RecurringType2, new { @class = "form-control m-input", @placeholder = "Enter Duration", @tablindex = "1", @required = "required" })
                    @Html.ValidationMessageFor(m => m.RecurringType2)
                </div>
                <div class="form-group m-form__group">

                    <label for="exampleInputEmail1">Date</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.RecurringTypeDate, new { @class = "form-control calendarWithNoPastDate", @placeholder = "Select Date", @AutoComplete = "Off", @tabindex = "3", @required = "required" })
                        @Html.ValidationMessageFor(m => m.RecurringTypeDate)
                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><img src="~/Content/images/calender.png" alt="calender"></span></div>
                    </div>
                </div>
                @*<div class="form-group m-form__group">
            <label for="exampleSelect1">Status</label>
            <div class="select-arrow">
                @Html.DropDownListFor(m => m.StatusId, Model._StatusAIList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @tabindex = "2" })
                @Html.ValidationMessageFor(m => m.StatusId)
            </div>
        </div>*@
                <div class="form-group m-form__group">

                    @*<div class="select">*@
                        <label class="m-checkbox"  style="font-size:15px;">
                            @Html.CheckBoxFor(m => m.NoEndDate, new { @class = "menuchk" })No End Date
                        <span></span>
                @*</div>*@
                </label>

                </div>
            </div>

            <div class="modal-footer" style="justify-content: flex-start;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    }
}


<script>

    //  $.noConflict();
    jQuery(document).ready(function () {
        $("body").on("mouseenter", "input.calendarWithNoPastDate", function (evt) {
            var topHeight = $(this).offset().top + $(this).height();
            var offsetLeft = $(this).offset().left;
          
          
            //$(this).datepicker({ minDate: 0 });
            $(this).datepicker({
                dateFormat: "mm/dd/yy",
                //timeFormat: "h:mm tt",
                minDate:0,
                maxDate: 30,
                autoclose: true,
                startDate: "today",
                startDate: "today",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                closeText: 'Clear',
                onClose: function (dateText, inst) {
                    var event = arguments.callee.caller.caller.arguments[0];
                    if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                        //if ($(window.event.srcElement).hasClass('ui-datepicker-close')){
                        $(this).val('');
                    }
                },
                beforeShow: function (input, inst) {
                    setTimeout(function () {
                        inst.dpDiv.css({
                            top: $(evt.target).offset().top + 35,
                            left: $(evt.target).offset().left
                        });
                    }, 0);
                }
                //showOn: "button",
                //buttonImage: "images/calendar.gif",
                //buttonImageOnly: true,
                //timeFormat: "hh:mm tt"
            });
        });
    });
</script>