﻿@using FPModels.Models
@model DonationModel

@{
    ViewBag.Title = "Refund Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DonorRefund", "donation", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">

            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Donation Information
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">

                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Contribution Id</label>
                                <p>
                                    @Html.DisplayFor(m => m.PaymentId, new { @class = "form-control m-input", @maxlength = 70, @required = "required", @placeholder = "Write Title" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Transaction Id</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionId, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Date</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionDate, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Time</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionTime, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Card Number</label>
                                <p>
                                  XXXX @Html.DisplayFor(m => m.CardNumber, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Amount</label>
                                <p>
                                   $ @Html.DisplayFor(m => m.Amount, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Refund Information
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Refund Details<req>*</req></label>
                                <div class="">
                                    @Html.HiddenFor(m => m.PaymentId)
                                    @Html.HiddenFor(m => m.FollowerId)
                                    @Html.HiddenFor(m => m.TransactionId)
                                    @Html.HiddenFor(m => m.CardNumber)
                                    @Html.HiddenFor(m => m.ExpMonth)
                                    @Html.HiddenFor(m => m.ExpYear)
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.FirstName)
                                    <div class="m-form__group form-group">
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.FullRefund, new { @id = "FullRefund", @name = "Refund", @class = "radio" })Full Refund($)
                                            <span class="FullRefund" onclick="Selection('FullRefund');return false"></span>

                                        </label>
                                        @Html.TextBoxFor(m => m.Amount, new { @id = "TotalAmount", @disabled = "disabled", @class = "form-control m-input" })
                                       
                                        <br />
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.FullRefund, "PartialRefund", new { @id = "PartialRefund", @name = "Refund", @class = "radio" })Partial Refund($)
                                            <span class="PartialRefund" onclick="Selection('PartialRefund');return false"></span>

                                        </label>


                                        @Html.TextBoxFor(m => m.Amount1, new { @id = "RefundAmount", @class = "form-control m-input Amount numbersOnly",@Placeholder="Enter refund amount",@required= "required", @style = "display:block;" })
                                        <span id="RefundText" style="display:block;" >Refund amount should not exceed original donation amount of this transaction.</span>
                                        <span class="m-form__help"> @Html.ValidationMessageFor(m => m.Amount1)</span>
                                        @*<span class="chk" id="chkCreat"></span>*@
                                    </div>


                                </div>
                               

                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Refund reason<req>*</req></label>
                                    @Html.DropDownListFor(m => m.RefundReasonId, Model._ReasonList, new { @id = "RefundReasonId", @class = "custom-select custom-select-sm form-control form-control-sm" })
                                    @Html.TextBoxFor(m => m.RefundReasonAdd, new { @id = "RefundReasonAdd", @maxlength = "15", @class = "form-control", @style = "display: none;", @placeholder = "Add Refund Issue", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.RefundReasonAdd)
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Comments<req>*</req></label>
                                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control m-input",@rows="3", @maxlength = "220", @placeholder = "Write here" })
                                    <span class="m-form__help">@Html.ValidationMessageFor(m => m.Comment)</span>
                                </div>


                                <div class="m-form__actions form-buttons">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                                    <a href="@Url.Action("DonorDetail","donation",new { pid = @Model.EncryptedPaymentId, fid = Model.EncryptedFollowerId})" class="btn btn-secondary">Close</a>
                                </div>
                            </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>
        </div>
}

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $('.btn-primary').click(function ()
    {
        
        debugger;
        $('#TotalAmount').val();
        if ($('#RefundReasonId').val()=="1") {
            $('#RefundReasonAdd').val("Wrong CC");
        }
        else if ($('#RefundReasonId').val() == "2") {
            $('#RefundReasonAdd').val("Donor Request");
            
        }
        if (($('#PartialRefund').val() == "") && ($('#FullRefund').val() != "")) {
            $("#RefundAmount").prop("required", false);
            $('#RefundAmount-error').hide();
        }
        else if ($('#PartialRefund').val() != "") {
            //$("#RefundAmount").prop("required", "required"));
            //$('#RefundAmount-error').show();
            //return false;
        }
        //else  {
        //    $("#RefundAmount").prop("required", "required");
        //}

        var amount1 = $('#TotalAmount').val();
        var refund1 = $('#RefundAmount').val();
        var refund = parseFloat(refund1);
        var amount = parseFloat(amount1);
        if (refund > amount) {
           
            AlertWithTitleIcon("Alert", "Refund amount should not exceed original donation amount of this transaction", "warning");
            return false;
        }
        else if (refund == amount) {
           
            $(amount) = $(refund);
            return true;
        }
        else if (parseInt(amount) > (refund)) {
            
            var x = amount - refund
            amount = x;
            return true;
        }
    });

        //if (($('#PartialRefund').prop('checked') == false) && ($('#FullRefund').prop('checked') == false))
        //{
        //    $('#PartialRefund').prop("required", "required");
        //    alert
        //    return false;
        //}
        //else if (($('#PartialRefund').prop('checked') == true) && ($('#FullRefund').prop('checked') == false))
        //{
        //    $('#PartialRefund').prop("required", false);
        //    return true;
        //}
        //else if (($('#PartialRefund').prop('checked') == false) && ($('#FullRefund').prop('checked') == true))
        //{
        //    $('#PartialRefund').prop("required", false);
        //    return true;
        //}
       

   

    $('#FullRefund').click(function () {
       
        $('#RefundAmount').css('display', 'none');
        $('#RefundText').css('display', 'none');
        $('#RefundAmount').val($('#TotalAmount').val());
        //$('#TotalAmount').val();
        $('#RefundAmount-error').hide();
        $('#FullRefund').val("Full Refund");
        $('#FullRefund').val();
        $('#PartialRefund').removeClass(".PartialRefund");
       // $("#TotalAmount").val($("#TotalAmount").val() + " " + $("#RefundAmount").val()).change();

    });

    $('#PartialRefund').click(function () {
       
        $('#RefundAmount').css('display', 'block');
        $('#RefundText').css('display', 'block');
        $('#RefundAmount').val("");
      
        $('#PartialRefund').val("Partial Refund");
        $('#PartialRefund').val();
        $('#FullRefund').removeClass(".FullRefund");
       // $("#TotalAmount").val($("#TotalAmount").val() + " " + $("#RefundAmount").val()).change();

    });
    $('#RefundReasonId').change(function () {
       
        if ($('#RefundReasonId').val() == "-2")
        {
           
            $('#RefundReasonAdd').css('display', 'block');
            if ($('#RefundReasonAdd').val() == "")
            {
                ($('#RefundReasonAdd').prop("required", "required"));
                return false;
            }
            else
            {
                $('#RefundReasonAdd').val("");
            }

        }

        //$('#_DependChild').val($(this).text());

    });
    $('.Amount').change(function () {
        
        var amount1 = $('#TotalAmount').val();
        var refund1 = $('#RefundAmount').val();
        var refund = parseFloat(refund1);
        var amount = parseFloat(amount1);
    if (refund>amount) {
           
        AlertWithTitleIcon("Alert", "Refund amount should not exceed original donation amount of this transaction", "warning");
            return false;
        }
    else if (refund==amount) {
       
        $(amount)=$(refund);
            return true;
        }
    else if (parseInt(amount)>(refund)) {
      
        var x = amount-refund
        amount = x;
            return true;
        }
    });


    
    


</script>