﻿@using FPModels.Models
@model RecurringTypeModel
@{
    // ViewBag.Title = "NotificationSetting";
    ViewBag.Header = "Donation Settings";
    ViewBag.Title = "Donation Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    /*.lbl-bg {
        display: inline;
        padding: .1em .4em .1em;
        font-size: 90%;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .15em;
    }*/
    span.m-badge.m-badge.m-badge--primary.m-badge--wide.m-badge--wide.contact-new-btn.Inactive {
        background: #d9534f;
    }
</style>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<div class="m-grid__item m-grid__item--fluid m-wrapper">*@

    <!-- BEGIN: Subheader -->
    @*<div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Donation Settings</h3>
            </div>
        </div>
    </div>*@
@*</div>*@
<!-- END: Subheader -->
@using (Ajax.BeginForm("notificationsetting", "donation", new AjaxOptions()))
{
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Donation Settings
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter">
                        <label>
                            <img src="~/content/images/search.png" alt="search">
                            @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                            @Html.TextBoxFor(m => m.Fields, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>
                        <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                    </div>
                    @*<button type="button" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>*@



                    <div class="pull-right datatable_new">
                        <a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air AddDonationType" data-toggle="modal" data-target="#m_modal_2">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New</span>
                            </span>
                        </a>
                    </div>
                </div>
                <!--begin: Datatable -->
                <table class="table table-responsive table-striped- table-hover table-pagger" cols="3" id="m_table_1">
                    <thead>
                        <tr>
                            <th width="65%"><a href="#">Duration Type</a></th>
                            <th><a href="#">Date</a></th>
                            <th><a href="#">Status</a></th>
                        </tr>
                    </thead>
                    @if (Model != null && Model._RecurringTypeModel != null && Model._RecurringTypeModel.Count > 0)
                    {
                        foreach (var item in Model._RecurringTypeModel)
                        {
                            <tbody>
                                <tr>

                                    <td>
                                        <a href="#" data="@FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(@item.RecurringTypeId))" class="fa-pad EditRecurringType"
                                           data-toggle="tooltip"  style="text-decoration:underline; color:#666674;">@item.RecurringType</a>
                                    </td>
                                    <td>@item.RecurringDate</td>
                                    <td><span class="m-badge  m-badge  m-badge--primary m-badge--wide m-badge--wide contact-new-btn @item.Status">@item.Status</span></td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
                <div class="row mt-30" id="pagging1">
                </div>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Donation Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="EditDonationDetails" class="modal-body">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Donation Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="DonationDetails" class="modal-body">
            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>


@*<div id="m_modal_2" class="modal fade " role="dialog" style="z-index:99999">
        <div class="modal-dialog popup-area-xxs">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Plan Detail<small class="font-weight"></small></h4>
                </div>
                <div id="planDetail" class="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>*@


<script type="text/javascript">
    $(document).ready(function () {
        $('.AddDonationType').click(function () {
           
            try {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    url: "/donation/adddonationtype?uid=" + $(this).attr("data"),
                    type: "Get",
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        $("#DonationDetails").html(data);
                        $("#m_modal_2").modal(options);
                        $("#m_modal_2").modal('show');
                    },
                    error: function (xhr) {
                        AlertWithTitleIcon("Error", xhr.responseText, "error");
                    }
                });
            }
            catch (ex) { }
        });

        $('.EditRecurringType').click(function () {
            try {
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    url: "/donation/EditDonationType?uid=" + $(this).attr("data"),
                    type: "Get",
                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    async: true,
                    success: function (data) {
                        $("#EditDonationDetails").html(data);
                        $("#m_modal_1").modal(options);
                        $("#m_modal_1").modal('show');
                    },
                    error: function (xhr) {
                        AlertWithTitleIcon("Error", xhr.responseText, "error");
                    }
                });
            }
            catch (ex) { }
        });
    });
</script>