﻿@using FPModels.Models
@model DonationModel

@{
    ViewBag.Title = "View Refund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DonorRefund", "donation", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">

            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Donation Information
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Contribution Id</label>
                                <p>
                                    @Html.DisplayFor(m => m.PaymentId, new { @class = "form-control m-input", @maxlength = 70, @required = "required", @placeholder = "Write Title" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Transaction Id</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionId, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Date</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionDate, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Time</label>
                                <p>
                                    @Html.DisplayFor(m => m.TransactionTime, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Card Number</label>
                                <p>
                                   XXXX @Html.DisplayFor(m => m.CardNumber, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Amount</label>
                                <p>
                                   $ @Html.DisplayFor(m => m.Amount1, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Refund Information
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Refund Details</label>
                                <div class="">
                                    @Html.HiddenFor(m => m.PaymentId)
                                    @Html.HiddenFor(m => m.FollowerId)
                                    @Html.DisplayFor(m => m.FullRefund)
                                    @*@Html.DisplayFor(m => m.Amount, new { @id = "TotalAmount", @style = "display:none;" })*@
                                    <br />
                                    $ @Html.DisplayFor(m => m.Amount1, new { @id = "RefundAmount", @style = "display:none;" })
                                  
                                </div>

                            </div>


                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Reason for refund</label>
                                <br />
                                @*@Html.DropDownListFor(m => m.RefundReasonId, Model._ReasonList, new { @id = "RefundReasonId", @class = "custom-select custom-select-sm form-control form-control-sm" })*@
                                @Html.DisplayFor(m => m.RefundReasonAdd, new { @id = "RefundReasonAdd", @maxlength = "10", @class = "form-control", @style = "display: none;", @placeholder = "Folder name", @required = "required" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Comments</label>
                                <br />
                                
                                @Html.DisplayFor(m => m.Comment, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Comment)</span>
                            </div> 
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Refund Issued by</label>
                                <br />
                                @Html.DisplayFor(m => m.UserName, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.UserName)</span>
                            </div>


                            <div class="m-form__actions form-buttons">
                              
                                <a href="@Url.Action("DonorDetail","donation",new { pid = @Model.EncryptedPaymentId, fid = Model.EncryptedFollowerId})" class="btn btn-secondary">Close</a>
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>
}
<script>
    if ($('#TotalAmount').val('') != 0) {
        $('#FullRefund').css('display', 'block');
        $('#TotalAmount').css('display', 'block');
    }
    else {
        $('#FullRefund').css('display', 'none');
        $('#TotalAmount').css('display', 'none');
    }
    if ($('#RefundAmount').val('') != 0)
    {
        $('#PartialRefund').css('display', 'block');
        $('#RefundAmount').css('display', 'block');
    }
    else {
        $('#PartialRefund').css('display', 'none');
        $('#RefundAmount').css('display', 'none');
    }

</script>