﻿@using FPModels.Models
@model  CategoryModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Category Details
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    <label>Category Name</label>
                   
                    <p>@Model.CategoryName</p>
                </li>
                <li>
                    <label>Create Date/Time</label>
                    <p>
                        @Model.CreateDate
                    </p>
                </li>


                @*<li>
                    @if (@Model.Websitelink == "")
                    { }
                    else
                    {
                        <label>Website Link</label>
                        <p>@Model.Websitelink</p>
                    }
                </li>*@
                <li>
                    <label>Logo</label>
                    <p>

                        <span>
                            @if (!string.IsNullOrWhiteSpace(Model.LogoPath))
                            {<a href="/download.ashx?type=i&file=@FPBAL.Business.UtilityAccess.Encrypt(Model.LogoPath)" target="_blank">
                                    <img src="/@Model.LogoPath" />
                                </a>
                            }
                            else
                            {
                                <a class="docView000">
                                    <img style="width:70px;height:60px;" src="/content/images/no-image-rec.png">
                                </a>
                            }
                        </span>
                    </p>
                </li>
                @*<li>
                    <label>Status</label>

                    @if (@Model.Status == "1")
                    {
                        <p>Active</p>
                    }

                    else if (@Model.Status == "0")
                    {
                        <p>InActive</p>
                    }
                    else
                    {
                        <p>InActive</p>
                    }
                </li>*@
            </ul>
            <div class="m-form__actions form-buttons">
                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                {
                    <a href="/category/edit?cid=@Model.EncryptedCategoryId" class="btn btn-primary">Edit</a>
                }
                <a href="/category/index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>

