﻿@model FPModels.Models.DonateAPIModel
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_LayoutOuterNew.cshtml";
}
@*@Styles.Render("~/content/css1")*@

<style>
    .loader {
        display: block;
    }
    body {
        font-family: Poppins;
        font-weight: 300;
        margin: 0;
        padding: 0;
        color: #575962;
    }

    .privacy_logo_wrap {
        background: #fff;
        box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
        height: 70px;
    }

        .privacy_logo_wrap a {
            padding: 25px 52px;
            display: inline-block;
        }

            .privacy_logo_wrap a img {
                width: 100%;
            }

    .cont_wrapper {
        box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
        background-color: #fff;
        margin: 30px;
    }

        .cont_wrapper .subhead_title {
            border-bottom: 1px solid #ebedf2;
        }

            .cont_wrapper .subhead_title h3 {
                font-weight: 500;
                font-size: 17px;
                padding: 20px 25px;
                margin: 0;
            }

    .privacy_cont_wrap {
        padding: 20px 25px;
        font-size: 13px;
    }

        .privacy_cont_wrap p {
            margin: 0;
            padding-bottom: 15px;
        }

            .privacy_cont_wrap p.main_heading {
                margin-top: 15px;
                padding: 0 0 5px 0;
            }

    footer.privacy_footer {
        padding: 7px 30px;
        height: 60px;
        min-height: 60px;
        background: #fff;
        -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
    }

    .privacy_footer .footer_copyright .m-link {
        width: 30%;
        float: left;
        margin: 2px 0 0 5px;
    }

        .privacy_footer .footer_copyright .m-link img {
            width: 100%;
        }

    .privacy_footer .copyright-wrap {
        float: left;
        margin-top: 15px;
    }

    .copyright-wrap .footer_copyright {
        font-size: 12px;
        font-weight: 400;
        color: #a9a9aa;
    }

        .copyright-wrap .footer_copyright span {
            float: left;
        }
</style>

@using (Html.BeginForm("Donate", "donate", FormMethod.Post, new { id = "donationForm" }))
{
    <!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
    <div class="donation-header-logo" style="padding: 50px 50px 0px;">
        <img src="~/Content/images/logonew.png" alt="logo" style="width: 150px;">
    </div>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop">

        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>


        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">


            <!-- END: Subheader -->
            <div class="m-content payment-form-wrapper about-us-wrap donation-wrap">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">


                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <h3 class="campname">@Model.CampaignName</h3>
                            <div class="form-group m-form__group donation-head">
                                <h4>You will receive an email confirmation of your donation</h4>
                                
                                <p class="don-tagline">Select the amount for Donation</p>
                            </div>

                            <div class="form-group m-form__group">
                                <div class="at-radio">
                                    <div class="at-radios clearfix">
                                        @if (Model._DonationTypeList != null)
                                        {
                                            foreach (var item in Model._DonationTypeList)
                                            {
                                                <button id="@item.DonationTypeId" class="donation-amount" value="@item.Amount">
                                                    @item.DonationText
                                                </button>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.SessionToken)
                                @Html.HiddenFor(m => m.DonationTypeId, new { htmlAttributes = new { @id = "DonationTypeId" } })
                                @Html.HiddenFor(m => m.FollowerId)
                                @Html.HiddenFor(m => m.CampaignId)
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">First Name<req>*</req></label>
                                        @Html.EditorFor(model => model.Donarfirstname, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "First Name", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.Donarfirstname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">Last Name<req>*</req></label>
                                        @Html.EditorFor(model => model.Donarlastname, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Last Name", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.Donarlastname, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">Amount($)<req>*</req></label>
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control m-input AmountIDc ", @id = "AmountID", @placeholder = "Amount", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-lg-6">
                                        <label for="exampleInputEmail1">Spouse Name</label>
                                        @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control SpouseName m-input ", @placeholder = "Spouse Name", @maxlength = "30" } })
                                        
                                    </div>*@
                                    <div class="col-lg-6">
                                        @if (Model._PaymentMethodList != null)
                                        {
                                            <label for="exampleInputEmail1">Select Payment Method<req>*</req></label>
                                            <div class="select-arrow">

                                                @Html.DropDownListFor(m => m.PaymentMethodId, Model._PaymentMethodList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                                                @Html.ValidationMessageFor(model => model.PaymentMethodId, "", new { @class = "text-danger" })

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>


                            <div class="form-group m-form__group contribution-month">
                                @*<h4>Do you want to make this contribution Monthly?</h4>*@
                                @*<div class="row">
                                    <div class="col-lg-6 form-group">
                                        <label for="exampleInputEmail1">Select Option</label>
                                        <div class="select-arrow">
                                            @if (Model._ISMonthlyList != null)
                                            {
                                                @Html.DropDownListFor(m => m.IsRecurring, Model._ISMonthlyList, new { @class = "custom-select IsRecurring custom-select-sm form-control form-control-sm" })
                                            }
                                        </div>

                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label for="exampleInputEmail1">Duration</label>
                                        <div class="select-arrow">
                                            @if (Model._RecurringList != null)
                                            {
                                                @Html.DropDownListFor(m => m.RecurringTypeId, Model._RecurringList, new { @class = "custom-select RecurringTypeId custom-select-sm form-control form-control-sm", @disabled = "disabled" })
                                               
                                            }
                                        </div>
                                    </div>
                                </div>*@

                            </div>

                            @*<div class="form-group m-form__group employer-info">
                                <h4>Employer Information</h4>
                                <p>This information is required by law.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">Occupation<req>*</req></label>
                                        @Html.EditorFor(model => model.Accupation, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Occupation", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.Accupation, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">Employer<req>*</req></label>
                                        @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Employer", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <p>We respectfully request that Partners of Partnerships and Members of LLC's contribute individually, instead of through their respective business entity.</p>


                            </div>*@

                            <div class="form-group m-form__group donate-check">
                                @*<label>@Html.CheckBoxFor(m => m.IsHostingEvent1)  I am interested in hosting an event for Josh.</label>
                                <br>*@
                                <label>
                                    @Html.CheckBoxFor(m => m.IsVolunteer1)I want to volunteer with SCC Global.
                                </label>
                                @*<input type="checkbox" name="vehicle1" value="Bike"> I am interested in hosting an event for Josh.<br>
                        <input type="checkbox" name="vehicle2" value="Car"> I want to volunteer with Josh.<br>*@

                                @*<button class="donate-btn">Donate</button>*@
                                <button type="submit" class="btn donate-btn">Donate</button>
                                <p>By clicking "Donate" you confirm that the Donation statements are true and accurate.</p>
                            </div>
                            <div class="cont_wrapper">
                                <div class="subhead_title">
                                    <h3>Donation Statement</h3>
                                </div>
                                <div class="privacy_cont_wrap">
                                    <p>
                                        Donations statements are as follows:
                                    <p>
                                        <ul>
                                            <li>I am not a foreign national who lacks permanent residence in the United States.</li>

                                            <li>
                                                This donation is made from my own funds, and not those of another.
                                            </li>

                                            <li>
                                                This donation is not made from the funds of a corporation or labor organization.
                                            </li>

                                            <li>
                                                This donation is made on a personal credit card or debit card for which I have the legal obligation to pay, and is not made either on a corporate or business entity card or on the card of another person.
                                            </li>

                                            <li>I am at least eighteen years old.</li>
                                        </ul>
                                    </p>
                                    <p>
                                        Donations or gifts are not tax deductible.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>
                <div class="footer_copyright" style="text-align: center;"><p style="border: 1px solid #dee2e6;padding: 5px 10px;margin-top: -1px;display: inline-block;font-size: 16px;color: #2a2a2a;"> Paid For SCC Gobal</p></div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
    <!-- end::Footer -->
</div>

    <!-- end:: Page -->

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    //var x = document.getElementById("demo");
    $(window).on('load', function () {
        $('.loader').hide();
    });
    $(document).on("keypress", ".AlphabetOnly", function (e) {

        var c = e.keyCode;
       
        if (((c < 65) && (c != 32)) || (c > 90 && c < 97 && (c != 32)) || (c > 122 && (c != 32)))
            e.preventDefault();
    });
    $(document).on("keypress", ".numbersOnly", function (e) {

        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || $(this).val().length >= 25)) {
            return false;
            //alert('Invalid input');
        }
    });
    $('#donationForm').submit(function (e) {
        if ($('#donationForm').valid() && @ViewData.ModelState.IsValid) {
            $('.loader').show();
        }

    });
    $(document).on('change', '.IsRecurring', function (e) {
        //GetDonationStates($('.country').val());

        var isrec = $(".IsRecurring option:selected").text()
        var alt = $('.IsRecurring').val();
        if (alt == "true") {
            $(".RecurringTypeId").prop("required", "required");
            $(".RecurringTypeId").removeAttr("disabled");
            }
        else {
            $('#RecurringTypeId').val("");
            $(".RecurringTypeId").attr("disabled", "disabled");
            $(".RecurringTypeId").prop("required", false);
        }
    });
    $(document).ready(function () {
        //$('.donation-amount').click(function (e) {
        //    e.preventDefault();
        //    var amount = $(this).val();
        //    $('#AmountID').val(amount);

        //   var donateID = $(this).attr('id');
        //    $('#DonationTypeId').val(donateID);
        //});
        $('.donation-amount').click(function (e) {
            e.preventDefault();
            $('.donation-amount').removeClass('active');
            $(this).addClass('active');

            var amount = $(this).val();
            $('#AmountID').val(amount);
          
            var donateID = $(this).attr('id');
            $('#DonationTypeId').val(donateID);

            if (amount >= 5600) {
                $(".SpouseName").prop("required", "required");
            }
            else
            {
                $(".SpouseName").prop("required", false);

            }
        });

        $('#AmountID').focusout(function () {
            var amount = parseInt($(this).val());
            var i = 1;
            for (i; i < 6; i++) {
                var planamount = parseInt($('#' + i).val());
                // alert(amount + ' ' + planamount);
                if (amount == planamount) {
                    $('.donation-amount').removeClass('active');
                    $('#' + i).addClass('active');
                    $('#DonationTypeId').val(i);
                    return false;
                } else {
                    $('.donation-amount').removeClass('active');
                    $('#6').addClass('active');
                    $('#DonationTypeId').val(6);
                }
            }
        });
    });
</script>
