﻿@model FPModels.Models.CustProfileInfoNew
@{
    ViewBag.Title = "Donation";
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutOuterNew.cshtml";
}

<style>
    .loader {
        display: block;
    }
    body {
        font-family: Poppins;
        font-weight: 300;
        margin: 0;
        padding: 0;
        color: #575962;
    }

    .privacy_logo_wrap {
        background: #fff;
        box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
        height: 70px;
    }

        .privacy_logo_wrap a {
            padding: 25px 52px;
            display: inline-block;
        }

            .privacy_logo_wrap a img {
                width: 100%;
            }

    .cont_wrapper {
        box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
        background-color: #fff;
        margin: 30px;
    }

        .cont_wrapper .subhead_title {
            border-bottom: 1px solid #ebedf2;
        }

            .cont_wrapper .subhead_title h3 {
                font-weight: 500;
                font-size: 17px;
                padding: 20px 25px;
                margin: 0;
            }

    .privacy_cont_wrap {
        padding: 20px 25px;
        font-size: 13px;
    }

        .privacy_cont_wrap p {
            margin: 0;
            padding-bottom: 15px;
        }

            .privacy_cont_wrap p.main_heading {
                margin-top: 15px;
                padding: 0 0 5px 0;
            }

    footer.privacy_footer {
        padding: 7px 30px;
        height: 60px;
        min-height: 60px;
        background: #fff;
        -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
    }

    .privacy_footer .footer_copyright .m-link {
        width: 30%;
        float: left;
        margin: 2px 0 0 5px;
    }

        .privacy_footer .footer_copyright .m-link img {
            width: 100%;
        }

    .privacy_footer .copyright-wrap {
        float: left;
        margin-top: 15px;
    }

    .copyright-wrap .footer_copyright {
        font-size: 12px;
        font-weight: 400;
        color: #a9a9aa;
    }

        .copyright-wrap .footer_copyright span {
            float: left;
        }
</style>

@using (Html.BeginForm("Donation", "donate", FormMethod.Post,new { id= "donationForm" }))
{
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

    <!-- BEGIN: Header -->
    <div class="donate-header">
        <div class="donation-header-logo" style="padding: 25px 25px 25px;">
            <img src="~/Content/images/logonew.png" alt="logo" style="width: 150px;">
        </div>
    </div>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>


            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
                <!-- END: Subheader -->
                <div class="m-content payment-form-wrapper about-us-wrap donation-wrap">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">



                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <h3 class="campname">@Model.CampaignName</h3>
                                <div class="form-group m-form__group donation-head">
                                    <h4>You will receive an email confirmation of your donation</h4>
                                   
                                    <p class="don-tagline">Select the amount for Donation</p>
                                </div>

                                <div class="form-group m-form__group">
                                    <div class="at-radio">
                                        <div class="at-radios clearfix">
                                            @if (Model._donationTypeList != null)
                                            {
                                                foreach (var item in Model._donationTypeList)
                                                {
                                                    <button id="@item.DonationTypeId" class="donation-amount" value="@item.Amount">
                                                        @item.DonationText
                                                    </button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.HiddenFor(m => m.DonationTypeId, new { htmlAttributes = new { @id = "DonationTypeId" } })
                                    @Html.HiddenFor(m => m.SessionToken)
                                    @Html.HiddenFor(m => m.FollowerId)
                                    @Html.HiddenFor(m => m.CampaignId)
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">First Name<req>*</req></label>
                                            @Html.EditorFor(model => model.Donarfirstname, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "First Name", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Donarfirstname, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Last Name<req>*</req></label>
                                            @Html.EditorFor(model => model.Donarlastname, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Last Name", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Donarlastname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Amount($)<req>*</req></label>
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control m-input ", @id = "AmountID", @placeholder = "Amount", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Spouse Name</label>
                                            @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control m-input SpouseName ", @placeholder = "Spouse Name", @maxlength = "30" } })
                                           
                                        </div>*@

                                    </div>
                                </div>

                                <div class="form-group m-form__group contribution-month">
                                    @*<h4>Do you want to make this contribution Monthly?</h4>
                                    <div class="row">           
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Select Option</label>
                                            <div class="select-arrow">
                                                @if (Model._iSMonthlyList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.IsRecurring, Model._iSMonthlyList, new { @class = "custom-select IsRecurring custom-select-sm form-control form-control-sm" })
                                                }
                                            </div>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Duration</label>
                                            <div class="select-arrow">
                                                @if (Model._recurringList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.RecurringTypeId, Model._recurringList, new { @class = "custom-select RecurringTypeId custom-select-sm form-control form-control-sm", @disabled = "disabled" })
                                                   
                                                }
                                            </div>
                                        </div>
                                    </div>*@

                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Card Holder Name<req>*</req></label>
                                            @Html.EditorFor(model => model.CardHolderName, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Card Holder Name", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Credit/Debit Card<req>*</req></label>
                                            @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @placeholder = "Card Number", @maxlength = "16" } })
                                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <div class="row">
                                                <div class="col-lg-4 form-group">
                                                    <label for="exampleInputEmail1">MM<req>*</req></label>
                                                    <div class="select-arrow">
                                                        @Html.DropDownListFor(m => m.ExpiryMonth, Model._MonthList, new { @class = "custom-select  custom-select-sm form-control form-control-sm" })
                                                        @*@Html.EditorFor(model => model.ExpiryMonth, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "MM", @maxlength = "2" } })*@
                                                        @Html.ValidationMessageFor(model => model.ExpiryMonth, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 form-group">
                                                    <label for="exampleInputEmail1">YY<req>*</req></label>
                                                    <div class="select-arrow">
                                                        @Html.DropDownListFor(m => m.ExpiryYear, Model._YearList, new { @class = "custom-select  custom-select-sm form-control form-control-sm" })

                                                        @*@Html.EditorFor(model => model.ExpiryYear, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "YY", @maxlength = "2" } })*@
                                                        @Html.ValidationMessageFor(model => model.ExpiryYear, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 form-group">
                                                    <label for="exampleInputEmail1">CVC<req>*</req></label>
                                                    @Html.EditorFor(model => model.CardSecurity, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @placeholder = "CVC", @maxlength = "4" } })
                                                    @Html.ValidationMessageFor(model => model.CardSecurity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group m-form__group employer-info form_billing-address">
                                    <h4>Billing Address</h4>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleSelect1">Country<req>*</req></label>
                                            <div class="select-arrow">
                                                @Html.HiddenFor(m => m.State, new { @id = "statename", @class = "form-control statename input_img_desc m-input " })
                                                @Html.HiddenFor(m => m.Country, new { @id = "countryName", @class = "form-control countryName input_img_desc m-input " })
                                                @if (Model.CountryList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.CountryId, Model.CountryList, new { @id = "CountryId", @class = "form-control country input_img_desc m-input country" })
                                                }
                                            </div>
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.CountryId, "", new { @id = "CountryValid" })</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Address" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Address1)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Address Line 2</label>
                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Address" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Address2)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">City<req>*</req></label>
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control m-input ", @placeholder = "City" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.City)</span>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">State<req>*</req></label>
                                            <div class="select-arrow">
                                                @if (Model.CountryList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @id = "_StateList", @class = "form-control m-input Donationstate" })
                                                }
                                            </div>
                                            @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control m-input numbersOnly", @maxlength = "6", @placeholder = "Zip" })
                                            <span class="text-danger">@Html.ValidationMessageFor(m => m.Zipcode)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Email<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @maxlength = "50", placeholder = "Email", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Mobile</label>
                                            <div class="add_delivery_time_edit row donation-phone-row">

                                                <div class="col-sm-3 col-md-3">
                                                    <div class="input-group donation--phon-colm">
                                                        <span class="input-group-addon">+</span>
                                                        <input style="border:1px solid #ccc; border-left:0px;" value="1" class="form-control numbersOnly" disabled="disabled" id="ISDCode" maxlength="3" name="ISDCode" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-sm-9 col-md-9">
                                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control m-input USMobileFormat numbersOnly", @placeholder = "Mobile", @maxlength = "10", @minlength = "10" } })
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "m-form__help" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group m-form__group employer-info">
                                    <h4>Employer Information</h4>
                                    <p>This information is required by law.</p>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Occupation<req>*</req></label>
                                            @Html.EditorFor(model => model.Accupation, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Occupation", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Accupation, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Employer<req>*</req></label>
                                            @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "form-control m-input ", @placeholder = "Employer", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <p>We respectfully request that Partners of Partnerships and Members of LLC's contribute individually, instead of through their respective business entity.</p>


                                </div>*@

                                <div class="form-group m-form__group donate-check">
                                    @*<label>@Html.CheckBoxFor(m => m.IsHostingEvent1)  I am interested in hosting an event for SCC.</label>
                                    <br>*@
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsVolunteer1)I want to volunteer with SCC.
                                    </label>
                                    <button type="submit" class="btn donate-btn">Donate</button>
                                    <p>By clicking "Donate" you confirm that the Donation statements are true and accurate.</p>
                                </div>
                                <div class="cont_wrapper">
                                    <div class="subhead_title">
                                        <h3>Donation Statement</h3>
                                    </div>
                                    <div class="privacy_cont_wrap">
                                        <p>
                                            Donations statements are as follows:
                                        <p>
                                            <ul>
                                                <li>I am not a foreign national who lacks permanent residence in the United States.</li>

                                                <li>
                                                    This donation is made from my own funds, and not those of another.
                                                </li>

                                                <li>
                                                    This donation is not made from the funds of a corporation or labor organization.
                                                </li>

                                                <li>
                                                    This donation is made on a personal credit card or debit card for which I have the legal obligation to pay, and is not made either on a corporate or business entity card or on the card of another person.
                                                </li>

                                                <li>I am at least eighteen years old.</li>
                                            </ul>
                                        </p>
                                        <p>
                                            Donations or gifts are not tax deductible.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--end::Form-->
                    </div>
                    <div class="footer_copyright" style="text-align: center;"><p style="border: 1px solid #dee2e6;padding: 5px 10px;margin-top: -1px;display: inline-block;font-size: 16px;color: #2a2a2a;"> Paid For SCC Gobal</p></div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>


    </div>

<!-- end:: Page -->
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script type="text/javascript">
    $(window).on('load', function () {
        $('.loader').hide();
    });
    $(document).on('change', '.IsRecurring', function (e) {
        //GetDonationStates($('.country').val());

        var isrec = $(".IsRecurring option:selected").text()
        var alt = $('.IsRecurring').val();
        if (alt == "true") {
            $(".RecurringTypeId").prop("required", "required");
            $(".RecurringTypeId").removeAttr("disabled");

        }
        else {
            $('#RecurringTypeId').val("");
            $(".RecurringTypeId").attr("disabled", "disabled");
            $(".RecurringTypeId").prop("required", false);
        }
    });
    $(document).on("keypress", ".AlphabetOnly", function (e) {

        var c = e.keyCode;

        if (((c < 65) && (c != 32)) || (c > 90 && c < 97 && (c != 32)) || (c > 122 && (c != 32)))
            e.preventDefault();
    });
    $(document).on("keypress", ".numbersOnly", function (e) {

        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || $(this).val().length >= 25)) {
            return false;
            //alert('Invalid input');
        }
    });

    $(document).ready(function () {
        $('.donation-amount').click(function (e) {
            e.preventDefault();
            $('.donation-amount').removeClass('active');
            $(this).addClass('active');

            var amount = $(this).val();
            $('#AmountID').val(amount);
            //$('#AmountID').focus();
            var donateID = $(this).attr('id');
            $('#DonationTypeId').val(donateID);

            if (amount >= 5600) {
                $(".SpouseName").prop("required", "required");
            }
            else {
                $(".SpouseName").prop("required", false);

            }
        });

        $('#AmountID').focusout(function () {
            var amount = parseInt($(this).val());
            var i = 1;
            var donateID = $(this).attr('id');
         
            for (i; i < 6; i++) {
                var planamount = parseInt($('#' + i).val());
                // alert(amount + ' ' + planamount);
                if (amount == planamount) {
                    $('.donation-amount').removeClass('active');
                    $('#' + i).addClass('active');
                    $('#DonationTypeId').val(i);
                    return false;
                } else {
                    $('.donation-amount').removeClass('active');
                    $('#6').addClass('active');
                    $('#DonationTypeId').val(6);
                }
            }
        });
    });
    $(document).ready(function () {
        var amount = $('.country').val();
        amount = $('.country').find("option:selected").text();
        $('.countryName').val(amount);

    });
    $(document).on('change', '.country', function () {
        GetDonationStates($('.country').val());
        var amount = $('.Donationstate').val();
        amount = $('.Donationstate').find("option:selected").text();
        $('.statename').val(amount);
    });
    $('#donationForm').submit(function (e) {
        if ($('#donationForm').valid() && @ViewData.ModelState.IsValid) {
        $('.loader').show();
    }
  });
    $(document).on('change', '.Donationstate', function () {
        var amount = $('.Donationstate').val();
        amount = $('.Donationstate').find("option:selected").text();
        $('.statename').val(amount);
    });

    function GetDonationStates(CountryId) {
        try {

            $('.Donationstate').empty();

            var params = { CountryId: CountryId, IsAll: false }
            $.ajax({
                type: "POST",
                url: "/utility/getstates",
                data: JSON.stringify(params),
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data, function () {
                        $('.Donationstate').append("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('4300: ' + errorThrown);
                    //  alert(jqXHR.responseText + ' Error:' + errorThrown);
                }
            });
        }
        catch (ex) {
            console.log('4301: ' + ex.message);
        }
    }
</script>
