﻿

@{
    ViewBag.Title = "Thank you";
     Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>Thank you- SCC WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
   
     
</head>
<body>
    <header></header>
    <div class="cont_wrapper">

    </div>

    <div class="thank-you-main">
        <div class="thank-inner">
            <img src="/Content/images/logo.png">
            <h2>Thanks for your Donation</h2>

        </div>
    </div>
</body>

</html>

