﻿

@{
    ViewBag.Title = "Authorized";
    //  ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutOuterNew1.cshtml";
}

<section class="thankyou-bnr">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 thank-you-main">
                <div class="thank-inner">
                    <div class="thank-logo">
                        <img src="/Content/images/josh-logo.png">
                    </div>
                    <h2>You are not authorized to view this page </h2>

                </div>
            </div>
        </div>
    </div>
</section>

   


