﻿
@using FPModels.Models
@model AppUserListModel
@{
    ViewBag.Title = "App Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "appuser", FormMethod.Post))
{
    <div class="m-content payment-form-wrappe">
        <div class="m-portlet m-portlet--mobile app-user-table">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Users Listing
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar">
                        <label style="width: 100%;">
                            <img src="~/Content/images/search.png" alt="search">
                            @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-sm", @placeholder = "Search", @id = "txtSearch" })
                        </label>
                    </div>
                    <button type="submit" class="btn m-btn--pill btn-danger" style="margin-left:10px;">Search</button>
                    <div class="pull-right app_message">
                        <a href="/appuser/inviteuser" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <img src="~/Content/images/invite-img.png">
                                <span>Invite</span>
                            </span>
                        </a>
                    </div>
                    @*<a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air" id="achrInvite">
            <span>
                <img src="~/Content/images/invite-img.png">
                <span>Invite</span>
            </span>
        </a>*@
                </div>
                <!--begin: Datatable -->
                <table class="table table-responsive table-striped- table-hover table-pagger" cols="7" id="m_table_1">
                    <thead>
                        <tr>
                            <th><a href="#">Name</a></th>
                            <th><a href="#">Address</a></th>
                            <th style="width:164px;"><a href="#">Email</a></th>
                            <th><a href="#">Mobile</a></th>
                            <th><a href="#">Occupation</a></th>
                            <th><a href="#">Employer</a></th>
                            <th><a href="#">Status</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ApUserModelList != null)
                        {
                            foreach (var item in Model.ApUserModelList)
                            {
                                <tr>
                                    <td>@item.FirstName @item.Lastname</td>
                                    <td style="word-break: break-word;">@item.AddressLine1 @item.AddressLine2, @item.CityName, @item.StateName, @item.CountryName, @item.ZIPCode</td>
                                    <td>@item.Email</td>
                                    <td>@(item.MobileNumber == "" ? "-" : "+1") @item.MobileNumber</td>
                                    <td>@(item.Occupation==""?"-":item.Occupation) </td>
                                    <td>@(item.Employer == "" ? "-" : item.Employer)</td>
                                    <td>
                                        @if (item.Status == "Registered")
                                        {
                                            <span class="m-badge  m-badge  m-badge--primary m-badge--wide m-badge--wide">Registered</span>
                                        }
                                        else
                                        {
                                            <span class="m-badge  m-badge--metal m-badge--wide">Invited</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1">
                </div>
            </div>
        </div>
    </div>
}
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script>
    $('#achrInvite').click(function () {
       
        var  data= new FormData();
        data.append("Search", $('#txtSearch').val());

        $.ajax({
            type: "POST",
            url: "/appuser/invite",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
             
                if (data > 0) {
                    AlertWithTitleIcon("Success", "Email has been sent successfully!","success");                       
                }
                else if (data = 0) {
                   
                    AlertWithTitleIcon("Alert", "Unable to send email, please try again later.");
                }
                else {
                    AlertWithTitleIcon("Error", "This action could not be completed right now. Please try again!");
                }


                return false;
            },
            error: function () {
               
                return 'error';
            }
        });
    });
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }

</script>