﻿@using FPModels.Models
@model InviteDataFileModel
@{
    ViewBag.Title = "Invite User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("inviteuser", "appuser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrappe">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet m-portlet--tab">

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">

                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <h3>Upload Contacts</h3>

                        </div>
                        <div class="m-form__group form-group add-file-wrap row">
                            <div class="col-md-4">
                                <div class="form-group m-form__group" style="padding:0px;">
                                    @*<label for="exampleInputEmail1">File Browser</label>*@
                                    <div></div>
                                    <div class="custom-file">
                                        @Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "fileUser", @class = "custom-file-input" })
                                        @*<input type="file" class="custom-file-input" id="customFile">*@
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style=" margin: 0 auto; display: block;" type="submit" id="btnSubmit" class="btn btn-primary btndsb">Upload</button>
                            </div>
                            <div class="col-md-6">
                                <img style=" width: 100%; border: 1px solid #e0e0e0;margin-bottom: 20px;" src="~/Content/images/invite_user_listing.jpg" />
                                <p><b>Note:</b> Upload file with extension(.xls or .xlsx) with data in same format as given in example.</p>
                            </div>

                                @*<div class="upload-btn-wrapper">
                <div class="file_upload_main">
                    <button type="button" class="btn">
                        @Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "fileUser" })
                        Browse file
                    </button>
                    <span id="spanFile"></span>
                </div>
                <button type="submit" id="btnSubmit" class="btn btn-primary btndsb">Upload</button>
            </div>*@

                            </div>
                            <div class="m-form__actions form-buttons">

                                @*<a id="btnReload" href="@Url.Action("inviteuser","appuser",new {fid=Model.InviteDataFileId })" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">Previously Invited</a>*@

                                @if (Model != null && Model._InviteData != null && Model._InviteData.Count > 0)
                                {
                                    <button type="button" id="btnSend" db="@Model.InviteDataFileId" class="btn btn-primary pull-right m-btn--pill sndinvite_btn">
                                        @(Model._InviteData.Where(x => x.Status == "Sent").Count() > 0 ? "Resend Invite" : "Send Invite")
                                    </button>
                                    <span id="spanWait" class="hide">Please wait...</span>
                                    @*<a href="@Url.Action("sendinvitation","appuser",new {fid=Model.InviteDataFileId })" class="btn btn-primary">Send Email</a>*@
                                }
                            </div>
                            <div class="m-form__group form-group add-file-wrap">
                                @if (Model != null && Model._InviteData != null && Model._InviteData.Count > 0)
                                {
                                    <table class="table table-responsive table-striped- table-hover table-responsive table-pagger" cols="7">
                                        <thead>
                                            <tr>
                                                <th>File Number</th>
                                                <th>Date</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                                <th>User Status</th>
                                                <th>Invitation Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model._InviteData)
                                            {
                                                <tr>
                                                    <td>@item.FileNumber</td>
                                                    <td>@item.CreateDate</td>
                                                    <td>@item.FirstName</td>
                                                    <td>@item.LastName</td>
                                                    <td>@item.Email</td>
                                                    <td>
                                                        @if (item.IsRegister)
                                                        {
                                                            <span class="m-badge  m-badge--primary m-badge--wide">Registered</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="m-badge m-badge--metal m-badge--wide">New</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span id="status_@item.InviteDataId" class="m-badge m-badge--wide @item.Status">@item.Status</span>
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn-sm btn-primary m-btn--pill sndinvite_btn btnResend"
                                                                db="@item.InviteDataId"
                                                                data="@item.FirstName"
                                                                email="@item.Email">
                                                            Resend
                                                        </button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p><b>Note:</b> Excel file should be with extension(.xls or .xlsx) and cell/column match with following table structure along with header (FirstName, LastName and Email) in first row:</p>
                                    <table class="table table-responsive table-striped- table-hover table-responsive">
                                        <thead>
                                            <tr>

                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <td>John</td>
                                                <td>Smith</td>
                                                <td>example@gmail.com</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                }
                                <div class="row mt-30" id="pagging1"></div>
                            </div>

                        </div>
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>

}

@*<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>*@
<script type="text/javascript">
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }

    $(document).ready(function () {
        $("#btnSend").click(function () {
            var _fid = $(this).attr("db");

            swal({
                title: "Alert",//"Are you sure?",
                text: "Are you sure you want to invite all un-registered users?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                    if (isConfirm) {

                        $(".btn").addClass("btndsb");
                        //$("#spanWait").removeClass("hide").addClass("show");
                        $("#btnSend").text("Wait...")
                        $.ajax({
                            type: "POST",
                            url: "/appuser/SendInvitation?fid=" + _fid,
                            async: true,
                            success: function (data) {

                                $(".btn").removeClass("btndsb");
                                //$("#spanWait").removeClass("show").addClass("hide");
                                $("#btnSend").text("Send Email");
                                // $("#btnReload").trigger("click");
                                if (data.ReturnCode <= 0)
                                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                                else {
                                    AlertWithTitleIcon("Success", "Request processed successfully. Please click on button 'View Last Uploaded' to check invitation status.", "success");
                                    setTimeout(function () { window.location = "/appuser/inviteuser?fid=l/FwIalIkvAMBpBf4+tOiQ=="; }, 5000);
                                }
                            },
                            error: function (jqXHR, exception) {
                                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                            }
                        });

                    }
                    else {

                    }
                });
        });

        $(".btnResend").click(function () {
            var _did = $(this).attr("db");
            var _name = $(this).attr("data");
            var _email = $(this).attr("email");
            var _spanId = "#status_" + _did;
   
            $.ajax({
                type: "POST",
                url: "/appuser/singleinvite?did=" + _did + "&name=" + _name + "&email=" + _email,
                async: true,
                success: function (data) {
                    if (data.ReturnCode <= 0) {
                        AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                        $(_spanId).text('Failed').removeClass().addClass("m-badge m-badge--wide Failed");                        
                    }
                    else {
                        AlertWithTitleIcon("Success", "Invitation has been sent successfully.", "success");
                        $(_spanId).text('Sent').removeClass().addClass("m-badge m-badge--wide Sent");
                    }
                },
                error: function (jqXHR, exception) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                }
            });
        });

        $("#fileUser").change(function () {
            debugger;
            // get the file name, possibly with path (depends on browser)
            var filename = $(this).val();
            // Use a regular expression to trim everything before final dot
            var ext = filename.replace(/^.*\./, '');
            if (ext == "xls" || ext == "xlsx") {
                $("#btnSubmit").removeClass("btndsb");
            }
            else {
                AlertWithTitleIcon("Warning", "Upload file with extension(.xls or .xlsx) with data in same format as given in example.", "warning");
                $(this).val('');
                $("#btnSubmit").addClass("btndsb");
                return false;
            }
                
               // $("#spanFile").text($(this)[0].files[0].name);
            });

    });
</script>