﻿
@{
    ViewBag.Title = "About";    

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Portlet-->
<div class="m-content m-portlet m-portlet--tab">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Details
                </h3>
            </div>
        </div>
    </div>

    <!--begin::Form-->
    <div class="m-form m-form--fit m-form--label-align-right">

        <div class="m-portlet__body">
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Content</label>
                <textarea class="form-control m-input" rows="17" placeholder="Write here"></textarea>
                <span class="m-form__help">Please enter content</span> <span class="m-form__help pull-right">Maximum 5000 words</span>
            </div>
            <div class="m-form__group form-group add-file-wrap">
                <label for="">Add image</label>
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload</button>
                    <input type="file" name="myfile" />
                    <span class="file-name"><img src="/content/images/close.png" alt="close"> Img_1.jpg</span>
                </div>
            </div>
            <div class="m-form__actions form-buttons">
                <button type="reset" class="btn btn-primary">Publish</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
    <!--end::Form-->
</div>
<!--end::Portlet-->
