﻿@using FPModels.Models
@model  CampaignModel

@{
    ViewBag.Title = "Campaign Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style link rel='stylesheet' type='text/css' href='css/timepicki.css'>
    #input_img_clock {
        position: absolute;
        bottom: 0px;
        right: 0;
        top: 0px;
        color: #fff;
        font-size: 35px;
        background: #F68B63;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
    }

    .time_sec {
        margin-bottom: 30px;
    }

    .Isd {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        /* flex: 1 1 auto; */
        width: 53%;
        margin-bottom: 0;
    }
</style>

@using (Html.BeginForm("create", "Campaign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrapper">

        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    About
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.UserId)
                                @Html.HiddenFor(m => m.DayId)
                                @Html.HiddenFor(m => m.OfficeId)
                                <label for="exampleInputEmail1">Location Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Title)</span>
                            </div>

                            <div class="form-group m-form__group">
                                <label for="example-text-input" class="col-form-label">Phone</label>
                                <div class="add_delivery_time_edit row">

                                    <div class="col-md-3">
                                        <div class="input-group">

                                            @Html.DropDownListFor(m => m.ISDCode, Model._ISDCodeList, new { @class = "form-control Isd" })

                                            @*@Html.TextBoxFor(m => m.ISDCode, new { @class = "form-control m-input numbersOnly", @maxlength = "3", @placeholder = "ISD Code" })*@
                                            @*<input style="border:1px solid #ccc; border-left:0px;" value="1" class="form-control numbersOnly" disabled="disabled" id="ISDCode" maxlength="3" name="ISDCode" type="text">*@
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.ISDCode)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control m-input USMobileFormat numbersOnly", @maxlength = "14", @minlength = "14", @placeholder = "Phone" })
                                        <span class="m-form__help">@Html.ValidationMessageFor(m => m.Phone)</span>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="example-text-input" class="col-form-label">Fax</label>
                                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control m-input numbersOnly", @maxlength = "10", @minlength = "10", @placeholder = "Fax" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Fax)</span>
                            </div>

                            <div class="m-form__group form-group">
                                <label for="">Timings</label>
                                @if (Model != null && Model.DayList != null && Model.DayList.Count > 0)
                                {
                                    for (var i = 0; i < Model.DayList.Count; i++)
                                    {
                                        @*@if (Model.DayList[i].OfficeId = 0)
                                            {*@
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox" id="chk_@i">
                                                @Html.HiddenFor(m => m.DayList[i].DayId)
                                                @Html.HiddenFor(m => m.DayList[i].OfficeId)
                                                @Html.CheckBoxFor(m => m.DayList[i].IsChecked, new { @id = "Cchk_" + @i })
                                                @Html.Label(Model.DayList[i].DayTitle, new { })

                                                @Html.HiddenFor(m => m.DayList[i].DayId, new { @id = "DayId_" + @i })

                                                <span class="chk"></span>
                                            </label>

                                            <div class="form-group m-form__group row" id="Time_@i">
                                                <label for="example-text-input" class="col-1 col-form-label Time_@i @(Model.DayList[i].IsChecked?"show":"hide")">From:</label>
                                                <div class="col-5 Time_@i @(Model.DayList[i].IsChecked?"show":"hide")">
                                                    <div class="input-group" style="position:relative;">
                                                        <div class="cashdrop_time_clock">
                                                            @Html.TextBoxFor(m => m.DayList[i].TimeFrom, new { @class = "form-control time_sec timepicker timefrom", @placeholder = "clock" })
                                                            <i class="fa fa-clock-o" aria-hidden="true" id="input_img_clock"></i>
                                                        </div>
                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><img src="~/Content/images/calender.png" alt="calender"></span></div>
                                                    </div>
                                                </div>
                                                <label for="example-text-input" class="col-1 col-form-label Time_@i @(Model.DayList[i].IsChecked?"show":"hide")">To:</label>
                                                <div class="col-5 Time_@i @(Model.DayList[i].IsChecked?"show":"hide")">
                                                    <div class="input-group" style="position:relative;">
                                                        <div class="cashdrop_time_clock">
                                                            @Html.TextBoxFor(m => m.DayList[i].TimeTo, new { @class = "form-control time_sec timepicker timeto", @placeholder = "clock" })
                                                            <i class="fa fa-clock-o" aria-hidden="true" id="input_img_clock"></i>
                                                        </div>
                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><img src="~/Content/images/calender.png" alt="calender"></span></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    }
                                }
                                <span class="m-form__help">
                                    @Html.ValidationMessageFor(m => m.IsChecked)
                                </span>
                            </div>

                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Country<req>*</req></label>
                                <div class="select-arrow">
                                    @Html.HiddenFor(m => m.StateName)
                                    @Html.HiddenFor(m => m.CountryName)
                                    @Html.DropDownListFor(m => m.CountryId, Model.CountryList, new { @id = "CountryId", @class = "form-control country input_img_desc m-input country" })
                                </div>
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.CountryId, "", new { @id = "CountryValid" })</span>
                            </div>


                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.AddressLine1)</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 2</label>
                                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.AddressLine2)</span>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">City<req>*</req></label>
                                        @Html.TextBoxFor(m => m.CityName, new { @class = "form-control m-input", @placeholder = "Write here" })
                                        <span class="m-form__help">@Html.ValidationMessageFor(m => m.CityName)</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">State<req>*</req></label>
                                        <div class="select-arrow">
                                            @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @id = "StateId", @class = "form-control m-input state" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @id = "StateValid" })
                                    </div>
                                    @* <div class="col-lg-6">
                                            <label for="exampleInputEmail1">State</label>
                                            <div class="select-arrow">
                                                @Html.DropDownListFor(m => m.StateId, Model.StateList, new { @class = "form-control country input_img_desc m-input state" })
                                            </div>
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.StateId)</span>
                                        </div>*@
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                @Html.TextBoxFor(m => m.ZIP, new { @class = "form-control m-input numbersOnly", @maxlength = "6", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.ZIP)</span>
                            </div>

                            <div class="m-form__actions form-buttons">
                                <button type="submit" id="btnSubmit" class="btn btn-primary">Add</button>
                                <a href="/campaign/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

}

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $(".m-checkbox").click(function () {
            try {
                var id = '#C' + this.id;
                if ($(id).is(":checked")) {
                    $(id).removeAttr('checked');
                    $('.Time_' + this.id.split('_')[1]).removeClass("hide").addClass("show");//.toggleClass("form-group m-form__group");//.show();
                }
                else {
                    $(id).attr('checked', true);//.prop("checked", true);

                    $('.Time_' + this.id.split('_')[1]).removeClass("show").addClass("hide");//.toggleClass("form-group m-form__group");//.hide();

                }
            }
            catch (ex) {
                console.log(ex.message);
            }
        });

    });

    //$('#btnSubmit').click(function () {

    //    if (($('#StateId').val() == "-1") && ($('#CountryId').val() == "-1")) {
    //        $('#StateValid').text("Please select");
    //        $(this).attr('color', 'red');
    //        $('#CountryValid').text("Please select");
    //        $(this).attr('color', 'red');
    //        return false;
    //    }
    //    else if (($('#StateId').val() != "-1") && ($('#CountryId').val() == "-1")) {
    //        // $('#StateValid').text("Please select");
    //        $('#CountryValid').text("Please select");
    //        return false;
    //    }
    //    else if (($('#StateId').val() == "-1") && ($('#CountryId').val() != "-1")) {
    //        $('#StateValid').text("Please select");
    //        //$('#CountryValid').text("Please select");
    //        return false;
    //    }
    //    else {
    //        $('#StateValid').text("");
    //        $('#CountryValid').text("");
    //        return true;
    //    }


    //});

</script>
