﻿@using FPModels.Models
@model CampaignModel
@{
    ViewBag.Title = "Campaign Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "campaign", FormMethod.Post))
{
    <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                View Locations
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="table-searh-wrap">
                        <div id="m_table_1_filter" class="dataTables_filter search_table_bar">
                            <label>
                                <img src="~/Content/images/search.png" alt="search">
                                @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                            </label>

                        </div>
                        <button type="submit" class="btn m-btn--pill    btn-danger">Search</button>

                        @if (FPBAL.Business.MenuAccess.Allow("Create"))
                        {
                            <div class="pull-right app_message">
                                <a href="/campaign/create/" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>New</span>
                                    </span>
                                </a>
                            </div>
                        }
                    </div>
                    <!--begin: Datatable -->
                    <table class="table table-responsive table-striped- table-hover table-pagger" cols="5" id="m_table_1">
                        <thead>
                            <tr>
                                <th><a href="#">Campaign Locations</a></th>
                                <th><a href="#">Address</a></th>
                                <th><a href="#">Phone</a></th>
                                <th><a href="#">Fax</a></th>
                                <th><a href="#">Today’s Timings</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.HiddenFor(m => m.UserId)
                            @Html.HiddenFor(m => m.OfficeId)
                            @if (Model != null && Model._campaignlist != null && Model._campaignlist.Count > 0)
                            {

                                foreach (var item in Model._campaignlist)
                                {
                            <tr>
                                <td><a href="@Url.Action("detail", "campaign", new { oid = @item.OfficeId})" style="text-decoration:underline; color:#666674;">@item.Title</a></td>
                                <td style="word-wrap: break-word;">@item.AddressLine1 @item.AddressLine2, @item.CityName, @item.StateName, @item.ZIP</td>
                                <td>@item.ISDCode @item.Phone</td>
                                @if (item.Fax == "")
                                {

                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.Fax</td>
                                }
                                @if (item.TimeFrom == "Closed")
                                {
                                    <td>@item.TimeFrom</td>
                                }
                                else
                                {
                                <td>@item.TimeFrom-@item.TimeTo</td>
                                }
                                @*.Substring(0, item.TimeTo.Length > 5 ? 5 : item.TimeTo.Length)*@
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div class="row mt-30" id="pagging1"></div>
                </div>
            </div>
        </div>
    </div>
}

