﻿@model FPModels.Models.UserModel

    @using (Html.BeginForm("_changepassword", "user", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body" style="padding:2.2rem 2.2rem;">


                            <div class="form-group m-form__group" style="position:relative;">
                                <label for="exampleInputEmail1">Old Password</label>
                                @Html.PasswordFor(m => m.ChangePassworMMOdel.OldPassWord, new { @Class = "form-control m-input smal", @PlaceHolder = "Old Password" })
                                <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                                @Html.ValidationMessageFor(m => m.ChangePassworMMOdel.OldPassWord)
                            </div>
                            <div class="form-group m-form__group" style="position:relative;">
                                <label for="exampleInputEmail1">New Password</label>
                                @Html.PasswordFor(m => m.ChangePassworMMOdel.Password, new { @Class = "form-control m-input smal", @PlaceHolder = "New Password" })
                                <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                                @Html.ValidationMessageFor(m => m.ChangePassworMMOdel.Password)
                            </div>

                            <div class="form-group m-form__group" style="position:relative;">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                @Html.PasswordFor(m => m.ChangePassworMMOdel.ConfirmPassword, new { @Class = "form-control m-input smal", @PlaceHolder = "Confirm Password" })
                                <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                                @Html.ValidationMessageFor(m => m.ChangePassworMMOdel.ConfirmPassword)
                            </div>


                            <div class="m-form__actions form-buttons">
                                <button  class="btn btn-primary">Update</button>
                                <a href="/dashboard/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>
            </div>
        </div>
    }
