﻿@model FPModels.Models.UserModel

<style>
    .menu-access {
        background-color: #21427a !important;
        border: 1px solid #21427a;
    }
</style>

@*@Html.ValidationSummary()*@
<div class="m-content payment-form-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Basic Info
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.HiddenFor(model => model.UserId)

                            <label for="exampleInputEmail1">First Name<req>*</req> </label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "First Name", @maxlength = "30", @required = "required", } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">M.I</label>
                            @Html.EditorFor(model => model.MI, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Middle Initial", @maxlength = "1" } })
                            @Html.ValidationMessageFor(model => model.MI, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Last Name</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Last Name", @maxlength = "30" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Email<req>*</req></label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Email", @maxlength = "100", @required = "required", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Mobile</label>
                            <div class="add_delivery_time_edit row">

                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">+</span>
                                        <input style="border:1px solid #ccc; border-left:0px;" value="1" class="form-control numbersOnly" disabled="disabled" id="ISDCode" maxlength="3" name="ISDCode" type="text">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control m-input USMobileFormat numbersOnly", @placeholder = "Mobile", @maxlength = "10", @minlength = "10" } })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group" style="position:relative;">
                            @Html.HiddenFor(model => model.CurrentPassword)

                            <label for="exampleInputEmail1">Password<req>*</req></label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @value = Model.Password, @class = "form-control m-input", @placeholder = "Password", @maxlength = "50", @required = "required", @autocomplete = "off" } })
                            <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye"></i>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "m-form__help" })

                        </div>
                        <div class="form-group m-form__group" style="position:relative;">
                            <label for="exampleInputEmail1">Confirm Password<req>*</req></label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @value = Model.Password, @class = "form-control m-input", @placeholder = "Confirm Password", @maxlength = "50", @required = "required", @autocomplete = "off" } })
                            <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye"></i>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "m-form__help" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Permissions
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">Title <req>*</req></label>
                            <div class="select-arrow">
                                @Html.DropDownListFor(m => m.TitleId, Model._TitleList, new { @class = "form-control m-input", @required = "required" })
                            </div>
                            @Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "m-form__help" })
                        </div>

                        <div class="form-group m-form__group">
                            <div class="m-portlet__body" style="padding:0px;">
                                @if (Model._MenuList != null)
                                {
                                    Int32 MenuId = 0;
                                    <ul class="nav nav-pills nav-fill" role="tablist" id="menu">
                                        @for (int i = 0; i < Model._MenuList.Count(); i++)
                                        {
                                            MenuId = Model._MenuList[i].MenuId;

                                            <li class="nav-item">
                                                <a class="nav-link manage-btn
                                                   @( Model._MenuList[i].Access ||  Model._MenuList[i].Create ||  Model._MenuList[i].Edit ||  Model._MenuList[i].Delete?"menu-access":"")
                                                   @(i==0?"active show":"")"
                                                   id="menutab_@MenuId" data-toggle="tab" href="#m_tabs_5_@MenuId">
                                                    @Model._MenuList[i].Text
                                                </a>
                                                @Html.HiddenFor(m => m._MenuList[i].Text)
                                                @Html.HiddenFor(m => m._MenuList[i].MenuId)
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        @for (int i = 0; i < Model._MenuList.Count(); i++)
                                        {
                                            MenuId = Model._MenuList[i].MenuId;
                                            <div class="tab-pane @(i==0?"active show":"")" id="m_tabs_5_@MenuId" role="tabpanel">
                                                <div class="m-form__group form-group" style="padding:0px;">
                                                    <label for="">Rights for @Model._MenuList[i].Text</label>
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            @*@Html.CheckBoxFor(m => m._MenuList[i].Access, new { @id = "CchkAll_" + i, @class = "menuchk", @db = i }) All*@
                                                            @if (Model._MenuList[i].Access && Model._MenuList[i].Create && Model._MenuList[i].Edit && Model._MenuList[i].Delete)
                                                            {
                                                                <input type="checkbox" id="CchkAll_@MenuId" class="menuchkAll" db="@MenuId" value="All" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" id="CchkAll_@MenuId" class="menuchkAll" db="@MenuId" value="All" />
                                                            }
                                                            All
                                                            <span class="chk" id="chkAll_@MenuId"></span>
                                                        </label>
                                                    </div>
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            @Html.CheckBoxFor(m => m._MenuList[i].Access, new { @id = "CchkAces_" + MenuId, @class = "menuchk", @db = MenuId }) View
                                                            @Html.HiddenFor(m => m._MenuList[i].Access)
                                                            <span class="chk" id="chkAces_@MenuId"></span>
                                                        </label>
                                                    </div>
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            @Html.CheckBoxFor(m => m._MenuList[i].Create, new { @id = "CchkCreat_" + MenuId, @class = "menuchk", @db = MenuId }) Create
                                                            <span class="chk" id="chkCreat_@MenuId"></span>
                                                        </label>
                                                    </div>
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            @Html.CheckBoxFor(m => m._MenuList[i].Edit, new { @id = "CchkEdit_" + MenuId, @class = "menuchk", @db = MenuId }) Edit
                                                            <span class="chk" id="chkEdit_@MenuId"></span>
                                                        </label>
                                                    </div>
                                                    <div class="m-checkbox-list">
                                                        <label class="m-checkbox">
                                                            @Html.CheckBoxFor(m => m._MenuList[i].Delete, new { @id = "CchkDel_" + MenuId, @class = "menuchk", @db = MenuId }) Delete
                                                            <span class="chk" id="chkDel_@MenuId"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="m-form__actions form-buttons">
                            @if (Model.UserId == 0)
                            {
                                <button type="submit" class="btn btn-primary">Add</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Save</button>
                            }
                            <a href="index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $("span.chk").click(function () {
        var id = 'C' + this.id;
        console.log($(id).is(":checked"));
        if ($(id).is(":checked")) {
            $(id).removeAttr('checked');
            //$(id).prop("checked", false);
        }
        else {
            $(id).attr('checked', true);//.prop("checked", true);
        }
    });

    jQuery(document).ready(function () {
        jQuery(".menuchkAll").change(function () {
                var num = jQuery(this).attr("db");

                var _checked = jQuery("#CchkAll_" + num).is(":checked");
                jQuery("#CchkAces_" + num).prop("checked", _checked);
                jQuery("#CchkCreat_" + num).prop("checked", _checked);
                jQuery("#CchkEdit_" + num).prop("checked", _checked);
                jQuery("#CchkDel_" + num).prop("checked", _checked);
                if (_checked)
                    jQuery("#menutab_" + num).addClass(" menu-access");
                else
                    jQuery("#menutab_" + num).removeClass(" menu-access");
           // }
        });
        jQuery(".menuchk").change(function () {

            var num = jQuery(this).attr("db");
            //console.log(num);
            // All
           

            if (jQuery("#CchkAces_" + num).is(":checked")
                && jQuery("#CchkCreat_" + num).is(":checked")
                && jQuery("#CchkEdit_" + num).is(":checked")
                && jQuery("#CchkDel_" + num).is(":checked")) {
                jQuery("#menutab_" + num).addClass(" menu-access");
                jQuery("#CchkAll_" + num).prop("checked", true);
            }
            else {
                jQuery("#menutab_" + num).removeClass(" menu-access");
                jQuery("#CchkAll_" + num).prop("checked", false);
            }

            // single
            if (jQuery("#CchkAces_" + num).is(":checked")
                || jQuery("#CchkCreat_" + num).is(":checked")
                || jQuery("#CchkEdit_" + num).is(":checked")
                || jQuery("#CchkDel_" + num).is(":checked")) {
                jQuery("#menutab_" + num).addClass(" menu-access");
                jQuery("#CchkAces_" + num).prop("checked", true);
            }
            else {
                jQuery("#menutab_" + num).removeClass(" menu-access");
            }

        });


        // Permissions by title
        $("#TitleId").change(function () {
           
            $.ajax({
                type: "POST",
                url: "/user/permissionbyrole?tid=" + $(this).val(),
                contentType: false,
                processData: false,                
                success: function (_permList) {                   
                    jQuery(".nav-item .nav-link").removeClass("active menu-access");
                    jQuery(".m-checkbox input:checkbox").prop("checked", false);
                    if (_permList.length > 0) {
                        for (var i = 0; i < _permList.length; i++) {                            
                            jQuery("#menutab_" + _permList[i].MenuId).addClass(" menu-access");
                            jQuery("#CchkAll_" + _permList[i].MenuId).prop("checked", true);
                            jQuery("#CchkAces_" + _permList[i].MenuId).prop("checked", true);
                            jQuery("#CchkCreat_" + _permList[i].MenuId).prop("checked", true);
                            jQuery("#CchkEdit_" + _permList[i].MenuId).prop("checked", true);
                            jQuery("#CchkDel_" + _permList[i].MenuId).prop("checked", true);   
                        }
                    }

                },
                error: function () {
                    return 'error';
                }
            });

        });
    });
</script>
