﻿@model FPModels.Models.UserModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("myprofile", "user", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <!-- BEGIN: Subheader -->
    @*<div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                </div>
            </div>
        </div>*@
    

    <div class="m-content">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__body">
                        <div class="m-card-profile">
                            <div class="m-card-profile__title m--hide">
                                Your Profile
                            </div>
                            <div class="m-card-profile__pic">

                                @*<div class="m-card-profile__pic-wrapper profile-user-img ">*@
                                <input id="fileProfilePic" href="#" type="file" name="ProfilePic" style="display:none;" data="#imgProfilePic">
                                <a class="fileUpload cropBox" data="#fileProfilePic" cImgOne="#imgProfilePic"  cImgTwo="#layoutProfilePic"  cImgThree="#boxProfilePic" cWidth="150" cHeight="150" cBtnSave="1">
                                    <img id="imgProfilePic" class="fileUpload" @*style="width:140px;height:130px;"*@
                                         src="/@Model.ProfilePic" onerror="this.onerror=null;this.src='/content/images/user1.png';" />
                                    <span class="profie_edit_btn">
                                        <img src="~/Content/images/edit.png" />
                                    </span>
                                </a>

                                @*<img src="/content/images/user-img.png" alt="" />*@
                                @*</div>*@
                            </div>

                            <div class="m-card-profile__details">
                                @*<span class="m-card-profile__name">Josh Gotthimer</span>*@
                                <span class="m-card-profile__name">
                                    @Model.FirstName @Model.MI @Model.LastName
                                </span>
                                <a href="" class="m-card-profile__email" style="color:#224178 ">@Model.Email</a><br>
                                <span class="m-card-number">Client ID:  @Model.UserCode</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <!--begin::Portlet-->
                <div class="m-portlet__body" style="padding:0px;">
                    <div class="m-portlet__head profile-tabs">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <ul class="nav nav-pills nav-fill " role="tablist">
                                    <li class="nav-item active">
                                        <a class="nav-link manage-btn active show" data-toggle="tab" href="#m_tabs_5_1">Profile Detail</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link manage-btn" data-toggle="tab" href="#m_tabs_5_2">Update Password</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane" id="m_tabs_5_1" role="tabpanel">

                            <!--begin::Portlet-->
                            <div class="m-portlet m-portlet--tab">

                                <!--begin::Form-->
                                @using (Html.BeginForm("myprofile", "user", FormMethod.Post))
                                {
                                    <div class="m-form m-form--fit m-form--label-align-right">
                                        <div class="m-portlet__body" style="padding:2.2rem 2.2rem;">
                                            @Html.CheckBoxFor(m => m.IsProfileComplete, new { @style = "visibility:hidden;" })
                                            <div class="form-group m-form__group">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <label for="exampleInputEmail1">First Name  <req>*</req></label>
                                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "First Name", @maxlength = "30", @required = "required", } })
                                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "m-form__help" })
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <label for="exampleInputEmail1">Middle Initial</label>
                                                        @Html.EditorFor(model => model.MI, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Middle Initial", @maxlength = "1" } })
                                                        @Html.ValidationMessageFor(model => model.MI, "", new { @class = "m-form__help" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Last Name</label>
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Last Name", @maxlength = "30" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "m-form__help" })
                                            </div>
                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Email  <req>*</req></label>
                                                @Html.HiddenFor(model => model.OldEmail)
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Email", @maxlength = "100", @required = "required", @autocomplete = "off" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "m-form__help" })
                                            </div>

                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Mobile</label>
                                                <div class="add_delivery_time_edit row" style="margin-left:0px;margin-right:0px;">

                                                    <div class="col-md-2" style="padding: 0px 6px 0px 0px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">+</span>
                                                            <input style="border:1px solid #ccc; border-left:0px;" value="1" class="form-control numbersOnly" disabled="disabled" id="ISDCode" maxlength="3" name="ISDCode" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        @*<input class="form-control numbersOnly USMobileFormat" data-val="true" data-val-maxlength="Maximum character length is 20" data-val-maxlength-max="200" id="Mobile" minlength="14" name="Mobile" type="text" value="(234) 234-2342" maxlength="14">*@
                                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control m-input USMobileFormat numbersOnly", @placeholder = "Mobile", @minlength = "14" } })

                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "m-form__help" })
                                                @*<span class="m-form__help">Please enter mobile number</span>*@
                                            </div>
                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Time Zone <req>*</req></label>
                                                <div class="select-arrow">
                                                    @Html.DropDownListFor(m => m.TimeZone, Model._TimeZoneList, new { @class = "form-control m-input" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.TimeZone)
                                            </div>

                                            <div class="form-group m-form__group">
                                                <label for="exampleSelect1">Country <req>*</req></label>
                                                <div class="select-arrow">
                                                    @Html.DropDownListFor(m => m.CountryId, Model._CountryList, new { @class = "form-control m-input country" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "m-form__help" })
                                            </div>

                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Address Line 1  <req>*</req></label>
                                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Address Line1", @maxlength = "50" } })
                                                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "m-form__help" })
                                            </div>
                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">Address Line 2</label>
                                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Address Line2", @maxlength = "50" } })
                                                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "m-form__help" })
                                            </div>
                                            <div class="form-group m-form__group">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label for="exampleInputEmail1">City<req>*</req></label>
                                                        @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "City Name", @maxlength = "100" } })
                                                        @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "m-form__help" })
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label for="exampleInputEmail1">State<req>*</req></label>
                                                        <div class="select-arrow">
                                                            @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @class = "form-control m-input state" })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "m-form__help" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group">
                                                <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @placeholder = "Zip Code", @maxlength = "6" } })
                                                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "m-form__help" })
                                            </div>
                                            <div class="m-form__actions form-buttons">
                                                <button class="btn btn-primary">Save</button>
                                                <a href="/dashboard/index" class="btn btn-secondary">Cancel</a>
                                                @*<a href="/user/profile" class="btn btn-secondary">Cancel</a>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Form-->
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_5_2" role="tabpanel">
                            <section id="m_tabs_5_2">
                                @{Html.RenderPartial("_ChangePassword"); }
                            </section>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
        function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $(document).ready(function () {
       // CheckSelection(@Model.Status);
    });
    $(document).ready(function () {

    //$('.fileUpload').click(function () {
    //    $($(this).attr("data")).trigger("click");
    //});

$("#fileProfilePic").change(function () {

            var _image = $(this).attr("data");
            var reader = new FileReader();
            var _currentPath = "";

            var imageVal = new Image();
                reader.onload = function (e) {
                    _currentPath = e.target.result;
                imageVal.src = e.target.result;
               // $(_image).attr("src", e.target.result);

            }
            reader.readAsDataURL($(this)[0].files[0]);

    imageVal.onload = function () {

        if ((this.width / this.height) > 1) {
                    AlertWithTitleIcon("Warning", SquareRatio(this.width, this.height));
                    return false;
                }
                else {
            $(_image).attr("src", _currentPath);
            $("#layoutProfilePic").attr("src", _currentPath);

                        //file
                        var data = new FormData();
                        var files = $("#fileProfilePic").get(0).files;
                        // Add the uploaded image content to the form data collection
                        if (files.length > 0) {
                        for (var i = 0; i < files.length; ++i) {
                            data.append("files[]" + i, files[i]);
                            }
                        }

                        $.ajax({
                        type: "POST",
                        url: "/user/uploadprofileimage",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            if (data > 0) {
                                
                                AlertWithTitleIcon("Success", "Profile picture changed!");

                            }
                            else if (data = 0) {
                            AlertWithTitleIcon("Warning", "The filetype you are attempting to upload is not allowed!");
                            }
                            else {
                            AlertWithTitleIcon("Warning", "Minimum file size should be 150*150 Pixel");
                            //$('#imgProfilePic').reset();
                            //location.reload();
                            }

                        },
                        error: function () {
                        return 'error';
                        }
                        });
        }
    };
        });
        
       

    });


    $("body").on("click", ".UploadCropImage", function () {
       
        $.ajax({
            type: "POST",
            url: "/user/UploadCropImage",
            data: JSON.stringify({ BaseData: $('#imgProfilePic').attr("src") }),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $("#squareCropModal").modal("hide");
                    AlertWithTitleIcon("Success", "Profile picture changed!");
                }
                else if (data = 0) {
                    AlertWithTitleIcon("Warning", "The filetype you are attempting to upload is not allowed!");
                }
                else {
                    AlertWithTitleIcon("Warning", "Minimum file size should be 150*150 Pixel");
                    //$('#imgProfilePic').reset();
                    //location.reload();
                }

            },
            error: function () {
                return 'error';
            }
        });
    });

    function chkEmail() {

        if ($('#OldEmail').val() == '@Model.Email') {
            $.ajax({
                url: "/user/profile",
                data: { model: @Model},
                type: 'post',
                cache: false,
                dataType: 'json',
                //position: { collision: "flip" },
                success: function (json) {

                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {

                    console.log('some error occured', textStatus, errorThrown);
                }
            });
        }
    }

    $(document).ready(function () {
        $('#m_tabs_5_1').addClass("in active");
       

        if (!$("#IsProfileComplete").is(":checked"))
            AlertWithTitleIcon("Warning", "Please complete your profile including Time Zone to continue!","warning");
    });
</script>