﻿@model FPModels.Models.UserModel
@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .menu-access {
        background-color: #21427a !important;
        border: 1px solid #21427a;
    }
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    @*<div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title "> Users Detail</h3>
            </div>
        </div>
    </div>*@
    <!-- END: Subheader -->
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Basic Info
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->

                    <div class="m-portlet__body">
                        <ul class="list-unstyled event-detail">
                            <li>
                                <div class="row">
                                    <div class="col-md-8">
                                        <label>Name</label>
                                        <p>@Model.FirstName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>M.I</label>
                                        <p>@(Model.MI=="" ? "-" :Model.MI)</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>Last Name</label>
                                <p>
                                    @(Model.LastName == "" ? "-" : Model.LastName)
                                    @*@Model.LastName*@
                                </p>
                            </li>
                            <li>
                                <label>Email</label>
                                <p>@Model.Email</p>
                            </li>
                            <li>
                                <label>Mobile</label>
                                <p>@(Model.Mobile == "" ? "-" : "+1") @Model.Mobile</p>
                            </li>
                            <li>
                                <label>Password</label>
                                <p>**************</p>

                            </li>
                            <li>
                                <label>Status</label>
                                <p>@(Model.Status?"Active":"Inactive")</p>
                            </li>
                        </ul>
                    </div>
                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Permissions
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Title</label>
                                <p style="font-weight:600;">@Model.Title</p>
                                @*<div class="select-arrow">
                @Html.DropDownListFor(m => m.TitleId, Model._TitleList, new { @class = "form-control m-input", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "m-form__help" })*@
                            </div>

                            <div class="form-group m-form__group">
                                <div class="m-portlet__body" style="padding:0px;">
                                    @if (Model._MenuList != null)
                                    {
                                        <ul class="nav nav-pills nav-fill" role="tablist" id="menu">
                                            @for (int i = 0; i < Model._MenuList.Count(); i++)
                                            {

                                                <li class="nav-item">
                                                    <a class="nav-link manage-btn
                                                   @( Model._MenuList[i].Access ||  Model._MenuList[i].Create ||  Model._MenuList[i].Edit ||  Model._MenuList[i].Delete?"menu-access":"")
                                                   @(i==0?"active show":"") "
                                                       id="menutab_@i" data-toggle="tab" href="#m_tabs_5_@i">
                                                        @Model._MenuList[i].Text
                                                    </a>
                                                    @Html.HiddenFor(m => m._MenuList[i].Text)
                                                    @Html.HiddenFor(m => m._MenuList[i].MenuId)
                                                </li>
                                            }
                                        </ul>
                                        <div class="tab-content">
                                            @for (int i = 0; i < Model._MenuList.Count(); i++)
                                            {
                                                <input type="hidden" id="hfMenuCount" value="@i" />

                                                <div class="tab-pane @(i==0?"active show":"") " id="m_tabs_5_@i" role="tabpanel">
                                                    <div class="m-form__group form-group" style="padding:0px;">
                                                        <label id="lblRight">Rights for @Model._MenuList[i].Text</label>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox" style="pointer-events: none;">
                                                                @Html.CheckBoxFor(m => m._MenuList[i].Access) View
                                                                @Html.HiddenFor(m => m._MenuList[i].Access)
                                                                <span class="chk" id="chkAces_@i"></span>
                                                            </label>

                                                        </div>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox" style="pointer-events: none;">
                                                                @Html.CheckBoxFor(m => m._MenuList[i].Create) Create
                                                                <span class="chk" id="chkCreat_@i"></span>
                                                            </label>
                                                        </div>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox" style="pointer-events: none;">
                                                                @Html.CheckBoxFor(m => m._MenuList[i].Edit) Edit
                                                                <span class="chk" id="chkEdit_@i"></span>
                                                            </label>
                                                        </div>
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox" style="pointer-events: none;">
                                                                @Html.CheckBoxFor(m => m._MenuList[i].Delete) Delete
                                                                <span class="chk" id="chkDel_@i"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (FPBAL.Business.MenuAccess.Allow("Edit"))
                            {
                                <div class="m-form__actions form-buttons" style="position:static;">
                                    <a href="/user/edit?id=@Model.EncryptedUserId" style="text-decoration:underline;" class="btn btn-primary">Edit</a>

                                    <a href="/user/disable?id=@Model.EncryptedUserId"
                                       class="btn btn-danger"
                                       style="background-color:transparent; color:#f4516c !important;"
                                       id="Disable_@Model.UserId"
                                       onclick="return Confirm('Are you sure you want to @(Model.Status ? "disable" : "enable") this record?',this)">
                                        @(Model.Status ? "Disable" : "Enable")
                                    </a>

                                    <a href="/user/delete?id=@Model.EncryptedUserId"
                                       class="btn btn-secondary"
                                       id="Delete_@Model.UserId"
                                       onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                        Delete
                                    </a>
                                </div>
                            }
                            </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>*@
<script>
    function Confirm(title, event) {
        var clientid = event.id;
        var href = $('#' + clientid).attr('href');
        var returnType = false;

        swal({
            title: "Warning",//"Are you sure?",
            text: title,
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    $('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
        return returnType;
    }

    //$(document).ready(function () {
    //    $(".manage-btn").click(function () {
    //        
    //        var _header = "Rights for " + $.trim($(this).text());
    //        $("#lblRight").text(_header);
    //    });
    //});
</script>