﻿@model FPModels.Models.CustProfileInfoNew
@{
    ViewBag.Title = "Donation";
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutOuterNew.cshtml";
}



@using (Html.BeginForm("Donation", "about", FormMethod.Post))
{
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>


            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
               

                <!-- END: Subheader -->
                <div class="m-content payment-form-wrapper about-us-wrap donation-wrap">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
           

                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group donation-head">
                                    <h4>You will receive an email confirmation of your donation</h4>
                                    <p>
                                        Individuals are able to contribute a maximum of $5,600 per person to Josh’s election efforts and $11,200 a couple.
                                        If contributing $11,200 for a couple, please process from a joint account.  Additional family members can also contribute.
                                    </p>
                                    <p>($2,800 per person allocated to the 2020 primary and $2,800 allocated to the 2020 general)</p>
                                </div>

                                <div class="form-group m-form__group">
                                    <div class="at-radio">
                                        <div class="at-radios clearfix">
                                            @if (Model._donationTypeList != null)
                                            {
                                                foreach (var item in Model._donationTypeList)
                                                { 
                                            <button id="@item.DonationTypeId" class="donation-amount" value="@item.Amount">
                                                @item.DonationText
                                            </button>
                                                      
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.HiddenFor(m => m.SessionToken)
                                    @Html.HiddenFor(m => m.FollowerId)
                                    @Html.HiddenFor(m => m.CampaignId)
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Payment Method</label>
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control m-input ", @id = "AmountID", @placeholder = "Amount", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Spouse Name</label>
                                            @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Last Name", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "m-form__help" })
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group m-form__group contribution-month">
                                    <h4>Do you want to make this contribution Monthly?</h4>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Select Option</label>
                                            <div class="select-arrow">
                                                @if (Model._iSMonthlyList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.IsRecurring, Model._iSMonthlyList, new { @class = "custom-select IsRecurring custom-select-sm form-control form-control-sm" })
                                                }
                                                </div>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Duration</label>
                                            <div class="select-arrow">
                                                @if (Model._recurringList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.RecurringTypeId, Model._recurringList, new { @class = "custom-select RecurringTypeId custom-select-sm form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(model => model.RecurringTypeId, "", new { @class = "m-form__help" })
                                                }   </div>
                                        </div>
                                    </div>

                                        <div class="row">
                                            <div class="col-lg-6 form-group">
                                                <label for="exampleInputEmail1">Card Holder Name</label>
                                                @Html.EditorFor(model => model.CardHolderName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @required = "required", @placeholder = "Occupation", @maxlength = "30" } })
                                                @Html.ValidationMessageFor(model => model.CardHolderName, "", new { @class = "m-form__help" })
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <label for="exampleInputEmail1">Credit/Debit Card</label>
                                                @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "Employer", @maxlength = "16" } })
                                                @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "m-form__help" })
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label for="exampleInputEmail1">MM/YY</label>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        @Html.EditorFor(model => model.ExpiryMonth, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "MM", @maxlength = "2" } })
                                                        @Html.ValidationMessageFor(model => model.ExpiryMonth, "", new { @class = "m-form__help" })
                                                    </div>
                                                    <div class="col-lg-1" style="padding-top:12px;">
                                                        /
                                                    </div>
                                                    <div class="col-lg-4">
                                                        @Html.EditorFor(model => model.ExpiryYear, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "YY", @maxlength = "2" } })
                                                        @Html.ValidationMessageFor(model => model.ExpiryYear, "", new { @class = "m-form__help" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <label for="exampleInputEmail1">CVV</label>
                                                @Html.EditorFor(model => model.CardSecurity, new { htmlAttributes = new { @class = "form-control m-input numbersOnly", @required = "required", @placeholder = "CVV", @maxlength = "3" } })
                                                @Html.ValidationMessageFor(model => model.CardSecurity, "", new { @class = "m-form__help" })
                                            </div>
                                        </div>
                                    

                                </div>

                                <div class="form-group m-form__group employer-info form_billing-address">
                                    <h4>Billing Address</h4>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleSelect1">Country<req>*</req></label>
                                            <div class="select-arrow">
                                                @Html.HiddenFor(m => m.State,  new { @id = "statename",  @class = "form-control statename input_img_desc m-input " })
                                                @Html.HiddenFor(m => m.Country, new { @id = "countryName", @class = "form-control countryName input_img_desc m-input " })
                                                @if (Model.CountryList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.CountryId, Model.CountryList, new { @id = "CountryId", @required = "required", @class = "form-control country input_img_desc m-input country" })
                                                }</div>
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.CountryId, "", new { @id = "CountryValid" })</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control m-input", @required = "required", @maxlength = "50", @placeholder = "Write here" })
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.Address1)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Address Line 2</label>
                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control m-input", @maxlength = "50", @placeholder = "Write here" })
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.Address2)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">City</label>
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control m-input AlphabetOnly", @placeholder = "Write here" })
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.City)</span>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">State<req>*</req></label>
                                            <div class="select-arrow">
                                                @if (Model.CountryList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @id = "_StateList", @required = "required", @class = "form-control m-input Donationstate" })
                                                }
                                            </div>
                                            @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control m-input numbersOnly", @required = "required", @maxlength = "6", @placeholder = "Write here" })
                                            <span class="m-form__help">@Html.ValidationMessageFor(m => m.Zipcode)</span>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Email<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @maxlength = "50", @required = "required", placeholder = "Email", @autocomplete = "off" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group employer-info">
                                    <h4>Employer Information</h4>
                                    <p>This information is required by law.</p>
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Occupation</label>
                                            @Html.EditorFor(model => model.Accupation, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @required = "required", @placeholder = "Occupation", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Accupation, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label for="exampleInputEmail1">Employer</label>
                                            @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @required = "required", @placeholder = "Employer", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "m-form__help" })
                                        </div>

                                    </div>
                                    <p>We respectfully request that Partners of Partnerships and Members of LLC's contribute individually, instead of through their respective business entity.</p>


                                </div>

                                <div class="form-group m-form__group donate-check">
                                    <label>@Html.CheckBoxFor(m => m.IsHostingEvent1)  I am interested in hosting an event for Josh.</label>
                                    <br>
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsVolunteer1)I want to volunteer with Josh.
                                    </label>
                                    <button type="submit" class="btn donate-btn">Donate</button>
                                    <p>By clicking "Donate" you confirm that the <a href=""> Donation statements</a> are true and accurate.</p>
                                </div>
                            </div>
                        </form>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->
                </div>
            </div>
        </div>

      
    </div>

    <!-- end:: Page -->
    
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).on("keypress", ".AlphabetOnly", function (e) {

        var key = e.keyCode;
        //if (key >= 48 && key <= 57) {
        if ((c < 65) || (c > 90 && c < 97) || (c > 122))
            e.preventDefault();
    });
        $(document).on("keypress", ".numbersOnly", function (e) {

            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || $(this).val().length >= 25)) {
                return false;
                //alert('Invalid input');
            }
    });
  
    $(document).ready(function () {
        $('.donation-amount').click(function () {
            var amount = $(this).val();
            $('#AmountID').val(amount);
        });

    });
    $(document).ready(function () {
        var amount = $('.country').val();
        amount = $('.country').find("option:selected").text();
        $('.countryName').val(amount);

    });
    $(document).on('change', '.IsRecurring', function () {
        //GetDonationStates($('.country').val());
        var isrecurring = $(this).val();
        if (isrecurring = 'Yes')
        {
            $(".RecurringTypeId").prop("required", "required");
        }
        else
            $(".RecurringTypeId").prop("required", false);
    });

    $(document).on('change', '.country', function () {
        GetDonationStates($('.country').val());
        var amount = $('.Donationstate').val();
        amount = $('.Donationstate').find("option:selected").text();
        $('.statename').val(amount);
    });

    $(document).on('change', '.Donationstate', function () {
        var amount = $('.Donationstate').val();
        amount = $('.Donationstate').find("option:selected").text();
        $('.statename').val(amount);
    });
    function GetDonationStates(CountryId) {
        try {

            $('.Donationstate').empty();

            var params = { CountryId: CountryId, IsAll: false }
            $.ajax({
                type: "POST",
                url: "/utility/getstates",
                data: JSON.stringify(params),
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data, function () {
                        $('.Donationstate').append("<option value=" + this.Value + ">" + this.Text + "</option>");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('4300: ' + errorThrown);
                    //  alert(jqXHR.responseText + ' Error:' + errorThrown);
                }
            });
        }
        catch (ex) {
            console.log('4301: ' + ex.message);
        }
    }
</script>
