﻿@model FPModels.Models.DonateAPIModel
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_LayoutOuterNew.cshtml";
}
@*@Styles.Render("~/content/css1")*@


@using (Html.BeginForm("Donate", "about", FormMethod.Post))
{
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>


            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title ">Donate</h3>
                        </div>
                    </div>
                </div>

                <!-- END: Subheader -->
                <div class="m-content payment-form-wrapper about-us-wrap">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Details
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group donation-head">
                                    <h4>You will receive an email confirmation of your donation</h4>
                                    <p>
                                        Individuals are able to contribute a maximum of $5,600 per person to scc election efforts and $11,200 a couple.
                                        If contributing $11,200 for a couple, please process from a joint account.  Additional family members can also contribute.
                                    </p>
                                    <p>($2,800 per person allocated to the 2020 primary and $2,800 allocated to the 2020 general)</p>
                                </div>

                                <div class="form-group m-form__group">
                                    <div class="at-radio">
                                        <div class="at-radios clearfix">
                                            @if (Model._DonationTypeList != null)
                                            {
                                                foreach (var item in Model._DonationTypeList)
                                                {
                                                    <label class="label-amount incrediblyLong" title="@item.DonationText">
                                                        <input id="@item.DonationTypeId" class="donation-amount" name="SelectAmount" type="radio" value="@item.Amount" >
                                                        @item.DonationText
                                                        <a></a>
                                                    </label>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    @Html.HiddenFor(m => m.SessionToken)
                                    @Html.HiddenFor(m => m.DonationTypeId)
                                    @Html.HiddenFor(m => m.FollowerId)
                                    @Html.HiddenFor(m => m.CampaignId)
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Payment Method</label>
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control m-input AmountIDc ", @required = "required", @id = "AmountID", @placeholder = "Amount", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Spouse Name</label>
                                            @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Last Name", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Select Payment Method</label>
                                            <div class="select-arrow">
                                                @if (Model._PaymentMethodList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.PaymentMethodId, Model._PaymentMethodList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(model => model.PaymentMethodId, "", new { @class = "m-form__help" })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group m-form__group contribution-month">
                                    <h4>Do you want to make this contribution Monthly?</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Select Option</label>
                                            <div class="select-arrow">
                                                @if (Model._ISMonthlyList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.IsRecurring, Model._ISMonthlyList, new { @class = "custom-select ISRecurring custom-select-sm form-control form-control-sm" })
                                                }
                                                </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Duration</label>
                                            <div class="select-arrow">
                                                @if (Model._RecurringList != null)
                                                {
                                                    @Html.DropDownListFor(m => m.RecurringTypeId, Model._RecurringList, new { @class = "custom-select RecurringTypeId custom-select-sm form-control form-control-sm" })

                                                    @Html.ValidationMessageFor(model => model.RecurringTypeId, "", new { @class = "m-form__help" })
                                                }  </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group m-form__group employer-info">
                                    <h4>Employer Information</h4>
                                    <p>This information is required by law.</p>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Occupation</label>
                                            @Html.EditorFor(model => model.Accupation, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Occupation", @maxlength = "30", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Accupation, "", new { @class = "m-form__help" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Employer</label>
                                            @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Employer", @maxlength = "30", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "m-form__help" })
                                        </div>

                                    </div>
                                    <p>We respectfully request that Partners of Partnerships and Members of LLC's contribute individually, instead of through their respective business entity.</p>


                                </div>

                                <div class="form-group m-form__group donate-check">
                                    <label>@Html.CheckBoxFor(m => m.IsHostingEvent1)  I am interested in hosting an event for SCC.</label>
                                    <br>
                                    <label>
                                        @Html.CheckBoxFor(m => m.IsVolunteer1)I want to volunteer with SCC.
                                    </label>
                                    @*<input type="checkbox" name="vehicle1" value="Bike"> I am interested in hosting an event for SCC.<br>
                                        <input type="checkbox" name="vehicle2" value="Car"> I want to volunteer with SCC.<br>*@

                                    @*<button class="donate-btn">Donate</button>*@
                                    <button type="submit" class="btn donate-btn">Donate</button>
                                    <p>By clicking "Donate" you confirm that the <a href=""> Donation statements</a> are true and accurate.</p>
                                </div>



                            </div>
                        </form>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->
                </div>
            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="copyright-wrap">
                        <span class="m-footer__copyright">
                            2019 © Powered By <a href="#" class="m-link"><img src="images/footer-logo.png" alt="foot-logo"></a>
                        </span>
                    </div>
                    <div class="foot-links">
                        <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Privacy</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">About</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Terms & Conditions</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Support</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Purchase License</span>
                                </a>
                            </li>
                            <li class="m-nav__item m-nav__item">
                                <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- end::Footer -->
    </div>

    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <img src="images/go-top.png" alt="go-top">
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    //var x = document.getElementById("demo");
    $(document).on("keypress", ".AlphabetOnly", function (e) {

        var key = e.keyCode;
        //if (key >= 48 && key <= 57) {
        if ((c < 65) || (c > 90 && c < 97) || (c > 122))
            e.preventDefault();
    });
    $(document).on("keypress", ".numbersOnly", function (e) {

        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || $(this).val().length >= 25)) {
            return false;
            //alert('Invalid input');
        }
    });
    $(document).on('change', '.IsRecurring', function () {
        GetDonationStates($('.country').val());
        var isrecurring = $(this).val();
        if (isrecurring = 'Yes') {
            $(".RecurringTypeId").prop("required", "required");
        }
        else
            $(".RecurringTypeId").prop("required", false);
    });
    $(document).ready(function () {
        $('.donation-amount').click(function () {
            var amount = $(this).val();
            $('#AmountID').val(amount);
        });

    });
</script>
