﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DonatePage</title>
    @Styles.Render("~/content/css1")

</head>

<body >


    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
     
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
         

            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title ">Donate</h3>
                        </div>
                    </div>
                </div>

                <!-- END: Subheader -->
                <div class="m-content payment-form-wrapper about-us-wrap">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Details
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group donation-head">
                                    <h4>You will receive an email confirmation of your donation</h4>
                                    <p>
                                        Individuals are able to contribute a maximum of $5,600 per person to Josh’s election efforts and $11,200 a couple.
                                        If contributing $11,200 for a couple, please process from a joint account.  Additional family members can also contribute.
                                    </p>
                                    <p>($2,800 per person allocated to the 2020 primary and $2,800 allocated to the 2020 general)</p>
                                </div>

                                <div class="form-group m-form__group">
                                    <div class="at-radio">
                                        <div class="at-radios clearfix">
                                            <label class="label-amount incrediblyLong" title="Sponsor ($500)">
                                                <input name="SelectAmount" type="radio" value="500.00">
                                                Sponsor ($500)
                                                <a></a>
                                            </label>
                                            <label class="label-amount incrediblyLong" title="Champion  ($1,000)">
                                                <input name="SelectAmount" type="radio" value="1000.00">
                                                Champion  ($1,000)
                                                <a></a>
                                            </label>
                                            <label class="label-amount tooLong" title="Half Ironman ($2,800)">
                                                <input name="SelectAmount" type="radio" value="2800.00">
                                                Half Ironman ($2,800)
                                                <a></a>
                                            </label>
                                            <label class="label-amount incrediblyLong" title="Ironman ($5,600)">
                                                <input name="SelectAmount" type="radio" value="5600.00">
                                                Ironman ($5,600)
                                                <a></a>
                                            </label>
                                            <label class="label-amount incrediblyLong" title="Olympian ($11,200)">
                                                <input name="SelectAmount" type="radio" value="11200.00">
                                                Olympian ($11,200)
                                                <a></a>
                                            </label>
                                            <label class="label-amount incrediblyLong" title="Olympian ($11,200)">
                                                <input name="SelectAmount" type="radio" value="11200.00">
                                                Other
                                                <a></a>
                                            </label>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group m-form__group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Payment Method</label>
                                            <input type="text" class="form-control m-input" placeholder="$500">

                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Select Payment Method</label>
                                            <div class="select-arrow">
                                                <select class="form-control m-input" id="exampleSelect1">
                                                    <option>XXXX XXXX XXXX 7895</option>
                                                    <option>XXXX XXXX XXXX 7895</option>

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="form-group m-form__group contribution-month">

                                    <h4>Do you want to make this contribution Monthly?</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Select Option</label>
                                            <div class="select-arrow">
                                                <select class="form-control m-input" id="exampleSelect1">
                                                    <option>Yes</option>
                                                    <option>No</option>

                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Duration</label>
                                            <div class="select-arrow">
                                                <select class="form-control m-input" id="exampleSelect1">
                                                    <option>Untill the election</option>
                                                    <option>Untill the election</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group m-form__group employer-info">
                                    <h4>Employer Information</h4>
                                    <p>This information is required by law.</p>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Occupation</label>
                                            <input type="text" class="form-control m-input" placeholder="Business">

                                        </div>
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1">Employer</label>
                                            <input type="text" class="form-control m-input" placeholder="abc corporation">
                                        </div>

                                    </div>
                                    <p>We respectfully request that Partners of Partnerships and Members of LLC's contribute individually, instead of through their respective business entity.</p>


                                </div>

                                <div class="form-group m-form__group donate-check">
                                    <input type="checkbox" name="vehicle1" value="Bike"> I am interested in hosting an event for Josh.<br>
                                    <input type="checkbox" name="vehicle2" value="Car"> I want to volunteer with Josh.<br>

                                    <button class="donate-btn">Donate</button>
                                    <p>By clicking "Donate" you confirm that the <a href=""> Donation statements</a> are true and accurate.</p>
                                </div>







                            </div>
                        </form>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->
                </div>
            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="copyright-wrap">
                        <span class="m-footer__copyright">
                            2019 © Powered By <a href="#" class="m-link"><img src="images/footer-logo.png" alt="foot-logo"></a>
                        </span>
                    </div>
                    <div class="foot-links">
                        <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Privacy</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">About</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Terms & Conditions</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Support</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Purchase License</span>
                                </a>
                            </li>
                            <li class="m-nav__item m-nav__item">
                                <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- end::Footer -->
    </div>

    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <img src="images/go-top.png" alt="go-top">
    </div>

</body>
</html>
