﻿@{
    //  ViewBag.Title = "EULA";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>EULA- SCC WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }

        .cont_wrapper {
            box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }


                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="/dashboard/index">
                <img alt="logo" src="~/Content/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        <div class="subhead_title">
            <h3>EULA</h3>
        </div>
        <div class="privacy_cont_wrap">
            <p>
                Please read this End-User License Agreement ("Agreement") carefully before clicking the "I Agree" button, downloading or using the Sikh Chamber of Commerce  (SCC) ("Application"). By clicking the "I Agree" button, downloading or using the SCC Application, you are agreeing to be bound by the terms and conditions of this Agreement. If you do not agree to the terms of this Agreement, do not click on the "I Agree" button and do not download or use the Application. License SCC  App grants you a revocable, non-exclusive, non-transferable, limited license to download, install and use the Application solely for your personal, non-commercial purposes strictly in accordance with the terms of this Agreement. Restrictions You agree not to, and you will not permit others to:
            </p>

            <ul>
                <li>license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise commercially exploit the SCC App Application or make the SCC Application available to any third party. </li>
                <li>license, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise release any confidential information available through restricted access to the SCC Application Modifications to Application SCC App reserves the right to modify, suspend or discontinue, temporarily or permanently, the Application or any service to which it connects, with or without notice and without liability to you. </li>
                
            </ul>

            @*<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Information Collection, Use, and Sharing </p>*@

            <p>Term and Termination This Agreement shall remain in effect until terminated by you or SCC App. This App may, in its sole discretion, at any time and for any or no reason, suspend or terminate this Agreement with or without prior notice. </p>
  
            


            @*<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Your Access to and Control Over Information </p>*@

           <p>This Agreement will terminate immediately, without prior notice from SCC App , in the event that you fail to comply with any provision of this Agreement. You may also terminate this Agreement by deleting the Application and all copies thereof from your mobile device or from your desktop. Upon termination of this Agreement, you shall cease all use of the Application and delete all copies of the Application from your mobile device or from your desktop. </p>
            

            @*<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;"> Security </p>*@

          <p>Severability If any provision of this Agreement is held to be unenforceable or invalid, such provision will be changed and interpreted to accomplish the objectives of such provision to the greatest extent possible under applicable law and the remaining provisions will continue in full force and effect. </p>
          

          <p>Amendments to this Agreement SCC  App reserves the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. </p>


         




        </div>
    </div>
    <footer class="privacy_footer">
        <div class="copyright-wrap">
            <p class="footer_copyright">
                <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
            </p>
        </div>
    </footer>
</body>

</html>
