﻿@{
    //ViewBag.Title = "Terms & Conditions";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>Terms & Conditions- SCC WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }
        .cont_wrapper {
            box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }

                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="/dashboard/index">
                <img alt="logo" src="~/Content/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        <div class="subhead_title">
            <h3>Terms & Conditions</h3>
        </div>
        <div class="privacy_cont_wrap">
		
            <p>Please read these terms and conditions ("terms", "terms and conditions") carefully before using Sikh Chamber of Commerce (SCC) Application (the "service") operated by Sikh Chamber of Commerce  (SCC) (“SCC”, "us", 'we", "our").</p>
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Conditions of Use</p>
        <p>We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this mobile application, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.</p>
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Privacy Policy</p>
        <p>Before you continue using our mobile application, we advise you to read our <a href="https://scctest.keplerconnect.com/about/privacypolicy">privacy policy</a> regarding our user data collection. It will help you better understand our practices.</p>
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Copyright</p>
        <p>Content published on this mobile application (digital downloads, images, texts, graphics, logos) is the property of SCC and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this mobile application is the exclusive property of SCC, with copyright authorship for this compilation by Sikh Chamber of Commerce SCC APP. </p>
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Communications</p>
        <p>The entire communication with us is electronic. Every time you send us an email or visit our mobile application, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our mobile application, you are going to receive regular notifications from us. We will continue to communicate with you by posting news and notices on our mobile application and by sending you notifications. These notifications can be limited via the settings menu. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.</p>
		
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Applicable Law</p>
        <p>By visiting this mobile application, you agree that the laws of the State of New York without regard to principles of conflict laws, will govern these terms and conditions, or any dispute of any sort that might come between SCC Team and you, or its business partners and associates.</p>
		
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Disputes</p>
        <p>Any dispute related in any way to your visit to this mobile application or to products you purchase from us shall be arbitrated by state or federal court with proper jurisdiction and you consent to exclusive jurisdiction and venue of such courts.</p>
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">Posting and Sharing</p>
        <p>Users with administrative rights may post content if it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content must be free of software viruses, political campaign, and commercial solicitation. User without administrative rights may share content with other App users. Users are cautioned against adding comments in a manner described above.</p>
        <p>We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant SCC Team non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.</p>
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">License and Site Access</p>
        <p>We grant you a limited license to access and make personal use of this mobile application. You are not allowed to download or modify it. This may be done only with written consent from us.</p>
		
		
		<p class="main_heading" style="font-size: 18px;color: #333;font-weight: 400;">User Account</p>
        <p>If you are an owner of an account on this mobile application, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.</p>
        <p>We reserve all rights to terminate accounts, edit or remove content and cancel orders in our sole discretion.</p>
		
		
           
        </div>
    </div>
    <footer class="privacy_footer">
        <div class="copyright-wrap">
            <p class="footer_copyright">
                <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
            </p>
        </div>
    </footer>
</body>

</html>
