﻿
@{
    ViewBag.Title = "Donation";
    Layout = null;
}
@Styles.Render("~/content/css1")


   <div class="thank-you-main">
        <div class="thank-inner">
            <img src="images/logo.png">
            <h2>Thanks for your Donation</h2>
            @*<p> @Html.LabelFor(m => m.ReturnMessage)</p>*@

        </div>
    </div>
 
 
