﻿@model FPModels.Models.DonationCompaign

    @using (Html.BeginForm("CreateOrEdit", "donationcampaign", FormMethod.Post))
    {


        <div class="m-content payment-form-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Title & Description
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <div class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    @Html.HiddenFor(m => m.CampaignId)
                                    @Html.HiddenFor(m => m.EncryptedCampaignId)
                                    <label for="exampleInputEmail1">Title<req>*</req></label>
                                    @Html.TextBoxFor(m => m.CampaignTitle, new { @class = "form-control m-input", @placeholder = "Title", @maxlength = "200", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.CampaignTitle, "", new { @class = "m-form__help" })
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Description<req>*</req></label>
                                    @Html.TextAreaFor(model => model.CampaignDesc, new { @class = "form-control m-input", @rows = "15", @placeholder = "Write Content", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CampaignDesc, "", new { @class = "m-form__help" })

                                </div>
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>
                <div class="col-md-6">
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Campaign Details
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">

                                <div class="m-form__group form-group">
                                    <label for="">Start Date<req>*</req></label>
                                    <div class="m-radio-list">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "m-form__help" })

                                    </div>
                                    <label for="">End Date<req>*</req></label>
                                    <div class="m-radio-list">
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "m-form__help" })

                                    </div>

                                    <label for="exampleSelect1">Status <req>*</req></label>
                                    <div class="select-arrow">
                                      @Html.DropDownListFor(model => model.Status, Model.StatusAIList, new { @class = "form-control m-input", @required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })

                                </div>
                                <div class="m-form__actions form-buttons">
                                    @if (Model.CampaignId == 0)
                                    {
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    }
                                    @Html.ActionLink("Cancel", "index", "donationcampaign", new { @id = "Cancel", @class = "btn btn-secondary" })
                                    @*<a href="~/news/index" class="btn btn-secondary">Cancel</a>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    }


    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

    <script>

    $(document).ready(function () {
        CheckSelection(@Model.Status);

    });
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {

        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);

        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
        else if ($('#' + id).val() == "Archived") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
        else if ($('#' + id).val() == "Drafted") {
            $('#PublishDate').css('display', 'none');
            $('#icon').css('display', 'none');
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
    }
    $('#btnSubmit').click(function () {


        if ($('#IsDonateYes').prop("checked") == true) {

            if ($('#DonateURL').val() == "") {
                // $('#DonateURL').css('display', 'block');
                $('#DonateURL').prop('required', 'required');
                $("#DonationURL").text('Please enter Donation URL');
                return false;
            }
            else {
                return true;
            }
        }
        else if ($('#IsDonateYes').prop("checked") == false) {


            //$('#DonateURL').css('display', 'none');
            $('#DonateURL').prop('required', false);
            $("#DonationURL").text('');
            $('#DonateURL').val('');
        }
        else {
            return true;
        }
    });



    $("#Cancel").click(function () {
        //location.reload();
        $("#fileHeadline").val('');
        $("#FilePath").val('');
    });

    $("#cross").click(function (e) {
        $('#imgHeadline').attr("src", "/content/images/plus-rec.png");
        $('#ImagePath').val('');
    });

    </script>

