﻿@using FPModels.Models
@model DonationCompaign
@{
    ViewBag.Title = "Campaigns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "donationcampaign", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Campaigns
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style=" margin-left: 20px;">
                        <label>
                            Status:
                            @Html.DropDownListFor(m => m.Status, Model.StatusAIList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                            @*<select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="All">All</option>
                                    <option value="Published">Published</option>
                                    <option value="Draft">Draft</option>
                                    <option value="Archived">Archived</option>
                                </select>*@
                        </label>
                    </div>


                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar  show-item-select">
                        <label>
                            Start Date:
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar dateFrom cldrbottom", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select">
                        <label>
                            End Date:
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "custom-select custom-select-sm form-control form-control-sm dateTo", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                        <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                    </div>


                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/donationcampaign/create?cid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-responsive table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Title</a></th>
                            @*<th><a href="#">Description</a></th>*@
                            <th><a href="#">Status</a></th>
                            <th><a href="#">Total Transaction</a></th>
                            <th><a href="#">Total Amount</a></th>
                            <th><a href="#">Total Refund</a></th>
                            <th><a href="#">Start Date</a></th>
                            <th><a href="#">End Date</a></th>
                            @*<th><a href="#">Donation Url</a></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Campaignlist != null)
                        {
                            foreach (var item in Model.Campaignlist)
                            {
                                <tr>
                                    <td>
                                        <a href="/donationcampaign/detail?cid=@item.EncryptedCampaignId" style="text-decoration:underline; color:#666674;">
                                            @item.CampaignTitle@*@item.Title.Substring(0, item.Title.Length > 10 ? 10 : item.Title.Length)*@
                                        </a>
                                    </td>

                                    @*<td>@item.CampaignDesc</td>*@
                                    <td>@item.Status</td>
                                    <td>
                                        <a href="/donation/index?f=@item.EncryptedCampaignId" style="text-decoration:underline; color:#666674;">
                                            @item.TransactionCount
                                        </a>
                                    </td>
                                    <td>
                                        @item.TotalTransactionAmount
                                    </td>
                                    <td>@item.TotalRefundAmount</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    @*<td><a href="@item.CampaignUrl" class="copy_text"><i class="far fa-copy" style="font-size:28px;color:#666674;"></i></a></td>*@


                                    @*<td><span class="m-badge  m-badge--primary m-badge--wide">@item.Status</span></td>*@
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#cmid_41').click(function () {

            $('#headLIneCount').text(0);
            $("#headLIneCount").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    $(".copy_text").click(function (e) {
        e.preventDefault();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(this).attr('href')).select();
        document.execCommand("copy");
        $temp.remove();

        Swal.fire({
            title: "Success!",
            html: "Donation link copied",
            confirmButtonText: "OK",
            confirmButtonColor: "#F75175"
        })
    })

</script>


