﻿@model FPModels.Models.ChapterModelWeb

@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Add Chapter
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.ChapterId)
                                @Html.HiddenFor(m => m.EncryptedChapterId)
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input ", @placeholder = "Title", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-12">

                                        <label for="exampleInputEmail1">Location<req>*</req></label>
                                        @Html.TextAreaFor(model => model.Location, new { @class = "form-control m-input Validation", @rows = "15", @placeholder = "Location", @required = "required", @maxlength = "1000" })
                                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "m-form__help" })

                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Category</label>
                                @Html.TextBoxFor(m => m.Category, new
                                {
                                    @class = "form-control m-input",
                                    @placeholder = "Category ",
                                    @maxlength = "200",})
                                @Html.ValidationMessageFor(m => m.Category, "", new { @class = "m-form__help" })

                            </div>*@

                            @*<div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address</label>
                                @Html.TextBoxFor(m => m.Location, new
                                {
                                    @class = "form-control m-input",
                                    @placeholder = "Address ",
                                    @maxlength = "200",})
                                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "m-form__help" })

                            </div>*@

                            @*<div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Website Link</label>
                                @Html.TextBoxFor(m => m.Websitelink, new
                                {
                                    @class = "form-control m-input",
                                    @placeholder = "Website Link ",
                                    @maxlength = "200",})
                                @Html.ValidationMessageFor(m => m.Websitelink, "", new { @class = "m-form__help" })

                            </div>*@
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Add Logo</label>
                                <div class="upload-btn-wrapper cropBoxDynamic" cTotalImg="1" cWidth="750" cHeight="350">
                                    <button type="button" class="btn">
                                        Upload
                                    </button>
                                </div>
                                <div class="upload_img_wrap" id="upload1d">
                                    @*Test=@Model.LogoPath*@
                                    @Html.HiddenFor(m => Model.LogoPath)
                                    @Html.HiddenFor(m => Model.ImageBase64, new { @id = "hfIB_0" })
                                    <img id="cross_0"
                                         class="cross @(String.IsNullOrEmpty(Model.LogoPath) ? "hide" : "show")"
                                         src='~/Content/images/close.png'
                                         db="#img_0" data="#hfIB_0" hfPath="#hfPath_0" />
                                    <img id="img_0"
                                         src="/@(String.IsNullOrEmpty(Model.LogoPath) ? "/content/images/blank.png" : Model.LogoPath)"
                                         data-animation="#file"
                                         onerror="this.onerror=null;this.src = '../content/images/no-image.png';"
                                         alt="Add Image"
                                         style="width:70px;height:70px; object-fit: cover;" />

                                    @Html.ValidationMessageFor(m => m.LogoPath, "", new { @class = "m-form__help" })
                                </div>

                            </div>

                            @*<div class="form-group m-form__group col-md-4">
                                <label for="exampleInputEmail1">Status</label>
                                @Html.HiddenFor(m => m.Status, new { @id = "Status" })
                                @Html.DropDownListFor(m => m.StatusId, Model._StatusList, new { @id = "StatusId", @class = "form-control m-input" })
                                @Html.ValidationMessageFor(m => m.StatusId, "", new { @class = "m-form__help" })
                            </div>*@

                            <div class="m-form__actions form-buttons">
                                @if (Model.EncryptedChapterId == null)
                                {
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                }
                                else
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        <a href="/ChapterWeb/delete?vid=@Model.EncryptedChapterId"
                                           class="btn btn-secondary"
                                           id="@Model.EncryptedChapterId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>
                                    }
                                    <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                }
                                @Html.ActionLink("Cancel", "index", "ChapterWeb", new { @id = "Cancel_", @class = "btn btn-secondary" })
                            </div>






                            <!--end::Form-->

                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

        }
        <script>
    $(document).ready(function () {
        //debugger;
        if ($('#Status').val() == "1") {
            $('#StatusId').val('1');

        }
        else {
            $('#StatusId').val('0');
        }
    });
            $("body").on("click", ".cross", function (e) {
          debugger
        $(this).removeClass("show").addClass("hide");
          $("#img_0").attr("src", "");
        $("#hfPath_0").val('');
          $("hfPath_0").val('');
          $('#@Html.IdFor(m=>m.LogoPath)').val("");
         $('#img_0').hide();
    });
    $('#StatusId').change(function () {
        var status = $('#StatusId option:selected').text();
        $('#Status').val(status);
        $('#Status').val();
    });
     function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
          var href = '/ChapterWeb/delete?vid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
        </script>
