﻿@using FPModels.Models
@model  ChapterModelWeb
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Chapter Details
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    <label>Title</label>
                    <p>@Model.Title</p>
                </li>
                <li>
                    <label>Location</label>
                    <p>@Model.Location</p>
                </li>
                @*<li>
            <label>Offer Description</label>
            <p>
                @Model.OfferDescription
            </p>
        </li>*@


                @*<li>
            @if (@Model.Websitelink == "")
            { }
            else
            {
                <label>Website Link</label>
                <p>@Model.Websitelink</p>
            }
        </li>*@
                <li>
                    <label>Logo</label>
                    <p>

                        <span>
                            @if (!string.IsNullOrWhiteSpace(Model.LogoPath))
                            {<a href="/download.ashx?type=i&file=@FPBAL.Business.UtilityAccess.Encrypt(Model.LogoPath)" target="_blank">
                                    <img src="/@Model.LogoPath" />
                                </a>
                            }
                            else
                            {
                                <a class="docView000">
                                    <img style="width:70px;height:60px;" src="/content/images/no-image-rec.png">
                                </a>
                            }
                        </span>
                    </p>
                </li>
                @*<li>
            <label>Status</label>

            @if (@Model.Status == "1")
            {
                <p>Active</p>
            }

            else if (@Model.Status == "0")
            {
                <p>InActive</p>
            }
            else
            {
                <p>InActive</p>
            }
        </li>*@
            </ul>
            <div class="m-form__actions form-buttons">
                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                {
                    @*<a href="/ChapterWeb/edit?vid=@Model.EncryptedChapterId" class="btn btn-primary">Edit</a>*@
                }
                <a href="/ChapterWeb/index" class="btn btn-secondary">Cancel</a>
                <a href="/ChapterWeb/edit?vid=@Model.EncryptedChapterId" class="btn btn-primary">Edit</a>
            </div>
        </div>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>
