﻿@using FPModels.Models
@model ChapterModelWeb
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "ChapterWeb", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Chapter
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter" class="dataTables_filter  search_table_bar" style="max-width: 225px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/ChapterWeb/create?vid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">ChapterId</a></th>
                            <th><a href="#">Title</a></th>
                            <th><a href="#">Location</a></th>
                            <th><a href="#">Create Date</a></th>
                            @*<th><a href="#">ImagePath</a></th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ChapterModelsList != null)
                        {
                            foreach (var item in Model.ChapterModelsList)
                            {
                        <tr>
                            <td>
                                <a href="/ChapterWeb/detail?vid=@item.EncryptedChapterId" style="text-decoration:underline; color:#666674;">
                                    @item.ChapterId
                                </a>
                            </td>
                            <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Title</td>
                            <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Location</td>
                            <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.CreateDate</td>

                            @*@Html.HiddenFor(m => item.Status, new { @id = "Status" })
                            @if (@item.Status == "1")
                            {
                                <td style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">Active</td>
                            }

                            else if (@item.Status == "0")
                            {
                                <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">InActive</td>
                            }
                            else
                            {
                                <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Status</td>
                            }*@



                            @*<td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.LogoPath</td>*@
                            @*<td>@item.AddedBy</td>
        <td>@item.AddedByDate</td>*@

                            @*<a href="@Url.Action("delete", "MemberBenefit", new {mid=@item.EncryptedMemberBenefitId})"
           class="flaticon-delete-1" title="Delete" style="color:#212529" data="@item.MemberBenefitId"
           onclick="return Confirm('Are you sure you want to Delete?', this)">

        </a>*@

                            @*<a href="/Vendors/Delete?mid=@item.EncryptedVendorId" id=@item.EncryptedVendorId
           onclick="return Confirm('Are you sure you want to Delete?', this)">
            <img src="~/Content/images/delete.png" />
        </a>*@

                            @*<td><span class="m-badge  m-badge--primary m-badge--wide">@item.Status</span></td>*@
                        </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}

