﻿@model FPModels.Models.DocumentModelWeb
@{
    ViewBag.Title = "Documents";
    ViewBag.Header = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "document", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Documents
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 215px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill  btn-danger" style="margin-left:15px;width: 100%; max-width: 115px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/document/create" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th style="width: 830.9px;"><a href="#">Document Name</a></th>
                            <th style="width: 320.9px;"><a href="#">Action</a></th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._DocumentList != null)
                        {
                           
                            foreach (var item in Model._DocumentList)
                            {
                            <tr>
                            @Html.HiddenFor(m=>item.EncryptedDocumentId)
                            <td>@item.DocumentName</td>
                            <td>
                                <a href="/download.ashx?type=document&file=@FPBAL.Business.UtilityAccess.Encrypt(item.DocumentPath)" target="_blank">
                                    <img src="~/Content/images/download.png" />
                                </a>
                                &nbsp;&nbsp; &nbsp;&nbsp;
                                <a href="/Document/Delete?did=@item.EncryptedDocumentId" id=@item.EncryptedDocumentId
                                   onclick="return Confirm('Are you sure you want to Delete?', this)">
                                    <img src="~/Content/images/delete.png" />
                                </a>
                            </td>
                            </tr>
                            }
                        }

                            </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}

    <script>
        function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
        function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/Document/Delete?did=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
    </script>
