﻿
@{
    ViewBag.Title = "Donation Statement";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}


<div class="m-content term_wrap">
    <div class="m-portlet m-portlet--mobile mb_0">
       
        <div class="m-portlet__body">
            <p>
                Donations statements are as follows:





            </p>
            <p>
                <ul>
                    <li>I am not a foreign national who lacks permanent residence in the United States.</li>

                    <li>
                        This donation is made from my own funds, and not those of another.
                    </li>

                    <li>
                        This donation is not made from the funds of a corporation or labor organization.
                    </li>

                    <li>
                        This donation is made on a personal credit card or debit card for which I have the legal obligation to pay, and is not made either on a corporate or business entity card or on the card of another person.
                    </li>

                    <li>I am at least eighteen years old.</li>
                </ul>
            </p>
            <p>
                Donations or gifts are not tax deductible.
            </p>
        </div>
    </div>
</div>


