﻿@using FPModels.Models
@model PresidentMessageWebModel
@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .Save {
        position: absolute;
        bottom: -26px;
        width: 100%;
    }
</style>


@using (Html.BeginForm("createoredit", "presidentmessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--begin::Portlet-->
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-12">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">

                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.PresidentMessageId)
                                @*@Html.HiddenFor(m => m.EncryptedAboutId)*@
                                <label for="exampleInputEmail1">Content<req>*</req></label>
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control m-input", @rows = "17", @maxlength = "5000", @placeholder = "Write here" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Description)</span>
                                @*@Html.ValidationMessageFor(m => m.Content , new {@class= "m-form__help"})*@

                            </div>
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Add Image</label>
                                <div class="upload-btn-wrapper cropBoxDynamic" cTotalImg="1" cWidth="750" cHeight="350">
                                    <button type="button" class="btn">
                                        Upload
                                    </button>
                                </div>
                                <div class="upload_img_wrap">

                                    @Html.HiddenFor(m => Model.ImagePath)
                                    @Html.HiddenFor(m => Model.ImageBase64, new { @id = "hfIB_0" })
                                    <img id="cross"
                                         class="cross @(String.IsNullOrEmpty(Model.ImagePath) ? "hide" : "show")"
                                         src='~/Content/images/close.png'
                                         db="#img_0" data="#hfIB_0" hfPath="#hfPath_0" />
                                    <img id="img_0"
                                         src="/@(String.IsNullOrEmpty(Model.ImagePath) ? "content/images/blank.png" : Model.ImagePath)"
                                         data-animation="#file"
                                         onerror="this.onerror=null;this.src = '../content/images/no-image.png';"
                                         alt="Add Image"
                                         style="width:70px;height:60px;" />
                                    @Html.ValidationMessageFor(m => m.ImagePath, "", new { @class = "m-form__help" })
                                </div>

                            </div>
                            <br />
                            <div class="m-form__actions form-buttons">
                                @*form-buttons*@
                                @if (Model.PresidentMessageId == null)
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Publish</button>

                                }
                                else
                                {
                                    <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Publish</button>
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        <a href="/aboutus/delete?aid=@Model.PresidentMessageId"
                                           class="btn btn-primary"
                                           id="Delete_111"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>
                                    }
                                }
                                @Html.ActionLink("Cancel", "index", "presidentmessage", new { @id = "Cancel", @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Portlet-->
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
            function AlertWithTitleIcon(title, text, type) {
                swal({
                    title: title,
                    text: text,
                    type: type
                });
            }
            $(document).ready(function () {
                ////debugger;
                $('#img_0').val();
            });
            $("#Cancel").click(function () {
                location.reload();
            });

            $("#cross").click(function (e) {
                ////debugger;
                $('#img_0').attr("src", "/content/images/blank.png");
                $('#ImagePath').val('');
                $("#cross").css("display", "none");
                $('#hfImagePath').val('');

            });


            function Confirm(title, event) {
                var clientid = event.id;
                var href = $('#' + clientid).attr('href');
                var returnType = false;

                swal({
                    title: "Warning",//"Are you sure?",
                    text: title,
                    //text: "You will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                    function (isConfirm, id) {
                        if (isConfirm) {
                            window.location.href = href;
                            returnType = true;
                            //swal("Deleted!", "Record has been deleted.", "success");
                        } else {
                            //$('div').click();
                            $('#' + clientid).blur();
                            returnType = false;
                        }
                    }
                );
                return returnType;
            }


</script>

