﻿@using FPModels.Models
@model PresidentMessageWebModel
@{
    ViewBag.Title = "President Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "presidentmessage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--begin::Portlet-->
    <div class="m-content payment-form-wrappe">
        <div class="m-portlet m-portlet--tab">

            <!--begin::Form-->
            <div class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="m-form__group form-group add-file-wrap">
                        <ul class="list-unstyled event-detail">
                            <li>
                                @*@Html.HiddenFor(m => m.AboutId)*@
                                <label>Content</label>
                                <p>
                                    @Html.DisplayFor(m => m.Description)
                                </p>
                            </li>
                            @if (Model.ImagePath == "")
                            {

                            }
                            else
                            {
                                <li>
                                    <label>Image</label>
                                    <p class="about-detail-img">
                                        <a class="docView">
                                            <img src="/@Model.ImagePath"
                                                 onerror="this.src='../content/images/no-image-rec.png';"
                                                 alt="Preview not available"
                                                 style="width:75px;height:35px;border:1px solid #ccc" />
                                        </a>
                                    </p>
                                </li>
                            }
                            <li style="margin-bottom:0px;">
                                <label>Last Updated Date & Time </label>
                                <p>@Html.DisplayFor(m => m.ModifyDate)</p>
                                <p>@Html.DisplayFor(m => m.ModifyTime)</p>
                            </li>
                        </ul>
                    </div>

                    <div class="m-form__actions form-buttons">
                        @*<button type="submit" class="btn btn-primary">Edit</button>*@
                        @if (FPBAL.Business.MenuAccess.Allow("edit"))
                        {
                            <a href="@Url.Action("createoredit", "presidentmessage", new { aid = Model.PresidentMessageId })" class="btn btn-primary">Edit</a>
                            @*<a href="/aboutus/create" class="btn btn-secondary">Cancel</a>*@
                        }
                    </div>
                </div>
            </div>

            <!--end::Form-->
        </div>
    </div>
    <!--end::Portlet-->


}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>

    $("#imgAbout").click(function () {
        $("#fileAbout").trigger("click");
    });

    //$("#btnSubmit").click(function () {
    //    $("#imgAbout").val() == '0'
    //    {
    //        alert("please select image");
    //    }
    //});
    $("#fileAbout").change(function () {
        //var _image = $(this).attr("data");
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#imgAbout").attr("src", e.target.result);
        }
        $('#cross').addClass("show").removeClass("hide");
        reader.readAsDataURL($(this)[0].files[0]);
    });
    $("#Cancel").click(function () {
        location.reload();
    });
    $("#cross").click(function (e) {
        // var _file = $(this).attr("data");
        var _image = $(this).attr("db");
        $(this).removeClass("show").addClass("hide");
        // $(_file).val('');
        $("#fileAbout").val('');
        $("#FilePath").val('');
        $(_image).attr("src", '~/Content/images/close.png');
        e.preventDefault;
    });

</script>


