﻿
@{
    ViewBag.Title = "Invoice History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
   
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Invoices
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter" class="dataTables_filter">
                        <label>
                            <img src="~/Content/images/search.png" alt="search">
                            <input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="  margin-left: 25px;">
                        <label>
                            Date:
                            <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5">March 20, 2019</option>
                                <option value="5">March 23, 2019</option>
                                <option value="5">March 24, 2019</option>
                                <option value="5">March 20, 2019</option>
                            </select>
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select">
                        <label>
                            to:
                            <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5">April 1, 2019</option>
                                <option value="5">April 1, 2019</option>
                                <option value="5">April 2, 2019</option>
                                <option value="5">April 3, 2019</option>
                            </select>
                        </label>
                        <button type="button" class="btn m-btn--pill    btn-danger">Search</button>
                    </div>
                </div>
                <!--begin: Datatable -->
                <table class="table table-responsive table-striped- table-hover" id="m_table_1">
                    <thead>
                        <tr>
                            <th><a href="#">Invoice#</a> </th>
                            <th><a href="#">Amount</a> </th>
                            <th><a href="#">Date</a> </th>
                            <th><a href="#">Time</a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="invoice-detail.html" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="invoice-detail.html" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="invoice-detail.html" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                        <tr>
                            <td><a href="" style="text-decoration:underline; color:#666674;">12345</a></td>
                            <td>$150</td>
                            <td>2/12/2019</td>
                            <td>11:00 AM</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-30">
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="m_table_1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item first disabled" id="m_table_1_first"><a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link"><i class="la la-angle-double-left"></i></a></li>
                                <li class="paginate_button page-item previous disabled" id="m_table_1_previous"><a href="#" aria-controls="m_table_1" data-dt-idx="1" tabindex="0" class="page-link"><i class="la la-angle-left"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="m_table_1" data-dt-idx="2" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="3" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="4" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="5" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item pagination-dots">...</li>
                                <li class="paginate_button page-item next" id="m_table_1_next"><a href="#" aria-controls="m_table_1" data-dt-idx="7" tabindex="0" class="page-link"><i class="la la-angle-right"></i></a></li>
                                <li class="paginate_button page-item last" id="m_table_1_last"><a href="#" aria-controls="m_table_1" data-dt-idx="8" tabindex="0" class="page-link"><i class="la la-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 text-right">
                        <div class="dataTables_length show-item-select" id="m_table_1_length">
                            <label>
                                <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </label>
                        </div>
                        <div class="dataTables_info" id="m_table_1_info" role="status" aria-live="polite">
                            Displaying 1 - 10 of 100 records
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>