﻿@model FPModels.Models.ServiceModel

@if (Model != null)
{
<div class="m-content payment-form-wrapper">
    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Deals&Offers
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->

                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        @Html.HiddenFor(m => m.EncryptedServiceId)
                        @Html.HiddenFor(m => m.ServiceType)
                        @Html.HiddenFor(m => m.EncryptedBusinessId)
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1"><req></req>Period From</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.PeriodFrom, new { @id = "EventDate", @value = DateTime.Now.ToString(), @class = "form-control m-input datepicker_nopast", @autocomplete = "off", @placeholder = "Enter Date & Time" })
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="m-form__help"> @Html.ValidationMessageFor(m => m.PeriodFrom, "", new { @class = "m-form__help" })</span>

                        </div>

                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1"><req></req>Period To</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.PeriodTo, new { @id = "EventDate", @value = DateTime.Now.ToString(), @class = "form-control m-input datepicker_nopast", @autocomplete = "off", @placeholder = "Enter Date & Time" })
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="m-form__help"> @Html.ValidationMessageFor(m => m.PeriodTo, "", new { @class = "m-form__help" })</span>

                        </div>

                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Offer Title<req></req></label>
                            @Html.TextBoxFor(m => m.OffersTitle, new { @class = "form-control m-input", @required = "required" })
                            @Html.ValidationMessageFor(m => m.OffersTitle, "", new { @class = "m-form__help" })

                        </div>

                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Offer Terms<req></req></label>
                            @Html.TextBoxFor(m => m.OffersTerms, new { @class = "form-control m-input", @required = "required" })
                            @Html.ValidationMessageFor(m => m.OffersTerms, "", new { @class = "m-form__help" })

                        </div>


                    </div>
                </div>

                @if (FPBAL.Business.MenuAccess.Allow("Create"))
                {

                    <div class="pull-right datatable_new">
                        <a href="/Deal/create?sid=@Model.EncryptedServiceId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                @*<i class="la la-plus"></i>*@
                                <span>Add Deals</span>
                            </span>
                        </a>
                    </div>
                }

            </div>
        </div>
        <div class="col-md-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            @*<h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>*@
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        @*<div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Apps<req></req></label>
                            @Html.DropDownListFor(m => m.AppsId, Model.AppList, new { @class = "form-control country input_img_desc m-input" })
                            @Html.ValidationMessageFor(m => m.AppsId, "", new { @class = "m-form__help" })

                        </div>*@
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Amounts (in $)<req></req></label>
                            @Html.TextBoxFor(m => m.DealsAmounts, new { @class = "form-control m-input", @required = "required" })
                            @Html.ValidationMessageFor(m => m.DealsAmounts, "", new { @class = "m-form__help" })

                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Payment Method<req></req></label>
                            @Html.DropDownListFor(m => m.PaymentMethod, Model._PaymentMethodList, new { @class = "form-control  input_img_desc m-input" })
                            @Html.ValidationMessageFor(m => m.PaymentMethod, "", new { @class = "m-form__help" })

                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Status<req></req></label>
                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "form-control  input_img_desc m-input" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "m-form__help" })

                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Payment Notes</label>
                            @Html.TextBoxFor(m => m.PaymentNotes, new { @class = "form-control m-input", @maxlength = "60" })
                            @Html.ValidationMessageFor(m => m.PaymentNotes, "", new { @class = "m-form__help" })
                        </div>

                        <div class="m-form__actions form-buttons">
                            @if (Model.EncryptedUserId == null)
                            {
                                <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                            }
                            else
                            {
                                if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                {
                                    <a href="/Business/delete?lid=@Model.EncryptedBusinessId"
                                       class="btn btn-secondary"
                                       id="@Model.EncryptedBusinessId"
                                       onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                        Delete
                                    </a>
                                }
                                <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                            }
                            @Html.ActionLink("Cancel", "index", "Business", new { @id = "Cancel_", @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

        <thead>
            <tr>
                <th><a href="#">Title</a></th>
                <th><a href="#">Deal Code</a></th>
                <th><a href="#">Status</a></th>

            </tr>
        </thead>
        <tbody>
            @if (Model.DealsList != null)
            {
                foreach (var item in Model.DealsList)
                {
                    <tr>
                        <td>
                          
                                <a href="/deal/edit?hid=@item.DealId" style="text-decoration:underline; color:#666674;">
                                    @item.DealTitle
                                </a>
                           


                        </td>
                        <td>@item.DealCode</td>
                        @if (item.DealStatus == "Active")
                        {
                            <td><span class="m-badge  m-badge--primary m-badge--wide">Active</span></td>
                        }
                        else if (item.DealStatus == "Inactive")
                        {
                            <td><span class="m-badge  m-badge--metal m-badge--wide">Inactive</span></td>
                        }

                        else
                        {
                            <td>-</td>
                        }
                       
                    </tr>
                }
            }

        </tbody>
    </table>
    <div class="row mt-30" id="pagging1"></div>
</div>

}
<script>
    $(document).ready(function () {
        //debugger;
        if ($('#Status').val() == "Active") {
            $('#StatusId').val('Active');

        }
        else {
            $('#StatusId').val('InActive');
        }
    });
      @*$("body").on("click", ".cross", function (e) {
        $(this).removeClass("show").addClass("hide");
          $("#img_0").attr("src", "");
        $("#hfPath_0").val('');
          $("hfPath_0").val('');
          $('#@Html.IdFor(m=>m.LogoPath)').val("");
         $('#img_0').hide();
    });*@
    $('#StatusId').change(function () {
        var status = $('#StatusId option:selected').text();
        $('#Status').val(status);
        $('#Status').val();
    });
     function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/Business/delete?lid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
</script>
