﻿@using FPModels.Models;
@model ServiceModel
@{
    /**/

    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DealandOfferDetail", "Service", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Deal&OfferDetail Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.EncryptedUserId)
                    @Html.HiddenFor(m => m.EncryptedServiceId)
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                
                                <li>
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">

                                            <label>Period From</label>
                                            <p>
                                                @Model.PeriodFrom
                                            </p>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <label>Period To</label>
                                    <p>
                                        @Model.PeriodTo
                                    </p>
                                </li>
                                <li>
                                    <label>Offer Title</label>
                                    <p>@Model.OffersTitle</p>
                                </li>
                                <li>
                                    <label>Offer Terms</label>
                                    <p>@Model.OffersTerms</p>
                                </li>
                                <li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            @*<div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                @if (FPBAL.Business.MenuAccess.Allow("Create"))
                                {
                                    <div class="pull-right datatable_new">
                                        <a href="~/service/index?bid=@Model.EncryptedBusinessId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                            <span>
                                                <span>Service</span>
                                            </span>
                                        </a>
                                    </div>
                                }
                                <h3 class="m-portlet__head-text">
            Other Details
        </h3>
                            </div>*@
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                <li>
                                    <label>Amounts (in $)</label>
                                    <p>@Model.DealsAmounts</p>
                                </li>
                                <li>
                                    <label>Payment Method</label>
                                    <p>@Model.PaymentMethod</p>
                                </li>
                                <li>
                                    <label>Status</label>
                                    <p>@Model.Status</p>
                                </li>
                                <li>
                                    <label>Payment Notes</label>
                                    <p>@Model.PaymentNotes</p>
                                </li>
                                @*<li>
                                    <label>Status</label>
                                    @if (Model.Status == "Active")
                                    {
                                        <p><span class="m-badge  m-badge--primary m-badge--wide">Active</span></p>
                                    }
                                    else if (Model.Status == "InActive")
                                    {
                                        <p><span class="m-badge m-badge--metal m-badge--wide contacted-btn process-btn">InActive</span></p>
                                    }
                                    else if (Model.Status == "Invited")
                                    {
                                        <p><span class="m-badge  m-badge--metal m-badge--wide">Invited</span></p>
                                    }

                                </li>*@
                            </ul>
                            <div class="m-form__actions form-buttons">
                                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                {
                                    @*<a href="/Business/Edit?bid=@Model.EncryptedBusinessId" class="btn btn-primary">Edit</a>*@
                                    <a href="/Service/Edit?sid=@Model.EncryptedServiceId" class="btn btn-primary">Edit</a>
                                }
                                <a href="/Service/index" class="btn btn-secondary">Cancel</a>
                            </div>
                            @*<div class="m-form__actions form-buttons">
            @if (FPBAL.Business.MenuAccess.Allow("edit"))
            {
                if (Model.UserId > 1)
                {
                    <a href="@Url.Action("Edit", "Business", new { uid = Model.EncryptedUserId })" class="btn btn-primary">Edit</a>
                }

                else if (Model.UserId == 1 && Model.UserId == Model.LoggedUserId)
                {
                    <a href="@Url.Action("Edit", "Business", new { uid = Model.EncryptedUserId })" class="btn btn-primary">Edit</a>
                }


            }

            <a href="/Business/index" class="btn btn-secondary">Cancel</a>
        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
