﻿@model FPModels.Models.ServiceModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Service", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Services
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
               
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style=" margin-left: 20px;">
                        <label>
                            Status:
                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>
                    @*<div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select">
                <label>
                    By
                    @Html.DropDownListFor(m => m.SelectedUserId, Model._UserList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                </label>
            </div>*@

                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/service/ViewServiceType?bid=@Model.EncryptedBusinessId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>Add Service</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Service</a></th>
                            <th><a href="#">Status</a></th>
                            <th><a href="#">Period</a></th>
                            <th><a href="#"> Likes</a></th>
                            <th><a href="#">Dislike</a></th>
                            <th><a href="#">Favorite</a></th>
                            <th><a href="#">Clicks</a></th>
                            <th><a href="#">Impression</a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._ServiceList != null)
                        {
                            foreach (var item in Model._ServiceList)
                            {
                                <tr>
                                    <td>
                                        @if (item.ServiceType == "Deals & Offers")
                                        {
                                            <a href="/Service/DealandOfferDetail?hid=@item.EncryptedServiceId" style="text-decoration:underline; color:#666674;">
                                                @item.ServiceType
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Service/PreferVendorDetail?hid=@item.EncryptedServiceId" style="text-decoration:underline; color:#666674;">
                                                @item.ServiceType
                                            </a>
                                        }


                                    </td>
                                    <td>@item.Status@*@item.Title.Substring(0, item.Title.Length > 10 ? 10 : item.Title.Length)*@</td>
                                    <td>@item.PeriodFrom @item.PeriodTo</td>
                                    
                                    @if (item.Status == "Active")
                                    {
                                        <td><span class="m-badge  m-badge--primary m-badge--wide">Active</span></td>
                                    }
                                    else if (item.Status == "Inactive")
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide">Inactive</span></td>
                                    }
                                    
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>@item.Likes</td>
                                    <td>@item.Dislike</td>
                                    <td>@item.Favorite</td>
                                    <td>@item.Clicks</td>
                                    <td>@item.Impression</td>



                                    @*<td><span class="m-badge  m-badge--primary m-badge--wide">@item.Status</span></td>*@
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#cmid_41').click(function () {

            $('#headLIneCount').text(0);
            $("#headLIneCount").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });
    });
</script>

