﻿@using FPModels.Models;
@model ServiceModel
@{
    /**/

    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("PreferVendorDetail", "Service", FormMethod.Post))
{

    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            PreferVendorDetail Details
                        </h3>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.EncryptedUserId)
            @Html.HiddenFor(m => m.EncryptedServiceId)

            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail form-group m-form__group">

                    <li>
                        <div class="add_delivery_time_edit row">
                            <div class="col-md-6">

                                <label>Period From</label>
                                <p>
                                    @Model.PeriodFrom
                                </p>
                            </div>
                        </div>

                    </li>
                    <li>
                        <label>Period To</label>
                        <p>
                            @Model.PeriodTo
                        </p>
                    </li>
                    <li>
                        <label>Amounts (in $)</label>
                        <p>@Model.DealsAmounts</p>
                    </li>
                    <li>
                        <label>Payment Method</label>
                        <p>@Model.PaymentMethod</p>
                    </li>
                    <li>
                        <label>Status</label>
                        <p>@Model.Status</p>
                    </li>
                    <li>
                        <label>Payment Notes</label>
                        <p>@Model.PaymentNotes</p>
                    </li>
                    <li>
                </ul>



                <div class="m-form__actions form-buttons">
                    
                     
                        <a href="/Service/VendorEdit?sid=@Model.EncryptedServiceId" class="btn btn-primary">Edit</a>
                    
                    <a href="/Service/index" class="btn btn-secondary">Cancel</a>
                </div>
               
            </div>

        </div>
    </div>


}
