﻿@model FPModels.Models.ServiceModel

@using (Html.BeginForm("ViewServiceType", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    View Services
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            @Html.HiddenFor(m => m.EncryptedBusinessId)
                            <div class="col-md-6">
                                <label for="exampleInputEmail1">Service Type<req></req></label>
                                @Html.DropDownListFor(m => m.ServiceType, Model.ServiceList, new { @class = "form-control country input_img_desc m-input" })
                                @Html.ValidationMessageFor(m => m.ServiceType, "", new { @class = "m-form__help" })
                            </div>
                        </div>
                    </div>
                    @*@if (FPBAL.Business.MenuAccess.Allow("Create"))
                        {
                            <div class="pull-right datatable_new">
                                <a href="~/Service/CreateOrEdit?bid=@Model.EncryptedBusinessId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                    <span>
                                        <span>Submit</span>
                                    </span>
                                </a>
                            </div>
                        }*@
                    <div class="m-form__actions form-buttons">
                        @if (Model.EncryptedUserId == null)
                        {
                            @Html.HiddenFor(m => m.EncryptedServiceId)
                            @*<a href="~/Service/CreateOrEdit?bid=@Model.EncryptedBusinessId"  type="button" id="btnSave" class="btn btn-primary" >Submit </a>*@
                            <button type="submit" id="btnSave" class="btn btn-primary">Submit</button>
                        }
                        else
                        {
                            if (FPBAL.Business.MenuAccess.Allow("Delete"))
                            {
                                <a href="/Service/delete?lid=@Model.EncryptedBusinessId"
                                   class="btn btn-secondary"
                                   id="@Model.EncryptedUserId"
                                   onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                    Delete
                                </a>
                            }
                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                        }
                        @Html.ActionLink("Cancel", "index", "Service", new { @id = "Cancel_", @class = "btn btn-secondary" })
                    </div>

                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

}
@*<script>
        $(document).ready(function () {
            //debugger;
            if ($('#Status').val() == "Active") {
                $('#StatusId').val('Active');

            }
            else {
                $('#StatusId').val('InActive');
            }
        });

        $('#StatusId').change(function () {
            var status = $('#StatusId option:selected').text();
            $('#Status').val(status);
            $('#Status').val();
        });
         function AlertWithNewWindow(text, newWindow) {
                swal({
                    title: 'Alert',
                    title: text,
                    text: text,
                    type: "info",
                },
                    function () {
                        window.location.href = newWindow;
                    });
            }
          function Confirm(title, event) {
                //debugger;
                var clientid = event.id;
                var href = '/Business/delete?lid=' + clientid;
                var returnType = false;

                swal({
                    title: "Warning",//"Are you sure?",
                    text: title,
                    //text: "You will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                    function (isConfirm, id) {
                    if (isConfirm) {
                        window.location.href = href;
                        returnType = true;
                        swal("Deleted!", "Record has been deleted.", "success");
                    } else {
                        //$('div').click();
                        //$('#' + clientid).blur();
                        returnType = false;
                    }
                }
            );
                return returnType;
            }
    </script>*@