﻿@using FPModels.Models
@model ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<style>
    .login-msg  {
        color: red;
    }
</style>
@using (Html.BeginForm())
{
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">Forgotten Password ?</h3>
            <h6 style="text-align: center;margin-top: 30px;font-size: 15px; color:#68676e;">Enter your email to reset your password</h6>
        </div>
        <form class="m-login__form m-form" action="">
            @if (@ViewBag.ReturnCode == "0")
            {
                <div class="m-login__form m-form">

                    <div class="form-group m-form__group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @maxlength = "50", @required = "required", placeholder = "Email", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>
                    <div class="m-login__form-action">
                        <button type="submit" id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                        <button type="button" onclick="location.href='@Url.Action("login", "account")'" id="m_login_forget_password_cancel" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air password-cancel">Cancel</button>
                    </div>
                </div>
            }
                <p class="login-msg">
                    @Html.Raw(@ViewBag.Message)
                </p>
            @*<br /><br />*@
           

        </form>
    </div>
}

@*<script src="http://code.jquery.com/jquery-1.11.1.min.js">
    $(document).ready(function () {
        $("#m_login_forget_password_submit").click(function () {
            $("form").attr("action", "/account/forgotpassword");
        });

        $('#m_login_forget_password_cancel').click(function () {
           
            $("form").attr("action", "/account/login");
        });

    });
</script>*@
