﻿@using FPModels.Models
@model MoMWebModel
@{
    /**/

    ViewBag.Title = "Minutes of Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "MoM", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Minutes of Meeting
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="display:inline-block;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left: 20px;">
                        <label>
                            Year:
                            @Html.DropDownListFor(m => m.Year, Model.YearList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select">
                        <label>
                            Month:
                            @Html.DropDownListFor(m => m.Month, Model.MonthList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })

                        </label>
                    </div>

                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/mom/create?mid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="4" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Year</a></th>
                            <th><a href="#">Month</a></th>
                            <th><a href="#">Document Name</a></th>
                            <th><a href="#">Actions</a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MinutesOfMeetings != null)
                        {
                            foreach (var item in Model.MinutesOfMeetings)
                            {
                        <tr>
                            <td>
                                @item.Year

                            </td>
                            <td>@item.Month</td>
                            <td>@item.DocumentName</td>

                            <td>
                                <a href="/download.ashx?type=document&file=@FPBAL.Business.UtilityAccess.Encrypt(item.DocumentPath)" target="_blank">
                                    @*<span class="fa fa-download"></span>*@
                                    <img src="~/Content/images/download.png" />
                                </a>&nbsp;&nbsp; &nbsp;&nbsp;
                                <a href="/mom/delete?mid=@item.EncryptedMoMId" id=@item.EncryptedMoMId
                                   onclick="return Confirm('Are you sure you want to delete this record?', this)">
                                    <img src="~/Content/images/delete.png" />
                                </a>

                                @*
                                    <a href="/mom/delete?mid=@item.EncryptedMoMId"
                                   class="flaticon-delete-1" title="Delete" style="color:#212529"
                                   onclick="return Confirm('Are you sure you want to delete this record?', this)">
                                    <img src="~/Content/images/delete.png" />
                                </a>
                                    <a href="/mom/Delete?did=@item.EncryptedMoMId">
            <img src="~/Content/images/delete.png" />
        </a>*@

                            </td>



                        </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}

<script>
    function AlertWithNewWindow(text, newWindow) {
        swal({
            title: 'Alert',
            title: text,
            text: text,
            type: "info",
        },
            function () {
                window.location.href = newWindow;
            });
    }
    function Confirm(title, event) {
        //debugger;
        var clientid = event.id;
        var href = '/mom/delete?mid=' + clientid;
        var returnType = false;

        swal({
            title: "Warning",//"Are you sure?",
            text: title,
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm, id)  {
            if (isConfirm) {
                window.location.href = href;
                returnType = true;
                //swal("Deleted!", "Record has been deleted.", "success");
            } else {
                //$('div').click();
                //$('#' + clientid).blur();
                returnType = false;
            }
        }
        );
        return returnType;
    }
</script>
