﻿@using FPModels.Models
@model AboutUsModel
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Save {
        position: absolute;
        bottom: -26px;
        width: 100%;
    }
</style>

@using (Html.BeginForm("create", "aboutus", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!--begin::Portlet-->
    <div class="m-content payment-form-wrapper about-us-wrap">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Details
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <div class="m-form m-form--fit m-form--label-align-right">

                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        @Html.HiddenFor(m => m.AboutId)
                        @Html.HiddenFor(m => m.EncryptedAboutId)
                        @Html.HiddenFor(m => m.AboutId)
                        <label for="exampleInputEmail1">Content</label>
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control m-input", @rows = "17", @maxlength = "5000", @placeholder = "Write here" })
                        <span class="m-form__help">@Html.ValidationMessageFor(m => m.Content)</span>
                        @*@Html.ValidationMessageFor(m => m.Content , new {@class= "m-form__help"})*@

                    </div>
                    <div class="m-form__group form-group add-file-wrap">

                        <label for="">Add image</label>
                        <div class="m-form__group form-group add-file-wrap">

                            @*<label for="">Add image</label>*@
                            <div class="upload_btn_wrap">
                            @*<button type="button" class="btn ">
                                    @Html.TextBoxFor(model => model.ImagePath, "", new { @type = "file", @id = "fileAbout", @data = "#imgAbout" })
                                    Upload
                                </button>*@

                                <div class="upload_img_wrap">
                                    <span class="cross">
                                        <img id="cross" class="cross @(!String.IsNullOrEmpty(Model.ImagePath) ? "show" : "hide")"
                                             src="~/Content/images/close.png">

                                        <img id="imgAbout"
                                             src="/@(String.IsNullOrEmpty(Model.ImagePath)?"content/images/plus-rec.png":Model.ImagePath) "
                                             data-animation="#file"
                                             onerror="this.onerror=null;this.src='/content/images/plus-rec.png';"
                                             alt="Add Image"
                                             class="img-rec cropBox" cImgOne="#imgAbout" cHF="#ImageBase64" cWidth="350" cHeight="120" />
                                    </span>
                                    @Html.HiddenFor(m => m.ImagePath, new { @id = "hfImagePath" })
                                    @Html.HiddenFor(m => m.ImageBase64)
                                    
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="m-form__actions form-buttons">
                            <button type="submit" id="btnSubmit" class="btn btn-primary">Add</button>
                        @Html.ActionLink("Cancel", "createoredit", "AboutUs", new { @id = "Cancel", @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <!--end::Portlet-->
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }

    $("#Cancel").click(function () {
        location.reload();
    });

    $("#cross").click(function (e) {
        $('#imgAbout').attr("src", "/content/images/plus-rec.png");
        $('#hfImagePath').val('');

        //// var _file = $(this).attr("data");
        //var _image = $(this).attr("db");
        //$(this).removeClass("show").addClass("hide");
        //// $(_file).val('');
        //$("#fileAbout").val('');
        //$("#hfImagePath").val('');
        //$("#FilePath").val('');
        //$(_image).attr("src", '/Content/images/no-image-rec.png');
        //e.preventDefault;
    });


    function Confirm(title, event) {
        debugger;
        var clientid = event.id;
        var href = $('#' + clientid).attr('href');
        var returnType = false;

        swal({
            title: "Warning",//"Are you sure?",
            text: title,
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm, id) {
                debugger
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    $('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
        return returnType;
    }

                //$("#imgAbout").click(function () {
                //    $("#fileAbout").trigger("click");
                //});

                //var imageVal = new Image();
                //$("#fileAbout").change(function () {

                //    var _image = $(this).attr("data");
                //    var reader = new FileReader();
                //    var _currentPath = "";

                //    imageVal = new Image();
                //    reader.onload = function (e) {
                //        _currentPath = e.target.result;
                //        imageVal.src = e.target.result;
                //    }

                //    reader.readAsDataURL($(this)[0].files[0]);
                //    $('#cross').addClass("show").removeClass("hide");

                //    imageVal.onload = function () {
                //        //if ((this.width / this.height) < 1.5 || (this.width / this.height) > 5.5)
                //        if (1 == !1)
                //        {
                //            AlertWithTitleIcon("Warning", RectangleRatio(this.width, this.height));
                //            $(_image).attr("src", "/Content/images/no-image-rec.png");
                //            $("#fileAbout").val("");
                //            return false;
                //        }
                //        else {
                //            $(_image).attr("src", _currentPath);
                //        }
                //    };
                //});
</script>
