﻿@using FPModels.Models
@model  BatchModel
@{
    ViewBag.Title = "Create Batch";

}

<div class="m-content payment-form-wrapper create_batch_wrap">
    <div class="">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Batch
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            <div class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body col-md-6">
                    <div class="form-group m-form__group">
                        @Html.HiddenFor(m => m.BatchId)
                        <label for="exampleInputEmail1">Purpose<req>*</req></label>
                        @Html.DropDownListFor(m => m.PurposeId, Model._PurposeList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        <span class="m-form__help">@Html.ValidationMessageFor(m => m.PurposeId)</span>
                        @Html.TextBoxFor(m => m.PurposeText, new { @id = "PurposeAdd", @maxlength = "15", @class = "form-control", @style = "display: none;", @placeholder = "Add Purpose", @required = "required" })
                        
                    </div>

                    <div class="m-form__group form-group">
                        <label for="exampleInputEmail1">Date Range<req>*</req></label>
                        <div class="row">
                            <div class="col-12 mt_20 ">
                                <div class="input-group">
                                    <label for="example-text-input" class="date_range_label col-form-label">From:</label>
                                    @Html.TextBoxFor(m => m.DateFrom, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar cldrbottom disfuture", @placeholder = "Select Date", @autocomplete = "off" })
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-calendar glyphicon-th"></i></span></div>
                                   
                                </div>
                                @Html.ValidationMessageFor(m => m.DateFrom, "", new { @class = "m-form__help" })
                            </div>

                            <div class="col-12 mt_20 ">
                                <div class="input-group">
                                    <label for="example-text-input" class="date_range_label col-form-label">To:</label>
                                    @Html.TextBoxFor(m => m.DateTo, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar disfuture", @placeholder = "Select Date", @autocomplete = "off" })
                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="la la-calendar glyphicon-th"></i></span></div>

                                </div>
                                    <b>"To" date can't be greater than current date.</b>
                                @Html.ValidationMessageFor(m => m.DateTo, "", new { @class = "m-form__help" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">File Type<req>*</req></label>
                        @Html.DropDownListFor(m => m.FileTypeId, Model._FileTypeList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        @Html.ValidationMessageFor(m => m.FileTypeId, "", new { @class = "m-form__help" })
                    </div>
                    <div class="form-group m-form__group ">
                        <div class="m-form__group form-group" style="padding:0px;">
                            <label for="">Transaction Include</label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    @Html.CheckBoxFor(m => m.payment, new { @id = "Payment" }) Payment
                                    @*@Html.HiddenFor(m => m._MenuList[i].Access)*@
                                    <span class="chk" id="chk_payment"></span>
                                    @*@Html.ValidationMessageFor(m => m.payment, "", new { @class = "m-form__help" })*@

                                </label>

                            </div>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    @Html.CheckBoxFor(m => m.Refund, new { @id = "Refund" }) Refund
                                    <span class="chk" id="chk_refund"></span>
                                    @*@Html.ValidationMessageFor(m => m.Refund, "", new { @class = "m-form__help" })*@
                                </label>
                                <br />
                                <span id="transMsg" class="field-validation-error"></span>
                             
                            </div>

                        </div>
                    </div>
                    @*@if (Model.BatchId > 0)
                    {
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">Status</label><br />                        
                        @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        @Html.ValidationMessageFor(m => m.Status,"", new { @class = "m-form__help" })
                    </div>
                    }*@
                    <div class="m-form__actions form-buttons">
                        @*@if (Model.BatchId > 0)
                        {
                            <button type="submit" class="btn btn-primary">Update</button>
                        }
                        else
                        {*@
                            <button type="submit" id="btnsubmit" class="btn btn-primary">Create</button>
                        @*}*@
                        <a href="/batch/index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>

</div>



@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $('#btnsubmit').click(function () {
        $("#transMsg").text('');
        if ($('#Payment').is(":checked") == false && $('#Refund').is(":checked") == false) {
            $("#transMsg").text('Please select at least one transaction type')
            return false;
        }
    });
    $('#PurposeId').change(function () {
       
        if ($('#PurposeId').val() == "-2") {
          
            $('#PurposeAdd').css('display', 'block');
            if ($('#PurposeAdd').val() == "") {
                ($('#PurposeAdd').prop("required", "required"));
                return false;
            }
            else {
                $('#PurposeAdd').val("");
            }

        }
        else {
            $('#PurposeAdd').css('display', 'none');
        }
        //$('#_DependChild').val($(this).text());

    });
    $(function () {
        $('.disfuture').datepicker({
            //format: 'mm-dd-yyyy',
            endDate: '+0d',
            autoclose: true
        });
    });

</script>
