﻿@using FPModels.Models
@model  BatchModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("detail", "batch", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrapper create_batch_wrap">
        <div class="">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Batch
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body col-md-6">
                        <div class="form-group m-form__group">
                            @Html.HiddenFor(m => m.BatchId)
                            <label for="exampleInputEmail1">Batch Number: </label>
                            @Html.DisplayFor(m => m.BatchId)
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Batch Date & Time: </label>
                            @Html.DisplayFor(m => m.CreateDate)
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Purpose: </label>
                            @Html.DisplayFor(m => m.PurposeText)
                        </div>

                        <div class="m-form__group form-group">
                            <label for="exampleInputEmail1">Date Range </label>
                            <div class="row">
                                <div class="col-12 mt_20 ">
                                    <div class="input-group">                                       
                                        @Html.DisplayFor(m => m.DateFrom)
                                        -
                                        @Html.DisplayFor(m => m.DateTo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">File Type: </label>
                            @Html.DisplayFor(m => m.FileType)
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Created By: </label>
                            @Html.DisplayFor(m => m.CreatedBy)
                        </div>
                        <div class="form-group m-form__group ">
                            <div class="m-form__group form-group" style="padding:0px;">
                                <label for="">Transaction Include</label>
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox" style="pointer-events: none;">
                                        @Html.CheckBoxFor(m => m.payment) Payment
                                        @*@Html.HiddenFor(m => m._MenuList[i].Access)*@
                                        <span class="chk" id="chk_payment"></span>
                                    </label>

                                </div>
                                <div class="m-checkbox-list">
                                    <label class="m-checkbox" style="pointer-events: none;">
                                        @Html.CheckBoxFor(m => m.Refund) Refund
                                        <span class="chk" id="chk_refund"></span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Status</label><br />
                            @*@if (Model.Status == "Created")
            {
                <span class="m-badge  m-badge--success m-badge--wide">Created</span>
            }
            else if (Model.Status == "Uploaded")
            {
                <span class="m-badge  m-badge--brand m-badge--wide">Uploaded</span>
            }
            else
            {
                <span class="m-badge  m-badge--info m-badge--wide">Downloaded</span>
            }*@

                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @style = "width:140px;" })
                            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "m-form__help" })

                        </div>

                        <div class="m-form__actions form-buttons">
                            @if (FPBAL.Business.MenuAccess.Allow("edit"))
                            {
                                <button type="submit" class="btn btn-primary">Save</button>
                                @*<a href="@Url.Action("edit", "batch", new { bid = FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model.BatchId)) })"
                class="btn btn-primary">Save</a>*@
                            }

                            <a href="/batch/index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                    <div class="m-portlet__body col-md-6">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Batch Detail</label>                           
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Payment Transactions</label><br />
                            @Html.DisplayFor(m => m.NoOfPayment)
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Refund Transactions</label><br />
                            @Html.DisplayFor(m => m.NoOfRefund)
                        </div>
                    </div>
                </div>
                    <!--end::Form-->
                </div>
            <!--end::Portlet-->
        </div>

    </div>

}