﻿@using FPModels.Models
@model MemberBenefitModelWeb
@{
    ViewBag.Title = "Benefit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "Benefit", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Benefit
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                   
                    <div id="m_table_1_filter" class="dataTables_filter  search_table_bar" style="max-width: 225px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/Benefit/create?mid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Title</a></th>
                            <th><a href="#">Description</a></th>
                            <th><a href="#">Added By</a></th>
                            <th><a href="#">Added Date</a></th>
                            <th><a href="#">Actions</a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MemberBenefits != null)
                        {
                            foreach (var item in Model.MemberBenefits)
                            {
                                <tr>
                                    <td>
                                        <a href="/Benefit/detail?mid=@item.EncryptedMemberBenefitId" style="text-decoration:underline; color:#666674;">
                                            @item.Title
                                        </a>
                                    </td>
                                    <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Descriptiion@*@item.Descriptiion.Substring(0, item.Descriptiion.Length > 100 ? 100 : item.Descriptiion.Length)*@</td>
                                    <td>@item.AddedBy</td>
                                    <td>@item.AddedByDate</td>
                                    <td>
                                        @*<a href="@Url.Action("delete", "Benefit", new {mid=@item.EncryptedMemberBenefitId})"
                                           class="flaticon-delete-1" title="Delete" style="color:#212529" data="@item.MemberBenefitId"
                                           onclick="return Confirm('Are you sure you want to Delete?', this)">

                                        </a>*@

                                        <a href="/Benefit/Delete?mid=@item.EncryptedMemberBenefitId" id=@item.EncryptedMemberBenefitId
                                           onclick="return Confirm('Are you sure you want to Delete?', this)">
                                            <img src="~/Content/images/delete.png" />
                                        </a>

                                    </td>


                                    @*<td><span class="m-badge  m-badge--primary m-badge--wide">@item.Status</span></td>*@
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
    <script>
        function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
        function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/Benefit/Delete?mid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                    //debugger;
                    if (isConfirm) {
                        window.location.href = href;
                        returnType = true;
                        //swal("Deleted!", "Record has been deleted.", "success");
                    } else {
                        //$('div').click();
                        // $('#' + clientid).blur();
                        returnType = false;
                    }
                }
            );
            return returnType;
        }
    </script>