.m-brand.m-brand--skin-dark {
    background: #fff;
    box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
}
body.m-aside-left--skin-dark .m-header .m-header-head {
	    box-shadow: 3px 1px 15px 1px rgba(69,65,78,0.1);

}
.table-responsive {
    display: inline-table;
	
}
.m-brand__logo img {
	width: 100%;
}
.m-brand__logo {
	width: 70%;
}
.m-aside-left.m-aside-left--skin-dark {
    background-color: #fff;
    box-shadow: -1px 0px 15px 1px rgba(69,65,78,0.1);
}
.side-menu-tittle h4 {
    color: #444758;
    text-transform: uppercase;
    padding: 0 30px;
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
}
.side-menu-icon {
    padding: 0px 20px 0 0;
}
.m-menu__item--active a {
    background: #e8ecf1;
    color: #f85175;
}
.m-menu__item--active a span.m-menu__link-text {
    color: #f85175 !important;
}
.m-menu__link-wrap .m-menu__link-text {
    width: auto !important;
    padding-top: 5px !important;
}
.arrow-down img {
	padding-top: 10px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #e8ecf1;
}
.m-menu__item a:hover .m-menu__link-text, .m-menu__item a:hover i {
    color: #f4516c !important;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open {
    background-color: #e8ecf1;
}
.m-menu__link-bullet {
    position: relative;
}
.m-menu__link-bullet:before {
    height: 1px !important;
    background: #000;
    position: absolute;
    content: "";
    left: 0;
    width: 10px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    color: #585c7a !important;
    font-weight: 500;
}
aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    color: #585c7a !important;
    font-weight: 500;
}
.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link .m-menu__link-text {
    color: #f4516c;
}
#m_header_menu .m-menu__link-icon {
    width: auto;
    padding-right: 10px;

}
#m_header_menu .m-menu__subnav .m-menu__link-icon {
    width: 30px;
    padding-right: 0px;

}
.m-header-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__subnav {
    border-radius: 8px;
}
.m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow>.m-menu__item.m-menu__item--submenu.m-menu__item--tabs>.m-menu__submenu>.m-menu__subnav>.m-menu__item.m-menu__item--submenu.m-menu__item--hover>.m-menu__submenu>.m-menu__arrow, .m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow>.m-menu__item.m-menu__item--submenu.m-menu__item--hover>.m-menu__submenu>.m-menu__arrow {
    margin-left: -70px;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
    background: #282a3c;
    height: 35px;
    max-width: 35px !important;
}
.m-card-user .m-card-user__pic img {
    max-width: 50px !important;
    background: #282a3c;
    height: 50px !important;
}
.copyright-wrap {
    float: left;
    margin-top: 15px;
}
.foot-links {
    float: right;
    margin: 5px 0;
}
footer .m-nav__link:hover span, footer .m-nav__link:hover i {
    color: #d12b5d !important;
}
.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    margin-left: 0;
    left: -320px;
}
.m-dropdown .m-dropdown__wrapper .m-dropdown__header {
    border-radius: 8px 8px 0 0;
}
.m-dropdown .m-dropdown__wrapper .m-dropdown__inner {
    border-radius: 8px;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow
{
    color: #053367;
    left: auto;
    right: 10px;
}
.m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--brand a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--brand a.m-tabs__link.active {
    color: #a53dee;
    border-bottom: none;
}
.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #575962;
    font-size: 12px;
    font-weight: 400;
}
.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    font-weight: 400;
    font-size: 14px;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff;
}
.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    color: #ffffff;
}
.m-nav .m-nav__item>.m-nav__link .m-nav__link-text {
    color: #575962;
}
.btn.m-btn--label-brand {
    color: #21427a;
    margin-top: 15px;
}
.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img {
    width: auto;
    border-radius: 0
}
.m-widget4__item .m-widget4__title {
    color: #666674;
}
.m-widget4__item .m-widget4__sub {
    color: #a8a9b6;
    font-weight: 500;
}
.m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item .m-widget17__subtitle {
    color: #666674;
    font-size: 14px;
}
.btn-brand {
    background-color: #053367;
    border-color: #053367;
}
.m--font-brand {
    color: #21427a !important;
}
.m-widget17 .m-widget17__stats {
    margin: 0 auto;
}
.green-text {
    color: #026e53 !important;
}
.sent-new {
    color: #b7132e;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.sent-value{
    color: #053367;
}
#m_chart_support_tickets2 svg:nth-child(2n) {
    display: none;
}
.m-login.m-login--1 .m-login__aside {
    width: 500px;
    padding: 2rem 5rem;
}
.login-bg-wrap {
    background-position: 220px -43px;
    justify-content: center;
    padding: 0 7%;
}
.m-login.m-login--1 .m-login__content .m-login__welcome {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.m-login.m-login--1 .m-login__content .m-login__msg {
    font-size: 40px;
    font-weight: 300;
}
.m-login.m-login--1 .m-login__wrapper .m-login__head .m-login__title {
    color: #68676e;
}
#m_login_forget_password {
    color: #aba8b3;
}
.btn-focus {
    background-color: #b7132e;
    border-color: #b7132e;
}
.btn-focus.m-btn--air {
    box-shadow: 0px 5px 10px 2px rgba(200,2,44,0.19) !important;
}
.btn-focus:hover {
    background-color: #b10227;
    border-color: #b10227;
}
.btn-focus.m-btn--air:hover {
    box-shadow: 0px 5px 10px 2px rgba(200,2,44,0.36) !important;
}
.m-checkbox.m-checkbox--focus>span:after {
    border: solid #b7132e;
}
.m-checkbox.m-checkbox--focus>input:checked ~ span {
    border: 1px solid #b7132e;
}
.dataTables_filter .form-control {
    padding: 0 10px 0 35px;
    margin-right: 10px;
    overflow: hidden;
    border: none;
    background: #f4f5f8;
    height: 35px;
}
.dataTables_filter img {
    position: absolute;
    top: 9px;
    left: 12px;
}
.dataTables_filter {
    position: relative;
}
.dataTables_filter .btn-danger {
    background: #b7132e;
    height: 35px;
    margin-left: 15px;
    padding: 0 25px;
}
table tbody tr:nth-child(even){
  background-color: #f4f5f8;
}
.table thead th {
    vertical-align: middle;
    border: none;
    background: #f4f5f8;
    font-weight: 600;
    color: #666674;
    padding: 10px 20px;
    height: 50px;
}
.table td {
    height: 50px;
    vertical-align: middle;
    padding: 10px 20px;
    color: #666674;
    font-weight: 400;
}
#m_table_1_filter {
    margin-bottom: 20px;
}
.page-link {
    width: 31px;
    text-align: center;
    height: 31px;
    border-radius: 100px;
    margin: 0 5px 0 0;
    padding: .5rem 0rem;
    color: #575962;
    border: none;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 100px;
    background: #ebe9f2;
}
.page-item.active .page-link {
    background-color: #b7132e;
    border-color: #b7132e;
}
.page-item.previous a, .page-item.next a {
    background: #ebe9f2 !important;
}
.mt-30 {
    margin-top: 30px;
}
.pagination-dots {
    margin-right: 15px;
    font-size: 17px;
    letter-spacing: 3px;
}
.show-item-select .form-control {
    border-color: transparent;
    background: #ebe9f2;
    border-radius: 100px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    margin-right: 15px;
}
.show-item-select {
    display: inline-block;
}
.show-item-select label {
    position: relative;
}
.show-item-select label:before {
    position: absolute;
    content: "";
    top: 13px;
    right: 27px;
    background: url(../images/arrow-down.png);
    width: 9px;
    height: 5px;
    pointer-events: none;
}
.dataTables_info {
    display: inline-block;
}
.m-widget20__number {
    position: absolute;
    font-size: 24px !important;
    font-weight: 600 !important;
}
.trending-table.table thead th {
    background: transparent;
    color: #94a0bf;
}
.trending-table.table tr td a {
    color: #666674;
    text-decoration: underline;
    font-weight: 600;
}
.trending-table.table td {
    color: #9b9dab;
    font-weight: 500;
}
table.trending-table tbody tr:nth-child(even){
  background-color: transparent;
}
.generate-report-btn .btn {
    background: #026e53;
    border-color: #026e53;
    padding: 0 20px;
    height: 40px;
    margin-top: 50px;
}
a {
    color: #b7132e;
}
.table thead th a {
    color: #666674;
}
.table-searh-wrap {
    float: left;
}
.table-status.show-item-select .form-control {
    width: 150px;
    border-radius: 0;
    background: #f4f5f8;
    margin: 0 20px 0 5px;
    padding-left: 10px;
    height: 35px;
}
.table-status.show-item-select label:before {
    top: 15px;
    right: 30px;
}
.table-searh-wrap .dataTables_filter {
    float: left;
}
.payment-form-wrapper .form-group label {
    color: #3f4047;
    font-weight: 500;
    font-size: 14px;
}
.card-icon {
    margin-top: 8px;
}
.payment-form-wrapper .m-portlet {
    height: 100%;
    position: relative;
}
.select-arrow {
    position: relative;
}
.select-arrow:before {
    position: absolute;
    content: "";
    background: url(../images/select-arrow.png), #fff;
    right: 1px;
    top: 16px;
    height: 23px;
    width: 21px;
    background-repeat: no-repeat;
    padding: 0;
    pointer-events: none;
}
.form-control.focus, .form-control:focus {
    border-color: #b7132e;
}
.btn-primary {
    background-color: #053367;
    border-color: #053367;
}
.form-buttons .btn {
    min-width: 90px;
}
.btn-primary:hover {
    background-color: #2e5ca9;
    border-color: #2e5ca9;
}
.m-badge.m-badge--primary {
    background-color: #20c99a;
}
.m-badge.m-badge--info {
    background-color: #8f20c9;
}
.m-form__help {
    font-weight: 500 !important;
}
.payment-form-wrapper .m-radio>span:after {
    height: 18px;
    width: 18px;
    left: 2px;
    top: 2px;
}
.m-radio>span:after {
    border: solid #020031;
    background: #020031;
}
.payment-form-wrapper .form-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.payment-form-wrapper textarea {
    resize: none;
}
.form-buttons .btn {
    margin-right: 5px;
}
.event-detail li label {
    font-weight: 600;
    color: #3f4047;
    font-size: 15px;
}
.event-detail li p {
    color: #666674;
    font-weight: 400;
}
.event-detail li {
    margin-bottom: 20px;
}
.event-detail li:last-child {
    margin-bottom: 40px;
}
.m-subheader .m-subheader__title {
    font-size: 26px;
}
.m-badge.m-badge--metal {
    background-color: #c98720
}
.table .m-badge {
    min-width: 75px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper .btn {
    border: 1px solid #34bfa3;
    background-color: #34bfa3;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 180px;
    display: block;
    margin-bottom: 20px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.add-file-wrap label {
    display: block;
    text-align: left !important;
}
.file-name img {
    padding-right: 2px;
}
.file-name {
    display: inline-block;
    background: #f4f5f8;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 10.8px;
}
.form-group label {
    text-align: left !important;
}
.m-checkbox-list {
    margin-top: 12px;
}
.m-checkbox>span:after {
    border: none;
    height: 18px;
    width: 18px;
    background: #020031;
    transform: none;
    left: 1px;
    top: 5px;
    border-radius: 2px;
    border: none !important;
    border-width: 0 !important;
}
.m-checkbox-list .form-group {
    padding-bottom: 5px !important;
    padding-top: 5px;
}
.note-wrap {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}
.note-wrap p {
    color: #ffba01;
    font-weight: 500;
    font-size: 15px;
}
.ticket-img-ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 0 !important;
}
.ticket-img-ul li img {
    border: 1px solid #ddd;
    border-radius: 2px;
}
.ticket-img-ul {
    border: 3px solid #f7f7fa;
    padding: 20px;
}
.about-us-wrap.payment-form-wrapper .form-buttons {
    position: static;
}
.chart-head h3 {
    color: #666674;
    font-size: 17px;
}
.chart-head p {
    color: #a8a9b6;
    font-size: 13px;
}
.week-value h2 {
    color: #b7132e;
    font-size: 34px;
    margin: 30px 0 50px;
}
.chart-progress {
    border-top: 1px dotted #ebeaf3;
    padding-top: 30px;
}
.chart-select.show-item-select .form-control {
    width: 100px;
}
.chart-select.show-item-select {
    float: right;
}
.chart-head {
    float: left;
}
a:hover, a:focus {
    text-decoration: none;
}
.chart-progress .m-widget15__stats {
    font-size: 24px;
    font-weight: 600;
}
.m-brand--minimize .side-menu-tittle h4 {
	padding: 0;
	text-align: center;
}
button.manage-btn {
    background-color: #666674;
    border: 1px solid #666674;
    color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    margin: 4px 2px;
    font-size: 15px;
}


/* donation page css */


.form-group.m-form__group.donation-head h4{
	   margin-bottom:20px;
		color:#dd2f50;
}
.form-group.m-form__group.donation-head p {
    width: 100%;
 
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin-top: 20px;
}
.at-radios .label-amount {
    width: 22%;
    height: auto;
    margin-right: 4%;
    background-image: none;
    padding: 14px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    line-height: 1.428571429;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: -1px -1px 1px rgba(38,116,52,0.1);
    white-space: nowrap;
    position: relative;
    z-index: 1;
    background-color: #c9c9c9;
    text-align: center !important;
    display: inline-block;
}
.at-radios input[type="radio"] {
    user-select: none;
    -webkit-appearance: unset;
}
.at-radio {
    width: 100%;
	padding-top: 15px;
}
.at-radio .label-amount input[type="radio"]:checked+a {
    border-color: #dd2f50;
    background-color: #dd2f50;
	color:#fff;
}
.at-radio .label-amount>a {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    display: block;
    background-color: #c9c9c9;
    z-index: -1;
}
.form-group.m-form__group.contribution-month h4 {
    font-size: 16px;
    color: #333;
    margin-top: 15px;
	margin-bottom: 23px;
}
.form-group.m-form__group.employer-info h4 {
    color: #053367;
    margin-top: 15px;
    margin-bottom: 10px;
}
.form-group.m-form__group.employer-info p {
    font-size: 16px;
    color: #000;
    margin-bottom: 23px;
}

.form-group.m-form__group.employer-info .row {
    margin-bottom: 25px;
}
.form-group.m-form__group.donate-check {
    font-size: 16px;
    line-height: 36px;
    color: #000;
    font-weight: 400;
	padding-top:0px;
}

button.donate-btn {
    background-color: #dd2f50;
    border: 1px solid #dd2f50;
    color: #fff;
    display: inline-block;
    padding: 5px 76px;
    border-radius: 45px;
    margin-top: 30px;
}
.form-group.m-form__group.donate-check p {
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: 500;
}

.form-group.m-form__group.donate-check a {
    text-decoration: underline;
}





@media (min-width: 768px) and (max-width: 1024px){
	
	footer.m-grid__item.m-footer {
    text-align: center;
}
	
#m_header_menu .m-menu__link-icon {
    width: 45px;
}	
.app_message{
	margin-bottom:15px;
}
.login-right-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
	
}




@media only screen and (max-width: 767px) {
	
	.at-radios .label-amount{
		width:100%;
	}
	.payment-form-wrapper .form-group label{
		margin-top:20px;
	}
	.at-radios .label-amount{
		margin-bottom:0px;
	}
	.at-radio{
		padding-top:0px;
	}
	
	
	
.copyright-wrap {
	text-align:center;
}
ul.pagination li {
    display: inline-block;
    margin-bottom: 15px;
}
ul.pagination {
	display:block;
}
.dataTables_filter .btn-danger{
	margin-left:0px;
}
.pull-right.datatable_new {
    width: 100%;
    margin-bottom: 20px;
}

.date_time_input.row label {
    max-width: 100%;
}
.date_time_input.row {
    display: block;
}
.date_time_input .col-9 {
    max-width: 100%;
}


}

.form_billing-address label {
    margin-top: 20px;
}
.thank-you-main {
    height: 100vh;
    display: flex;
}

.thank-inner {
    margin: auto;
    text-align: center;
}

    .thank-inner img {
        margin-bottom: 30px;
        width: 100%;
        max-width: 180px;
    }

    .thank-inner h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }



































