﻿
@using FPModels.Models;
@model DirectoryModel
@using (Html.BeginForm("importexcel", "directory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="col-md-12">
    <div class="row">
        @*in-feel*@
        <div class="upload-btn-wrapper">
            <label type="button" class="btn" style="color:#ffffff;text-align:center !important; width:99%">
                @Html.TextBoxFor(m => m.HttpPostedFile, new { @class = "form-control custom-file-input", @type = "file", @placeholder = "Write here" })
                Upload
            </label>
        </div>
    </div>
    <div class="row">
        <div style="display:block" id="lblUploadedFile"></div>
    </div>
    <div class="row" style="margin-top:15px;">
        <label class="lable-text">
            Add only &nbsp; 
        </label>
        <label class="lable-text">@Html.CheckBoxFor(model => model.InsertOnly)</label>
</div>

    <div class="row mt-30">
        <div class="m-form__actions form-buttons">
            <button type="submit" id="btnUploadFile" class="btn btn-primary btndsb" style="width:100%"> Update </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding:0; margin: 20px 0 0px;">
            <img style=" width: 100%; border: 1px solid #e0e0e0;margin-bottom: 20px;" src="~/Content/images/invite_user_listing.jpg" />
            <p><b>Note:</b> Upload file with extension(.xls or .xlsx) with data in same format as given in example.</p>
        </div>
    </div>
</div>
}

<script>
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $("#HttpPostedFile").change(function (e) {
        //debugger;
        var filename = $(this).val();
        var fileName1 = e.target.files[0].name;
        var ext = filename.replace(/^.*\./, '');
        if (ext == "xls" || ext == "xlsx") {
            $('#lblUploadedFile').text(fileName1);
            $("#btnUploadFile").removeClass("btndsb");
        }
        else {
            AlertWithTitleIcon("Warning", "Upload file with extension(.xls or .xlsx) with data in same format as given in example.", "warning");
            $(this).val('');
            $("#btnUploadFile").addClass("btndsb");
            return false;
        }
    });
   
</script>