﻿@using FPModels.Models;
@model DirectoryModel
@{
    /**/

    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detail", "Directory", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Directory Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    @*@Html.HiddenFor(m => m.EncryptedUserId)*@
                    @Html.HiddenFor(m => m.EncryptedFollowerId)
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                <li>
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">

                                            <label>First Name</label>
                                            <p>
                                                @Model.FirstName
                                            </p>
                                        </div>
                                        <div class="col-md-7">

                                            @if (@Model.MI == "")
                                            {
                                            }
                                            else
                                            {
                                                <label>M.I.</label>
                                                <p>
                                                    @Model.MI
                                                </p>
                                            }

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label>Last Name</label>
                                    <p>
                                        @Model.LastName
                                    </p>
                                </li>
                                <li>
                                    <label>Title</label>
                                    <p>@Model.Title</p>
                                </li>
                                <li>
                                    <label>Member Type</label>
                                    <p>@Model.MemberType</p>
                                </li>
                                <li>
                                    <label>Email</label>
                                    <p>@Model.Email</p>
                                </li>
                                <li>
                                    <label>Mobile</label>
                                    <p>@Model.Mobile</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                <li>
                                    <label>AddressLine1</label>
                                    <p>@Model.AddressLine1</p>
                                </li>
                                <li>
                                    <label>AddressLine2</label>
                                    <p>@Model.AddressLine2</p>
                                </li>
                                <li>
                                    <label>City</label>
                                    <p>@Model.CityName</p>
                                </li>
                                <li>
                                    <label>State</label>
                                    <p>@Model.State</p>
                                </li>
                                <li>
                                    <label>Country</label>
                                    <p>@Model.County</p>
                                </li>
                                <li>
                                    <label>Zip Code</label>
                                    <p>@Model.Zip</p>
                                </li>
                            </ul>
                            <div class="m-form__actions form-buttons">
                                    @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                    {
                                        <a href="/Directory/Edit?cid=@Model.EncryptedFollowerId" class="btn btn-primary">Edit</a>
                                    }
                                    <a href="/Directory/index" class="btn btn-secondary">Cancel</a>
                                </div>
                            @*<div class="m-form__actions form-buttons">
                                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                {
                                    if (Model.FollowerId > 1)
                                    {
                                        <a href="@Url.Action("Edit", "Directory", new { uid = Model.EncryptedFollowerId })" class="btn btn-primary">Edit</a>
                                    }

                                    else if (Model.FollowerId == 1 && Model.UserId == Model.LoggedUserId)
                                    {
                                        <a href="@Url.Action("Edit", "Business", new { uid = Model.EncryptedUserId })" class="btn btn-primary">Edit</a>
                                    }


                                }

                                <a href="/Business/index" class="btn btn-secondary">Cancel</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
