﻿@using FPModels.Models
@model DirectoryModel
@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Directory", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Directory
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter" class="dataTables_filter  search_table_bar" style="max-width: 225px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        @*<div class="pull-right datatable_new">
                            <a href="~/Directory/create?cid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>*@
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Name</a></th>
                            <th><a href="#">Member Type</a></th>
                            <th><a href="#">Modify Date</a></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.directoryModelsList != null)
                        {
                            foreach (var item in Model.directoryModelsList)
                            {
                                <tr>
                                    <td>
                                        <a href="/Directory/Detail?cid=@item.EncryptedFollowerId" style="text-decoration:underline; color:#666674;">
                                            @item.FirstName
                                        </a>
                                    </td>
                                    <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.MemberTypeId </td>

                                    <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.ModifyDate</td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}

