﻿
@{
    ViewBag.Title = "_LayoutOuter";
}
<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>SCC Web</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="~/content/images/favicon.png" />
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    <img src="~/Content/images/josh-logo.png" alt="login-logo">
                                </a>
                            </div>
                            <div class="m-form m-form--fit m-form--label-align-right">
                                @RenderBody()
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content login-bg-wrap login-right-banner" style="position:relative; background-image: url(../../Content/images/login-bg.jpg)">
                <div class="m-grid__item" style="position:absolute; right:50px; top:50px;">
                    <h3 class="m-login__welcome">SIKH CHAMBER OF COMMERCE</h3>

                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<!-- end::Body -->
</html>
<script type="text/javascript">
        $(document).ready(function () {

            var returnMessage = '@TempData["ReturnMessage"]';
            var returnCode = '@TempData["ReturnCode"]';
            var href = '@TempData["href"]';
            var MessageType = '@TempData["MessageType"]';
            if (returnCode.length > 0) {
                //console.log(returnCode +'::3434')
                if (href.length > 0)
                {
                    if (returnCode == -5)
                        AlertWithTitleIconNewWindow("Warning", returnMessage, "warning", href);
                    else if (returnCode < 1)
                        AlertWithTitleIconNewWindow("Error", returnMessage, "error", href);
                    else if (returnCode > 0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIconNewWindow("Success", returnMessage, "success", href);



                }
                else {
                     if (returnCode == -5)
                        AlertWithTitleIcon("Warning", returnMessage, "warning");
                    else if (returnCode <1)
                        AlertWithTitleIcon("Error", returnMessage, "error");
                    else if (returnCode>0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIcon("Success", returnMessage, "success");


                }

               //  @TempData["ReturnCode"]="";

            }
        });


        $(document).ready(function () {
            $(".button a").click(function () {
                if ($(".button a").hasClass('btn-close')) {
                    document.documentElement.style.overflow = 'scroll';
                    document.body.scroll = "yes";
                }
                else {
                    document.documentElement.style.overflow = 'hidden';
                    document.body.scroll = "no";
                }
                $(".overlay").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });


        });
    
    $(document).ready(function () {
        // show/hide password
        $('.eye-icon').on('click', function () {
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
            if ($(this).parent().find('input[type="password"]').attr("type") == "password")
                $(this).parent().find('input[type="password"]').attr("type", "text");
            else
                $(this).parent().find('input[type="text"]').attr("type", "password");
        });
    });

        $(document).ready(function () {

                $(function () {
                    var _mt = $(window).height() - $('html').height() + 32;
                    if (_mt < 1)
                        _mt = 40;
                    $('#footer').css('margin-top', _mt + 'px');
            });

            // remove parent menu id if exists
            if (localStorage.getItem("ParentMenuId") != null)               
                localStorage.removeItem("ParentMenuId");
            
        });
</script>