﻿@using FPModels.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/content/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <title>@ViewBag.Title - SCC WEB </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @*@RenderSection("scripts", required: false)*@
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">


    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">

        <!-- BEGIN: Header -->
        <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="@Url.Action("index","dashboard")" class="m-brand__logo-wrapper">
                                    <img alt="logo" src="/content/images/logo.png" />
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">

                                <!-- BEGIN: Left Aside Minimize Toggle -->
                                <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>

                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>

                                <!-- BEGIN: Topbar Toggler -->
                            </div>
                        </div>
                    </div>

                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

                        <!-- BEGIN: Horizontal Menu -->
                        @{Html.RenderPartial("_TopMenu");}
                        <!-- END: Horizontal Menu -->
                        <!-- BEGIN: Topbar -->

                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">

                            <div class="m-stack__item m-topbar__nav-wrapper">

                                <ul class="m-topbar__nav m-nav m-nav--inline">
                                    <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click"
                                        m-dropdown-persistent="1">
                                        @*<a href='@Url.Action("_index", "notification")' class="fa fa-bell"  aria-hidden="true"></a>

                                                @if (@Session["NotifyCount"] != null && @Convert.ToInt32(@Session["NotifyCount"]) > 0)
                                                {
                                                    <span class="notify-count">@Session["NotifyCount"] </span>
                                                }


                                            </li>*@

                                        <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small"></span>
                                            @*@if (ViewBag.NotificationCount.NotificationCount!=0)
                                                {*@
                                            <span class="m-nav__link-icon">
                                                <span class="badge bg-orange" style="position:relative;">
                                                    <img src="~/Content/images/bell.png" alt="notification">
                                                    @if (ViewBag.NotificationCount != null && ViewBag.NotificationCount.NotificationCount != 0 && ViewBag.NotificationCount.NotificationCount > 0)
                                                    {
                                                        <b class="notification-count m-badge pull-right" id="NotificationCount">@ViewBag.NotificationCount.NotificationCount</b>
                                                    }
                                                </span>
                                            </span>
                                            @*}*@
                                        </a>

                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(/Content/images/notification-bg.png); background-size: cover;">
                                                    <span class="m-dropdown__header-title">Notifications</span>
                                                    <span class="m-dropdown__header-subtitle">All the happenings</span>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        @*<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                                                <li class="nav-item m-tabs__item">
                                                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                                                        Alerts
                                                                    </a>
                                                                </li>
                                                            </ul>*@
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                                                <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
                                                                    <div class="m-list-timeline m-list-timeline--skin-light">
                                                                        <div class="m-list-timeline__items">
                                                                            @{Html.RenderPartial("_NotificationList");}

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                                                <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
                                                                    <div class="m-list-timeline m-list-timeline--skin-light">
                                                                        <div class="m-list-timeline__items">
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                                                <a href="" class="m-list-timeline__text">New order received</a>
                                                                                <span class="m-list-timeline__time">Just now</span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                                                                <a href="" class="m-list-timeline__text">New invoice received</a>
                                                                                <span class="m-list-timeline__time">20 mins</span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                                                <a href="" class="m-list-timeline__text">Production server up</a>
                                                                                <span class="m-list-timeline__time">5 hrs</span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">New order received</a>
                                                                                <span class="m-list-timeline__time">7 hrs</span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">System shutdown</a>
                                                                                <span class="m-list-timeline__time">11 mins</span>
                                                                            </div>
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
                                                                                <a href="" class="m-list-timeline__text">Production server down</a>
                                                                                <span class="m-list-timeline__time">3 hrs</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                                        <span class="">All caught up!<br>No new logs.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                        m-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__userpic">
                                                <img id="layoutProfilePic" src="~/@Session["ProfilePic"]" onerror="this.onerror=null;this.src='/content/images/user1.png';" class="m--img-rounded m--marginless" alt="" />
                                                @*<img src=~/@Session["ProfilePic"] class="m--img-rounded m--marginless" alt="" />*@

                                            </span>
                                            <span class="m-topbar__username m--hide">Nick</span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(/content/images/notification-bg.png); background-size: cover;">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                            <img id="boxProfilePic"                                                                  
                                                                 src="~/@Session["ProfilePic"]" 
                                                                 onerror="this.onerror=null;this.src='/content/images/user1.png';" 
                                                                 class="m--img-rounded m--marginless" alt="" />
                                                            <!--
                                                            <span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
                                                            -->
                                                        </div>
                                                        <div class="m-card-user__details">
                                                            <span class="m-card-user__name m--font-weight-500">@Session["UserName"]</span>
                                                            <a href="" class="m-card-user__email m--font-weight-300 m-link">@Session["Email"]</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">
                                                            <li class="m-nav__section m--hide">
                                                                <span class="m-nav__section-text">Section</span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href='@Url.Action("myprofile", "user")' class="m-nav__link" id="ancMyProfile">

                                                                    <span class="m-nav__link-icon"><img src="~/content/images/my-profile.png" alt="my-profile"></span>
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">My Profile</span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            @*<li class="m-nav__item">
                                                                    <a href='@Url.Action("changepassword", "changepassword")' class="m-nav__link">
                                                                        <span class="m-nav__link-icon"><img src="~/Content/images/password.png" alt=""></span>
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text">Update Password</span>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>*@

                                                            <li class="m-nav__item">
                                                                <a href='@Url.Action("logout", "account")' id="btnLogout" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="notifyModal" class="modal" role="dialog" style="z-index:9999">
                            <div class="modal-dialog popup-area-sm">
                                <div class="modal-content">
                                    <div class="modal-header modal-header-primary">
                                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">

                                            <div class="m-stack__item m-topbar__nav-wrapper">
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__header m--align-center" style="background: url(images/notification-bg.png); background-size: cover;">
                                                        <span class="m-dropdown__header-title">Notifications</span>
                                                        <span class="m-dropdown__header-subtitle">All the happenings</span>
                                                    </div>
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                                                                <li class="nav-item m-tabs__item">
                                                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                                                        Alerts
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                                                                    <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
                                                                        <div class="m-list-timeline m-list-timeline--skin-light">
                                                                            <div class="m-list-timeline__items">
                                                                                <div class="m-list-timeline__item">
                                                                                    <h4 id="hbistrodoc" class="modal-title">Notifications<small class="font-weight"></small></h4>
                                                                                </div>



                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="deliveryDetail" class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>

        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

                <!-- BEGIN: Aside Menu -->
                @{Html.RenderPartial("_LeftMenu");}

                <!-- END: Aside Menu -->
            </div>

            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                @if (ViewBag.Title != "Donations")
                {
                    <div class="m-subheader ">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="m-subheader Donation_head_title">
                        <div class="d-flex align-items-center">
                            <div class="mr-auto">
                                <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                            </div>
                        </div>
                    </div>
                }
                @RenderBody()
                <!-- END: Subheader -->
                @*<div class="payment-form-wrapper about-us-wrap">

                    </div>*@
            </div>
        </div>

        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="copyright-wrap">
                        <span class="m-footer__copyright">
                            Designed & Developed by <a href="http://keplerbase.com/" target="_blank" class="m-link"><img src="~/content/images/kepler-logo.png" alt="foot-logo"></a>
                        </span>
                    </div>
                    <div class="foot-links">
                        <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                            <li class="m-nav__item">
                                <a href="/AboutContent/privacypolicy" class="m-nav__link">
                                    <span class="m-nav__link-text">Privacy</span>
                                </a>
                            </li>

                            <li class="m-nav__item">

                                <a href="/AboutContent/termsandcondition" class="m-nav__link">
                                    <span class="m-nav__link-text">Terms & Conditions</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="/AboutContent/eula" class="m-nav__link">
                                    <span class="m-nav__link-text">EULA</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="/AboutContent/about" class="m-nav__link">
                                    <span class="m-nav__link-text">About</span>
                                </a>
                            </li>
                            @*<li class="m-nav__item">
            <a href="/about/support" class="m-nav__link">
                <span class="m-nav__link-text">Support</span>
            </a>
        </li>
        <li class="m-nav__item">
            <a href="/about/purchaselicense" class="m-nav__link">
                <span class="m-nav__link-text">Purchase License</span>
            </a>
        </li>
        <li class="m-nav__item m-nav__item">
            <a href="/about/supportcenter" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
                <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
            </a>
        </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- end::Footer -->
    </div>

    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <img src="/content/images/go-top.png" alt="go-top">
    </div>

    <!-- end::Scroll Top -->
    <!-- begin::Quick Nav -->
    <!--begin::Global Theme Bundle -->
    @*<script src="js/vendors.bundle.js" type="text/javascript"></script>
        <script src="js/scripts.bundle.js" type="text/javascript"></script>*@

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors -->
    @*<script src="js/fullcalendar.bundle.js" type="text/javascript"></script>*@

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    @*<script src="js/dashboard.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    <!--begin::Page Scripts -->
    @*<script src="js/basic.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    <!-- end::Body -->


</body>
</html>
<div id="divDocView" class="modal fade " role="dialog" style="z-index:99999">
    <div class="modal-dialog popup-area-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h4 id="hbistrodoc" class="modal-title">View Image<small class="font-weight"></small></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="divDocViewBody" class="modal-body modal-img-center">
                <img id="imgDocView" style="margin-left: auto;margin-right:auto;top:50%;"
                     onerror="this.src = '/content/images/plus.png';" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary close-m" data-dismiss="modal22">Close</button>
                </div>
            </div>

        </div>

    </div>
</div>

@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/rcrop")
@*<script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>*@


<script>
    $('.docView').on('click', function () {
        var path = $(this).children('img').attr("src");
        $('#imgDocView').attr("src", path);
        $('#divDocView').modal('show');
        return false;
    });
    $('.docViewClose,.close-m').on('click', function () {
        $('#divDocView').modal('hide');
    });

    $(document).ready(function () {
        // show/hide password
        $('.eye-icon').on('click', function () {
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
            if ($(this).parent().find('input[type="password"]').attr("type") == "password")
                $(this).parent().find('input[type="password"]').attr("type", "text");
            else
                $(this).parent().find('input[type="text"]').attr("type", "password");
        });
    });

    $('.fa-bell').click(function () {
        data: { sid = "1" }
        $.get("/notification/_index", $(this).attr("data"),  function (result)
        {
            $("#_index").html(result);

            $("#notifyModal").modal('show', { backdrop: 'static', keyboard: true });

        });

    });

    $("body").click(function (event) {
        var $target = $(event.target);
        if (!$target.parents().is("#notifyModal") && !$target.is("#notifyModal")) {
            $("body").find(".popup").hide();
        }
    });


     $(document).ready(function () {
         var returnMessage = '@TempData["ReturnMessage"]';
            var returnCode = '@TempData["ReturnCode"]';
            var href = '@TempData["href"]';
            var MessageType = '@TempData["MessageType"]';
            if (returnCode.length > 0) {
                //console.log(returnCode +'::3434')
                if (href.length > 0)
                {
                    if (returnCode == -5)
                        AlertWithTitleIconNewWindow("Alert", returnMessage, "warning", href);
                    else if (returnCode < 1)
                        AlertWithTitleIconNewWindow("Error", returnMessage, "error", href);
                    else if (returnCode > 0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIconNewWindow("Success", returnMessage, "success", href);



                }
                else {
                     if (returnCode == -5)
                         AlertWithTitleIcon("Alert", returnMessage, "warning");
                    else if (returnCode <1)
                        AlertWithTitleIcon("Error", returnMessage, "error");
                    else if (returnCode>0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIcon("Success", returnMessage, "success");


                }



         }
           $(document).ready(function () {
            //$('#btnBack').click(function () {
            //    window.history.back();
            //});

            //$('a.active').removeClass('active');
            $('[data-toggle="tooltip"]').tooltip();

            var _title = '@(TempData["Title"])';
            var _type = '@(TempData["Type"])';
            var _content = '@(TempData["Content"])';
            // var _alert = '@(TempData["Alert"])';

            // _alert = JSON.parse(_alert);
            // alert(_alert.Title);

            if (_content.length > 0) {
                $.alert({ title: _title, type: _type, content: _content, });
            }

            @*if('@(TempData["Alert"])'!=''){
                $.alert({ title: 'Error 531:', type: 'red', content: '@(TempData["Alert"])', });
            }*@
            $('.full-height').css("height", "76px  !important");
        });

        function Alert(text) {
            swal({
                title: 'Alert',
                text: text,
                type: "info",
            });
        }
        function alert(text) {
            swal({
                title: 'Alert',
                text: text,
                type: "info",
            });
        }
        function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
        function AlertWithTitleIcon(title, text, type) {
            swal({
                title: title,
                text: text,
                type: type
            });
        }
        function AlertWithTitleIconNewWindow(title, text, type, newWindow) {
            swal({
                title: title,
                text: text,
                type: type
            },
                function () {
                    window.location.href = newWindow;
                });
        }

        function Confirm(title, event) {
            var clientid = event.id;
            var href = $('#' + clientid).attr('href');
            var returnType = false;

            swal({
                title: "Alert",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
             function (isConfirm, id) {
                 if (isConfirm) {
                     window.location.href = href;
                     returnType = true;
                     //swal("Deleted!", "Record has been deleted.", "success");
                 } else {
                     //$('div').click();
                     $('#' + clientid).blur();
                     returnType = false;
                 }
             }
          );
            return returnType;
        }

        function myconfirm(title) {
            var returnType = false;
            swal({
                title: "Alert",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
             function (isConfirm, id) {
                 if (isConfirm) {
                     //window.location.href = href;
                     returnType = true;
                     //swal("Deleted!", "Record has been deleted.", "success");
                 } else {
                     //$('div').click();
                     //$('#' + clientid).blur();
                     returnType = false;
                     //swal("Cancelled", "Your imaginary file is safe :)", "error");
                 }
             }

          );
            return returnType;
        }

        function confirmWithReturnVal(title, fnCallBack) {
            var returnType = false;
            swal({
                title: "Alert",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                    if (isConfirm) {
                        // Call [fnCallback] method with your [returnType] value (e.g true)
                        returnType = true;
                        fnCallBack(returnType);
                    } else {
                        // Call [fnCallback] method with your [returnType] value (e.g false)
                        returnType = false;
                        fnCallBack(returnType);
                    }
                }
            );

            return returnType;
        }
    });



    //  $.noConflict();
    jQuery(document).ready(function () {
        function getNextYear() {
            var currentDateTime_ = new Date();
            var currentYear_ = currentDateTime_.getFullYear();
            var nextYear_ = currentYear_ + 1;
            return nextYear_;
            var hr = currentDateTime_.getHours();
            var mn = currentDateTime_.getMinutes();
        }
        var NextYearVal_ = getNextYear();

        jQuery("body").on("mouseenter", "input.myCalendar", function () {

            var topHeight = $(this).offset().top + $(this).height() + 10;
            var offsetLeft = $(this).offset().left;
            jQuery(this).datepicker({
                dateFormat: "mm/dd/yy",
                // minDate: "01-Jan-1970",
                yearRange: "1970:" + NextYearVal_ + "",
                autoclose: true,
                //maxDate: "31/01/2100",
                changeMonth: true,
                changeYear: true,
                useCurrent: true,
                todayHighlight: true,

                showButtonPanel: true,
                beforeShow: function (input, inst) {
                    setTimeout(function () {
                        inst.dpDiv.css({
                            top: topHeight,
                            left: offsetLeft
                        });
                    }, 0)
                }
                //showOn: "button",
                //buttonImage: "images/calendar.gif",
                //buttonImageOnly: true,
                //timeFormat: "hh:mm tt"
            }).on('change', function () {
                $('.datepicker').hide();
            });

        });


        jQuery('.myCalendar').each(function (evt) {
            if (jQuery(this).hasClass('Today') && jQuery(this).val().length == 0) {
                jQuery(this).val(today_Date);
            }
        });


    });

</script>


<script>

    $("#m_topbar_notification_icon").click(function () {
        $.ajax({
            url: '/ChangePassword/ReadUnRead',
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("NotificationCount").text(data);
            },
            error: function (xhr) {
                // alert('Error:' + xhr.responseText);
            }
        });
    });

    $(document).ready(function () {

        $('#m_topbar_notification_icon').click(function () {
            $('#NotificationCount').text(0);
            $("#NotificationCount").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();

        });

        function Confirm(title, event) {
            var clientid = event.id;
            var href = $('#' + clientid).attr('href');
            var returnType = false;

            swal({
                title: "Alert",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                    if (isConfirm) {
                        window.location.href = href;
                        returnType = true;
                        //swal("Deleted!", "Record has been deleted.", "success");
                    } else {
                        //$('div').click();
                        $('#' + clientid).blur();
                        returnType = false;
                    }
                }
            );
            return returnType;
        }


        // maintain menu active status
        var _ParentMenuId = localStorage.getItem("ParentMenuId")

        $(".m-menu__nav .m-menu__item,#ancMyProfile").click(function () {
            localStorage.setItem("ParentMenuId", '#' + $(this).attr("id"));
        });

        if (_ParentMenuId != null) {
            //m-menu__item m-menu__item--submenu m-menu__item--open
            $(_ParentMenuId).addClass("m-menu__item--active m-menu__item--open");
        }
        else {
            $('#pmid_11').addClass("m-menu__item--active");
        }


    });
</script>

