﻿
@{
    ViewBag.Title = "_LayoutOuter";
}
<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>SCC WEB</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="Latest updates and statistic charts">
    <link rel="shortcut icon" type="image/png" href="~/content/images/favicon.png" />
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/content/css1")
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="loader">
        <img src="~/Content/images/loader.gif" alt="laoder" />
    </div>
    <!-- begin:: Page -->
   
      
                    <div class="m-login__wrapper thankyou-page">
                            @RenderBody()
                    </div>
              


    <footer class="m-grid__item m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="copyright-wrap">
                    <span class="m-footer__copyright">
                        Designed & Developed by <a href="http://kepleredge.com/" target="_blank" class="m-link"><img src="~/content/images/kepler-logo.png" alt="foot-logo"></a>
                    </span>
                </div>
                <div class="foot-links">
                    <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                        <li class="m-nav__item">
                            <a href="/about/privacypolicy" target="_blank" class="m-nav__link">
                                <span class="m-nav__link-text">Privacy</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="/about/about" target="_blank" class="m-nav__link">
                                <span class="m-nav__link-text">About</span>
                            </a>
                        </li>
                        <li class="m-nav__item">

                            <a href="/about/termsandcondition" target="_blank" class="m-nav__link">
                                <span class="m-nav__link-text">Terms & Conditions</span>
                            </a>
                        </li>
                        @*<li class="m-nav__item">
                            <a href="/about/eula" target="_blank" class="m-nav__link">
                                <span class="m-nav__link-text">EULA</span>
                            </a>
                        </li>*@



                    </ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<!-- end::Body -->
</html>
<script type="text/javascript">
        $(document).ready(function () {

            var returnMessage = '@TempData["ReturnMessage"]';
            var returnCode = '@TempData["ReturnCode"]';
            var href = '@TempData["href"]';
            var MessageType = '@TempData["MessageType"]';
            if (returnCode.length > 0) {
                //console.log(returnCode +'::3434')
                if (href.length > 0)
                {
                    if (returnCode == -5)
                        AlertWithTitleIconNewWindow("Warning", returnMessage, "warning", href);
                    else if (returnCode < 1)
                        AlertWithTitleIconNewWindow("Error", returnMessage, "error", href);
                    else if (returnCode > 0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIconNewWindow("Success", returnMessage, "success", href);



                }
                else {
                     if (returnCode == -5)
                        AlertWithTitleIcon("Warning", returnMessage, "warning");
                    else if (returnCode <1)
                        AlertWithTitleIcon("Error", returnMessage, "error");
                    else if (returnCode>0)// | returnCode == 11 || returnCode == 12 || returnCode == 13 || returnCode == 14 || returnCode == 15)
                        AlertWithTitleIcon("Success", returnMessage, "success");


                }

               //  @TempData["ReturnCode"]="";

            }
        });


        $(document).ready(function () {
            $(".button a").click(function () {
                if ($(".button a").hasClass('btn-close')) {
                    document.documentElement.style.overflow = 'scroll';
                    document.body.scroll = "yes";
                }
                else {
                    document.documentElement.style.overflow = 'hidden';
                    document.body.scroll = "no";
                }
                $(".overlay").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });


        });
    
    $(document).ready(function () {
        // show/hide password
        $('.eye-icon').on('click', function () {
            $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
            if ($(this).parent().find('input[type="password"]').attr("type") == "password")
                $(this).parent().find('input[type="password"]').attr("type", "text");
            else
                $(this).parent().find('input[type="text"]').attr("type", "password");
        });
    });

        $(document).ready(function () {

                $(function () {
                    var _mt = $(window).height() - $('html').height() + 32;
                    if (_mt < 1)
                        _mt = 40;
                    $('#footer').css('margin-top', _mt + 'px');
            });

            // remove parent menu id if exists
            if (localStorage.getItem("ParentMenuId") != null)               
                localStorage.removeItem("ParentMenuId");
            
        });
</script>