﻿@using FPModels.Models;
<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
    @if (ViewBag.LeftMenuList != null)
    {
        List<MenuModel> _LeftMenus = (List<MenuModel>)ViewBag.LeftMenuList;
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <li class="m-menu__item side-menu-tittle" aria-haspopup="true">
            <h4 class="m-menu__link-text">Menu</h4>
        </li>
        @foreach (var levelOne in _LeftMenus.Where(x => x.ParentId == 0))
        {
            @*@(_LeftMenus.First() == levelOne ? "m-menu__item--active" : "")*@
            <li id="pmid_@levelOne.MenuId" class="m-menu__item @(_LeftMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0 ? " m-menu__item--submenu" : "")" aria-haspopup="true"
                @(_LeftMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0 ? " m-menu-submenu-toggle=hover" : "")>
                <a href="@levelOne.Url" class="m-menu__link @(_LeftMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0?" m-menu__toggle":"")">
                    <span class="m-menu__link-icon">
                        <img class="side-menu-icon" src="/content/images/@levelOne.PrefixIcon" alt="dashboard">
                    </span>
                    <span class="m-menu__link-text">@levelOne.Text</span>

                    @if (_LeftMenus.First() == levelOne)
                    {
                        <span class="m-menu__link-badge"></span>
                    }
                    @if (_LeftMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0)
                    {
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    }
                </a>
                @if (_LeftMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0)
                {
                    <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            @foreach (var levelTwo in _LeftMenus.Where(x => x.ParentId == levelOne.MenuId))
                            {
                                <li id="cmid_@levelTwo.MenuId" class="m-menu__item " aria-haspopup="true">
                                    <a href="@levelTwo.Url" class="m-menu__link ">
                                        <span class="m-menu__link-bullet"></span>
                                        <span class="m-menu__link-text">
                                            @levelTwo.Text
                                            @if (levelTwo.MenuId == 41 && levelTwo._menuCountList[0].HeadlineCount != 0)
                                            {
                                                <span class="m-badge m-badge--danger pull-right" id="headLIneCount">@levelTwo._menuCountList[0].HeadlineCount</span>
                                            }
                                            @if (levelTwo.MenuId == 43 && levelTwo._menuCountList[0].NewsCount != 0)
                                            {
                                                <span class="m-badge m-badge--danger pull-right" id="NewsCount">@levelTwo._menuCountList[0].NewsCount</span>
                                            }
                                            @if (levelTwo.MenuId == 45 && levelTwo._menuCountList[0].EventCount != 0)
                                            {
                                                <span class="m-badge m-badge--danger pull-right" id="EventsCouns">@levelTwo._menuCountList[0].EventCount</span>
                                            }
                                            @if (levelTwo.MenuId == 47 && levelTwo._menuCountList[0].MessageCount != 0)
                                            {
                                                <span class="m-badge m-badge--danger pull-right" id="InAppMessages">@levelTwo._menuCountList[0].MessageCount</span>
                                            }
                                            @if (levelTwo.MenuId == 49 && levelTwo._menuCountList[0].officeCount != 0)
                                            {
                                                <span class="m-badge m-badge--danger pull-right">@levelTwo._menuCountList[0].officeCount</span>
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>
        }
    </ul>
    }
</div>



