﻿@using FPModels.Models

@if (ViewBag.TopMenuList != null)
{

    List<NotificationModel> _notificationList = (List<NotificationModel>)ViewBag.NotificationList;
    if (_notificationList != null && _notificationList.Count > 0)
    {

        foreach (var item in _notificationList)
        {
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
            @*@if (Model != null && Model._NotificationList != null && Model._NotificationList.Count > 0)
                {
                    String NotifyDay = "";*@
            <span class="unbold-span">
                @if (item.IsViewForDisplay == "False")
                {
                    @item.Message
                }
            </span>
            <span class="m-list-timeline__text">
                @if (item.IsViewForDisplay == "true")
                {
                    @item.Message
                }
            </span>
            <span class="m-list-timeline__time">@item.CreateTime</span>
        </div>
        }

    }
}
