﻿@using FPModels.Models;


<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
    @if (ViewBag.TopMenuList != null)
    {
        List<MenuModel> _TopMenus = (List<MenuModel>)ViewBag.TopMenuList;
        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
            @foreach (var levelOne in _TopMenus.Where(x => x.ParentId == 0))
            {
                <li class="m-menu__item m-menu__item--rel" m-menu-link-redirect="1" aria-haspopup="true" @(_TopMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0 ? " m-menu-submenu-toggle=click" : "")>
                    <a href="@levelOne.Url" class="m-menu__link @(_TopMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0?" m-menu__toggle":"")" title="@levelOne.Text">
                        <span class="m-menu__link-icon">
                            <img src="/content/images/@levelOne.PrefixIcon" alt="manage-user">
                        </span>
                        <span class="m-menu__link-text">@levelOne.Text</span>

                        @if (_TopMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0)
                        {
                            <i class="m-menu__hor-arrow la la-angle-down"></i>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        }
                    </a>

                    @if (_TopMenus.Where(x => x.ParentId == levelOne.MenuId).Count() > 0)
                    {
                        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                            <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                            <ul class="m-menu__subnav">
                                @foreach (var levelTwo in _TopMenus.Where(x => x.ParentId == levelOne.MenuId))
                                {
                                    <li class="m-menu__item @(_TopMenus.Where(x => x.ParentId == levelTwo.MenuId).Count() > 0?" m-menu__item--submenu":"")"
                                        @(_TopMenus.Where(x => x.ParentId == levelTwo.MenuId).Count() > 0 ? " m-menu-submenu-toggle=hover  m-menu-link-redirect=1" : "") aria-haspopup="true">
                                        <a href="@levelTwo.Url" class="m-menu__link @(_TopMenus.Where(x => x.ParentId == levelTwo.MenuId).Count() > 0?" m-menu__toggle":"")">
                                            <span class="m-menu__link-bullet"></span>
                                            <span class="m-menu__link-text">@levelTwo.Text</span>
                                            @if (_TopMenus.Where(x => x.ParentId == levelTwo.MenuId).Count() > 0)
                                            {
                                                <i class="m-menu__hor-arrow la la-angle-right"></i>
                                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                                            }
                                        </a>
                                        @if (_TopMenus.Where(x => x.ParentId == levelTwo.MenuId).Count() > 0)
                                        {
                                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                <span class="m-menu__arrow "></span>
                                                <ul class="m-menu__subnav">
                                                    @foreach (var levelThree in _TopMenus.Where(x => x.ParentId == levelTwo.MenuId))
                                                    {
                                                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                                                            <a href="@levelThree.Url" class="m-menu__link ">
                                                                <span class="m-menu__link-bullet"></span>
                                                                <span class="m-menu__link-text">@levelThree.Text</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </li>
            }
        </ul>
        }
</div>

