﻿@model FPModels.Models.Dealmodel
@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Deal
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @*@Html.HiddenFor(m => m.DealsId)*@
                                @Html.HiddenFor(m => m.EncryptedDealID)
                                @Html.HiddenFor(m => m.EncryptedServiceId)
                                @Html.HiddenFor(m => m.EncryptedUserId)
                                <label for="exampleInputEmail1">Deal Title <req>*</req></label>
                                @Html.TextBoxFor(m => m.DealTitle, new { @class = "form-control m-input ", @placeholder = "Deal Title", @maxlength = "80" })
                                @Html.ValidationMessageFor(m => m.DealTitle, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Deal Code <req>*</req></label>
                                @Html.TextBoxFor(m => m.DealCode, new { @class = "form-control m-input ", @placeholder = "Deal Code", @maxlength = "80" })
                                @Html.ValidationMessageFor(m => m.DealCode, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Status<req>*</req></label>
                                @*@Html.HiddenFor(m => m.DealStatus, new { @id = "DealStatus" })*@
                                @Html.DropDownListFor(m => m.DealStatus, Model._StatusList, new { @id = "StatusId123", @class = "form-control m-input" })
                                @Html.ValidationMessageFor(m => m.DealStatus, "", new { @class = "m-form__help" })

                            </div>
                            <div class="m-form__actions form-buttons">
                                @if (Model.EncryptedDealID == null)
                                {
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                }
                                else
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        <a href="/Deal/delete?did=@Model.EncryptedDealID"
                                           class="btn btn-secondary"
                                           id="@Model.EncryptedDealID"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>
                                    }
                                    <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                }
                                <a href="~/service/edit?sid=@Model.EncryptedServiceId" class="btn btn-secondary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                    <span>
                                        <span>Cancel</span>
                                    </span>
                                </a>
                                @*@Html.ActionLink("Cancel", "index", "Service", new { @id = "Cancel_", @class = "btn btn-secondary" })*@
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    <script>
$(document).ready(function () {
if ($('#status').val() == "Active") {
$('#StatusId').val('Active');

 }
else {
$('#StatusId').val('IActive');
}
});
@*$("body").on("click", ".cross", function (e) {
$(this).removeClass("show").addClass("hide");
$("#img_0").attr("src", "");
$("#hfPath_0").val('');
$("hfPath_0").val('');
$('#@Html.IdFor(m=>m.LogoPath)').val("");
$('#img_0').hide();
});*@
$('#StatusId').change(function () {
var status = $('#StatusId option:selected').text();
$('#Status').val(status);
$('#Status').val();
});
//function AlertWithNewWindow(text, newWindow) {
// swal({
// title: 'Alert',
// title: text,
// text: text,
// type: "info",
// },
// function () {
// window.location.href = newWindow;
// });
// }
// function Confirm(title, event) {
// //debugger;
// var clientid = event.id;
// var href = '/Category/delete?cid=' + clientid;
// var returnType = false;

 // swal({
// title: "Warning",//"Are you sure?",
// text: title,
// //text: "You will not be able to recover this imaginary file!",
// type: "warning",
// showCancelButton: true,
// confirmButtonColor: "#DD6B55",
// confirmButtonText: "Yes",
// cancelButtonText: "No",
// closeOnConfirm: true,
// closeOnCancel: true
// },
// function (isConfirm, did) {
// if (isConfirm) {
// window.location.href = href;
// returnType = true;
// //swal("Deleted!", "Record has been deleted.", "success");
// } else {
// //$('div').click();
// //$('#' + clientid).blur();
// returnType = false;
// }
// }
// );
// return returnType;
// }
    </script>