﻿@using FPModels.Models
@model ContactModel 
@{
    ViewBag.Title = " Contact Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "contact", FormMethod.Post))
{


    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Requests
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar">
                        <label>
                            <img src="~/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>
                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                </div>

                <!--begin: Datatable -->
                <table class="table  table-responsive table-striped- table-hover table-pagger" cols="6" id="m_table_1">
                    <thead>
                        <tr>
                            <th class="cntct_name"><a href="#">Name</a></th>
                            <th class="cntct_email"><a href="#">Email</a></th>
                            <th class="cntct_mobile"><a href="#">Mobile</a></th>
                            <th class="cntct_message"><a href="#">Message</a></th>
                            <th class="cntct_respond"><a href="#">Response Requested</a></th>
                            <th class="cntct_status"><a href="#">Status</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model._Contactlist != null && Model._Contactlist.Count > 0)
                        {

                            foreach (var item in Model._Contactlist)
                            {
                        <tr>
                            @Html.HiddenFor(m => m.ContactId)
                            <td style="word-break: break-word;"><a href="@Url.Action("detail", "contact", new { cid = @item.ContactId })" style="text-decoration:underline; color:#666674;">@item.Name</a></td>
                            <td>@item.Email</td>
                            @if (@item.Mobile == "")
                            {
                                <td>-</td> 
                            }
                            else
                            {
                                <td>@item.ISDCode @item.Mobile</td>
                            }
                            <td style="word-break:break-word;">@item.Message</td>
                            <td>@(item.Response ? "Yes" : "No") </td>

                            @if (item.Status == "InProcess")
                            {
                                <td><span class="m-badge  m-badge--metal m-badge--wide contacted-btn process-btn">In process</span></td>
                            }
                            else if (item.Status == "Contacted")
                            {
                                <td><span class="m-badge  m-badge  m-badge--primary m-badge--wide m-badge--wide contact-new-btn">Contacted</span></td>
                            }
                            else
                            {
                                <td><span class="m-badge  m-badge--metal m-badge--wide contacted-btn ">New</span></td>
                            }
                        </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1">
                </div>
            </div>
        </div>
    </div>

}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script type="text/javascript">

    $(function () {
        $('table.m_table_1').attr('width', 50);
    });
    $(document).ready(function () {

        if ('.status'.text == "0") {
            debugger;
            $('.status' + i).val("New");
        }
      
    });

</script>