﻿@model FPModels.Models.NewsModel

@if (Model != null)
{
    <div class="m-content payment-form-wrapper" id="Form">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Title & Content
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.NewsId)
                                @Html.HiddenFor(m => m.EncryptedNewsId)
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input Validation", @placeholder = "Title", @maxlength = "200" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Content<req>*</req></label>   @*WordLimit*@
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control m-input Validation", @rows = "20", @placeholder = "Write Content", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "m-form__help" })
                                @*<label class = "m-form__help">We recommend you not to enter any donation campaign link in content.</label>*@
                                @*<textarea class="form-control m-input" rows="20" placeholder="Write here"></textarea>
                                    <span class="m-form__help">Please enter agenda</span>
                                    <span class="m-form__help pull-right">Maximum 1000 words</span>*@
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="">Add image (Maximum 5 images)</label>
                                <div class="plus_seting">
                                    <div class="upld_img_wrap">

                                        @if (Model._ImagePathList != null && Model._ImagePathList.Count > 0)
                                        {
                                            for (int i = 0; i < Model._ImagePathList.Count; i++)
                                            {
                                                <div class="upld_img_in">
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImageId)
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImagePath, new { @id = "ip_" + i })
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImageBase64, new { @id = "hfIB_" + i })

                                                    @Html.TextBoxFor(m=> Model._ImagePathList[i].HttpPostedFileBase,
                                                   new {@type="file",@id= "file_"+i, @size = "chars", @data = "#img_" + i, @db = "#cross_"+i })

                                                    <a id="button_@i" class="setting_img_sec-rec ">
                                                        <img class="cross @(!String.IsNullOrEmpty(Model._ImagePathList[i].ImagePath) ? "show" : "hide")"
                                                             src='~/Content/images/icon_Cancel.png' id="cross_@i" data="#file_@i" db="#img_@i" hfip="#ip_@i">

                                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                                             id="img_@i"
                                                             cImgOne="#img_@i" cHF="#hfIB_@i" cWidth="750" cHeight="350"
                                                             class="setting-pic cropBox"
                                                             onerror="this.src='../content/images/plus-rec.png';" />
                                                    </a>
                                                </div>
                                            }

                                        }

                                        <span class="filesize">

                                            @Html.DisplayFor(m => m.Size, new { @class = "filesize" })
                                        </span>
                                    </div>
                                </div>


                                <div class="multi-img-wrapper">
                                </div>

                                @Html.ValidationMessageFor(model => model._ImagePathList[0].ImagePath, "", new { @class = "m-form__help" })

                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Time<req>*</req></label>
                                <div class="m-radio-list">
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio" })Now
                                        <span class="Published" onclick="Selection('Published');return false"></span>
                                    </label>

                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.PublishDate, new { @class = "form-control m-input datepicker_nopast", @autocomplete = "off" })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                            </div>
                                        </div>
                                        <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                    </label>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                        <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                @*<span class="m-form__help">Please select one option</span>*@
                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Add Button</label>
                                <div class="m-radio-list">
                                    @*@Html.HiddenFor(m => m.IsDonate, new { @id = "IsDonate", @style = "display:none;" })*@
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.IsDonate, "False", new { @id = "IsDonateNo", @class = "radio", @checked = true })None
                                        <span class="IsDonateNo" onclick="Selection('IsDonateNo');return false"></span>
                                    </label>

                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.IsDonate, "True", new { @id = "IsDonateYes", @class = "radio" })Donate Now
                                        <span class="IsDonateYes" onclick="Selection('IsDonateYes');return false"></span>
                                    </label>

                                </div>
                                <br />
                                <label for="">Donation URL</label>
                                @Html.TextBoxFor(m => m.URL, new { @class = "form-control m-input", @maxlength = "100", @id = "DonateURL", @style = "display:block;", @placeholder = "Write here" })
                                <label for="">Use In-App sharing URL only.</label>
                                <span class="m-form__help">
                                    <span id="DonationURL" class="m-form__help field-validation-error"></span>
                                    @Html.ValidationMessageFor(model => model.IsDonate, "", new { @class = "m-form__help", @id = "URL" })
                                </span>
                            </div>
                            
                            <div class="m-form__actions form-buttons">
                                @if (Model.NewsId == 0)
                                {
                                    <button type="submit" id="publish" class="btn btn-primary" onclick="postPublish();">Publish</button>
                                }
                                else
                                {
                                    <button type="submit" id="publish" class="btn btn-primary" onclick="postPublish();">Update</button>

                                }
                                <a href="~/news/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
}
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script>
    

    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $(document).ready(function () {
       // CheckSelection(@Model.Status);
    });

    $(document).ready(function () {
        $('#img_0,#img_1,#img_2,#img_3,#img_4').click(function () {
           // $($(this).attr("data")).trigger("click");
        });

        $("#file_0,#file_1,#file_2,#file_3,#file_4").change(function () {

            try
            {
                //var _image = $(this).attr("data");
                //var _cross = $(this).attr("db");

                //var reader = new FileReader();
                //reader.onload = function (e) {                   
                //    $(_image).attr("src", e.target.result);
                //    $(_cross).removeClass("hide").addClass("show");
                //}
                //reader.readAsDataURL($(this)[0].files[0]);
                var _image = $(this).attr("data");
                var _fileId ='#'+ $(this).attr("id");
                var _cross = $(this).attr("db");
                var reader = new FileReader();
                var _currentPath = "";

                imageVal = new Image();
                reader.onload = function (e) {
                    _currentPath = e.target.result;
                    imageVal.src = e.target.result;
                }

                reader.readAsDataURL($(this)[0].files[0]);
                $(_cross).addClass("show").removeClass("hide");

                imageVal.onload = function () {
                    //if ((this.width / this.height) < 1.5 || (this.width / this.height) > 5.5) {
                    if (1 == !1)
                    {
                        AlertWithTitleIcon("Warning", RectangleRatio(this.width, this.height));
                        $(_image).attr("src", "/Content/images/plus-rec.png");
                        $(_fileId).val("");
                        return false;
                    }
                    else {
                        $(_image).attr("src", _currentPath);
                    }
                };
            }
            catch (ex) {
                console.log(ex.message);
            }
        });

        $("#cross_0,#cross_1,#cross_2,#cross_3,#cross_4").click(function (e) {
            var _file = $(this).attr("data");
            var _image = $(this).attr("db");
            var _imagePath = $(this).attr("hfip");

           // $(this).removeClass("show").addClass("hide");
            $(_file).val('');
            $(_imagePath).val('');
            $(_image).attr("src", '/Content/images/plus.png');

            e.preventDefault;
        });
    });
   
    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {

        if ($('#' + id).prop("checked") == true) {
            $('#'+id).prop("checked", false);
        }
        else {
            $('#' +id).prop("checked", true);
        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
            $('#PublishDate-error').show();
            return false;
        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
        else if ($('#' + id).val() == "Drafted") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
    }
    $('#publish').click(function () {
      
        if ($('#IsDonateYes').prop("checked") == true) {

            if ($('#DonateURL').val() == "") {
                // $('#DonateURL').css('display', 'block');
                $('#DonateURL').prop('required', 'required');
                $("#DonationURL").text('Please enter Donation URL');
                return false;
            }
            else {
                return true;
            }
        }
        else if ($('#IsDonateYes').prop("checked") == false) {
            

            //$('#DonateURL').css('display', 'none');
            $('#DonateURL').prop('required', false);
            $("#DonationURL").text('');
            $('#DonateURL').val('');
        }
        else {
            return true;
        }
    });
    //$("#fileNews").change(function () {
    //    var _image = $(this).attr("data");
    //    var reader = new FileReader();

    //    var data = new FormData();
    //    var files = $("#fileNews").get(0).files;
    //    if (files.length > 0) {
    //        for (var i = 0; i < files.length; ++i) {
    //            data.append("files[]" + i, files[i]);
    //            //data.append("Model._ImagePathList["+i+"].ImagePath", files[i]);
    //        }
    //    }
    //    if ($('#dvImages>span').children().length + files.length*2< 10) {

    //        $.ajax({
    //            type: "POST",
    //            url: "/news/saveimages",
    //            contentType: false,
    //            processData: false,
    //            data: data,
    //            success: function (data) {
    //                if (data > 0) {
    //                    //AlertWithTitleIcon("Success", "Profile picture changed!");
    //                    if (files.length > 0) {
    //                        var j = 0;
    //                        for (var k = 0; k < 5; ++k) {
    //                            if ($('#hdnimgNews_' + k).val() != undefined) {
    //                                k++;
    //                                j = k;
    //                            }
    //                        }
    //                        if (j != 0) { j++; }
    //                        for (var i = 0; i < files.length; ++i) {
    //                            $("#dvImages").append("<input type='hidden' id='hdnimgNews_" + j + "'/> <input type='hidden' id='hdnImagePath_" + j + "'/>");
    //                            $("#dvImages").append("<span class='file-name' id='spn_" + j + "'><img class='cross' src='../Content/images/close.png' id='cross' data='#file' db='#imgNews_" + j + "' />");
    //                            $("#dvImages").append("<img id = 'imgNews_" + j + "' src = '/Upload/News/" + files[i].name + "' data-animation='#file' alt = 'Preview not available' style = 'width:50px;height:40px;order:1px solid #ccc' /></span> ")
    //                            //$("#spn_"+j).text(files[i].name);
    //                            $("#imgNews_" + j).attr("src", "/Upload/News/" + files[i].name);
    //                            //data.append("files[]" + i, files[i]);
    //                            j++;
    //                        }
    //                    }
    //                }



    //                return false;
    //            },
    //            error: function () {
    //                return 'error';
    //            }
    //        });
    //    }
    //    else {
    //        AlertWithTitleIcon("Warning", "Image count exceeds its maximum limit", "warning");
    //        if (files.length > 0) {
    //            $('#fileNews').val('')
    //        }
    //    }
    //});

    function postPublish() {

        if ($('#Title').val() == '') {
            $('#Title').prop("required", "required");
        }
        if ($('#Content').val() == '') {
            $('#Content').prop("required", "required");
            return false;
        }
        if ($("input[class='radio']:checked").val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $("#PublishDate").prop("required", "required");
            $('#PublishDate-error').show();
            return false;
        }
        else if ($("input[class='radio']:checked").val() == "Published") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();

        }
        else if ($("input[class='radio']:checked").val() == "Drafted") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();

        }
        else if ($("input[class='radio']:checked").val() == undefined) {
            $("#PublishDate").prop("required", "required");
            //$('#PublishDate-error').show();
            return false;
        }

        var data = new FormData();
        data.append("Title", $('#Title').val());
        data.append("Content",$('#Content').val());
        data.append("Status", $("input[class='radio']:checked").val());
        data.append("NewsId",$('#NewsId').val());
        data.append("EncryptedNewsId",$('#EncryptedNewsId').val());
        data.append("PublishDate", $('#PublishDate').val());

        var files = $("#fileNews").get(0).files;
        if (files.length > 0) {
            for (var i = 0; i < files.length; ++i) {
                data.append("files[]" + i, files[i]);
            }
        }

        if ($('#dvImages>span').children().length + files.length*2 <= 10) {
        $.ajax({
            type: "POST",
            url: "/news/createoredit",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                //if (data > 0) {
                //    AlertWithTitleIcon("Success", "Profile picture changed!", "success");
                      var url = '@Url.Action("index", "news")';
                                window.location.href = url;

                return false;
            },
            error: function () {
                return 'error';
            }
        });
        }
        else {
            AlertWithTitleIcon("Alert", "Image count can’t exceed its maximum limit.", "warning");
            $('#fileNews').val('')
        }

    }
    //$("#cross").click(function (e) {
    //$(document).on('click', '#cross', function () {
    //    var _image = $(this).attr("db");
    //    var _imgeId = '#hdn' + $(_image).attr('id');
    //    var _dbImgId = $(_imgeId).val(); //if the image is already saved in db
    //    var src = $(_image).attr('src'); //src to delete the image from the folder it is saved in
    //    var imgId = $('[id$="' + _imgeId + '"]').val(); //if the image is saved in folder
    //    var imgIdx = 0;
    //    if (imgId == undefined) {
    //        imgId = 0;
    //        imgIdx = (_image).split('_')[1]; //to get the index of the image where the click event has been fired
    //    }
    //    imgId = parseInt(imgId);
    //    if (_dbImgId != "") {
    //        imgId = parseInt(_dbImgId); //replace the imgId with dbimageid
    //    }

    //    $.ajax({
    //        type: "POST",
    //        url: "/news/deletenewsimage",
    //        data: { ImgId: imgId, ImageSrc: src, Idx: imgIdx},
    //        success: function (data) {
    //            if (data.Result = 1) {
    //                $("#spn_" + data.idx).remove();
    //                $("#imgNews_" + data.idx).remove();
    //                $("#hdnimgNews_" + data.idx).remove();
    //                $("#hdnImagePath_" + data.idx).remove();
    //            }
    //            //if (data > 0) {
    //            //    AlertWithTitleIcon("Success", "Profile picture changed!");
    //            //}
    //            //else
    //            //if(data = 0) {

    //            //}
    //            //else {
    //            //    AlertWithTitleIcon("Error", "This action could not be completed. Try again!","error");
    //            //}
    //            return false;
    //        },
    //        error: function () {
    //
    //            return 'error';
    //        }
    //    });
    //});



    //$(function () {
       
    //        /*--FOR DATE----*/
    //        var date = new Date();
    //        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

    //        //Date1
    //    $('#PublishDate').datepicker({
    //            format: 'dd-mm-yyyy',
    //            todayHighlight: 'TRUE',
    //            startDate: today,
    //            endDate: 0,
    //            autoclose: true
    //        });

     

    //    //$('#datetimepicker').datetimepicker({
    //    //    locale: 'pt-br',
    //    //    minDate: moment()
    //    //});        
    //});
    
</script>