﻿@using FPModels.Models;
@model NewsModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        News Details
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    <label>Author</label>
                    <p>@Model.FirstName @Model.MI @Model.LastName</p>
                </li>
                <li>
                    <label>Title</label>
                    <p>
                        @Model.Title
                    </p>
                </li>
                <li>
                    <label>Content</label>
                    <p>
                        @Model.Content
                    </p>
                </li>
                <li>
                    <label>Share</label>
                    <p>@Model.ShareCount</p>
                </li>
                <li>
                    <label>View</label>
                    <p>@Model.ViewCount</p>
                </li>
                @if (Model._ImagePathList != null && Model._ImagePathList.Count > 0)
                {
                    <li class="news-view-img">
                        <label>images</label>
                        <p>
                            <span>
                                @for (int i = 0; i < Model._ImagePathList.Count(); i++)
                                {
                                    if (!String.IsNullOrEmpty(Model._ImagePathList[i].ImagePath))
                                    {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='/content/images/no-image-rec.png';">
                                    </a>
                                    }
                                }
                            </span>
                        </p>
                    </li>
                }
                else
                {
                    <li class="news-view-img">
                        <label>images</label>
                        <p>No Image</p>
                    </li>
                }
                <li>
                    <label>Date & Time</label>
                    <p>@Model.PublishDate</p>
                    <p>@Model.PublishTime</p>
                </li>
                <li>
                    <label>Status</label>
                    @if (Model.Status == "Published")
                    {
                        <p><span class="m-badge  m-badge--primary m-badge--wide">Published</span></p>
                    }
                    else if (Model.Status == "Scheduled")
                    {
                        <p><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></p>
                    }
                    else if (Model.Status == "Drafted")
                    {
                        <p><span class="m-badge  m-badge--danger m-badge--wide">Drafted</span></p>
                    }
                    else if (Model.Status == "Archived")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></p>
                    }
                </li>
            </ul>
            <div class="m-form__actions form-buttons">
                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                {
                    <a href="/news/edit?nid=@Server.UrlEncode(Model.EncryptedNewsId)" class="btn btn-primary">Edit</a>
                }
                @if (Model.Status != "Archived")
                {
                    <a href="/news/archive?nid=@Model.EncryptedNewsId" class="btn btn-primary">
                        Archive
                    </a>
                }
                @if (FPBAL.Business.MenuAccess.Allow("delete") && (Model.Status != "Published"))
                {
                    <a href="/news/delete?nid=@Model.EncryptedNewsId" class="btn btn-primary">
                        Delete
                    </a>
                }
                <a href="/news/index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btnDel').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
</script>