﻿@using FPModels.Models;
@model NewsModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}

<div class="m-content news_exclusive_main">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">

                <li class="news_li_date">

                    <h4>
                        @Model.Title
                    </h4>
                    <p>@Model.PublishDate</p>
                </li>
                <li class="news-exclusive-img">


                    @if (Model._ImagePathList != null)
                    {

                        for (int i = 0; i < Model._ImagePathList.Count(); i++)
                        {

                            if (!String.IsNullOrEmpty(Model._ImagePathList[i].ImagePath))
                            {
                                if (Convert.ToString(i) == "0" && Model._ImagePathList[i].ImagePath != "")
                                {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='../content/images/news.png';">
                                    </a>
                                }

                                else if (Convert.ToString(i) == "1" && Model._ImagePathList[i].ImagePath != "")
                                {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='../content/images/news.png';">
                                    </a>
                                }
                                else if (Convert.ToString(i) == "2" && Model._ImagePathList[i].ImagePath != "")
                                {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='../content/images/news.png';">
                                    </a>
                                }
                                else if (Convert.ToString(i) == "3" && Model._ImagePathList[i].ImagePath != "")
                                {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='../content/images/news.png';">
                                    </a>
                                }
                                else if (Convert.ToString(i) == "4" && Model._ImagePathList[i].ImagePath != "")
                                {
                                    @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                    <a class="docView">
                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                             onerror="this.src='../content/images/news.png';">
                                    </a>
                                }
                               
                            }
                        }

                    }

                    else
                    {
                        <p>No Image</p>
                    }

                </li>
                <li>
                   
                    <p>@Model.Content</p>
                   
                </li>

            </ul>
                
            </div>
        </div>
    </div>
 