﻿ @using FPModels.Models
@model  NewsModel

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @using (Html.BeginForm("edit", "news", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        Html.RenderPartial("CreateOrEdit");
    }




@*@model FPModels.Models.NewsModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content payment-form-wrapper">
    <div class="row">
        <div class="col-md-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Title & Content
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Title:</label>
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Title", @maxlength = "30", @required = "required", } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "m-form__help" })
                            @*<input type="text" class="form-control m-input" placeholder="Write here">
                                <span class="m-form__help">Please enter the title</span>
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Content</label>
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control m-input", @rows = "20", @placeholder = "Write Content", @maxlength = "1000", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "m-form__help" })
                            @*<textarea class="form-control m-input" rows="20" placeholder="Write here"></textarea>
                                <span class="m-form__help">Please enter agenda</span>
                                <span class="m-form__help pull-right">Maximum 1000 words</span>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->
        </div>
        <div class="col-md-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Additional Details
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="m-form__group form-group add-file-wrap">
                            <label for="">Add image (Maximum 5 images)</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn">Upload</button>
                                @if (Model._ImagePathList != null)
                                {
                                    <input type="file" name="myfile" />
                                    for (int i = 0; i < Model._ImagePathList.Count(); i++)
                                    {
                                        @Html.HiddenFor(model => model._ImagePathList[i].ImageId)
                                        @Html.HiddenFor(model => model._ImagePathList[i].ImagePath)
                                        <span class="file-name">
                                            <img src="~/Content/images/close.png" alt="close">
                                            @Model._ImagePathList[i].ImagePath
                                        </span>
                                    }
                                }
                                @*<span class="file-name"><img src="~/Content/images/close.png" alt="close"> Img_1.jpg</span>
                                    <span class="file-name"><img src="~/Content/images/close.png" alt="close"> Img_5.jpg</span>
                            </div>
                        </div>
                        <div class="m-form__group form-group">
                            <label for="">Time:</label>
                            <div class="m-radio-list">
                                @*<label class="m-radio">

                                    <span></span>
                                    </label>

                                <label class="m-radio">
                                    
                                    @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio date" })Now
                                    <span class="Published" onclick="Selection('Published');return false"></span>
                                </label>

                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @class = "radio date" })Schedule for later
                                    <div class="input-group date">
                                        @Html.TextBoxFor(model => model.PublishDate, new { @id = "m_datetimepicker_3", @class = "form-control m-input date", @style = "display:block;" })
                                        
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                    <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                </label>
                                <label class="m-radio">
                                    @Html.RadioButtonFor(model => model.Status, "Archived", new { @id = "Archived", @class = "radio" })Save in drafts
                                    
                                    <span class="Archived" onclick="Selection('Archived');return false"></span>
                                </label>
                            </div>
                            
                        </div>
                        <div class="m-form__actions form-buttons">
                            <button type="reset" class="btn btn-primary">Publish</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        CheckSelection(@Model.Status);
    });

    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {
        
        if ($(id).prop("checked") == true) {
            alert(true);
            $(id).prop("checked", false);
        }
        else {
            alert(false);
            $(id).prop("checked", true);
        }
    }
</script>*@